Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

codecov.yml:

component_management:
  individual_components:
    - component_id: cache
      name: Cache
      paths:
        - "src/Toolkit/Cache/**"
    - component_id: cli
      name: Cli
      paths:
        - "src/Toolkit/Cli/**"
    - component_id: collections
      name: Collections
      paths:
        - "src/Toolkit/Collection/**"
    - component_id: console
      name: Console
      paths:
        - "src/Toolkit/Console/**"
    - component_id: container
      name: Container
      paths:
        - "src/Toolkit/Container/**"
    - component_id: contracts
      name: Contracts
      paths:
        - "src/Toolkit/Contract/**"
    - component_id: core
      name: Core
      paths:
        - "src/Toolkit/Core/**"
    - component_id: curler
      name: Curler
      paths:
        - "src/Toolkit/Curler/**"
    - component_id: db
      name: Db
      paths:
        - "src/Toolkit/Db/**"
    - component_id: http
      name: Http
      paths:
        - "src/Toolkit/Http/**"
    - component_id: iterators
      name: Iterators
      paths:
        - "src/Toolkit/Iterator/**"
    - component_id: phpdoc
      name: PHPDoc
      paths:
        - "src/Toolkit/PHPDoc/**"
    - component_id: phpstan
      name: PHPStan
      paths:
        - "src/Toolkit/PHPStan/**"
    - component_id: polyfills
      name: Polyfills
      paths:
        - "src/Toolkit/Polyfill/**"
    - component_id: sli
      name: Sli
      paths:
        - "src/Toolkit/Sli/**"
    - component_id: sync
      name: Sync
      paths:
        - "src/Toolkit/Sync/**"
    - component_id: utils
      name: Utils
      paths:
        - "src/Toolkit/Utility/**"

comment:
  layout: "condensed_header, condensed_files, condensed_footer, components"

Release v0.99.80
  CHANGELOG.md
Due: none

Http: Review credential classes
  src/Toolkit/Contract/Http/CredentialInterface.php
  src/Toolkit/Http/GenericCredential.php
  src/Toolkit/Http/GenericToken.php
  src/Toolkit/Http/OAuth2/OAuth2AccessToken.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php
  tests/unit/Toolkit/Http/HeadersTest.php
  tests/unit/Toolkit/Http/OAuth2/OAuth2AccessTokenTest.php
Due: Contracts, Http

Http: Rename/duplicate credential class files before refactoring
  src/Toolkit/Http/GenericToken.php
  src/Toolkit/Http/OAuth2/OAuth2AccessToken.php
  tests/unit/Toolkit/Http/OAuth2/OAuth2AccessTokenTest.php
Due: Http

Http: Review OAuth 2.0 classes
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  phpstan.neon.dist
  src/Toolkit/Http/OAuth2/HasGrantType.php
  src/Toolkit/Http/OAuth2/HasResponseType.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  src/Toolkit/Http/OAuth2/OAuth2Flow.php
  src/Toolkit/Http/OAuth2/OAuth2GrantType.php
  tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php
Due: Http

Utility: Add `Str::decodeBase32()`
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/Utility/StrTest.php
Due: Utils

Utility: Fix issues reported by CI workflow
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/Utility/StrTest.php
Due: Utils

Http: Add `HttpUtil::getTOTP()` and relevant classes and interfaces
  src/Toolkit/Contract/HasHmacHashAlgorithm.php
  src/Toolkit/Contract/Http/OneTimePasswordGeneratorInterface.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Internal/TOTPGenerator.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
Due: Contracts, Http

Update dependencies, work around PHPStan regressions and fix issues
  .gitattributes
  composer.lock
  phpstan-baseline-8.0.neon
  phpstan-baseline-8.1.neon
  phpstan-baseline-8.2.neon
  phpstan-baseline-8.4.neon
  scripts/check-coverage.php
  scripts/generate.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Console/ConsoleLogger.php
  src/Toolkit/Core/Facade/Facade.php
  src/Toolkit/Core/Pipeline.php
  src/Toolkit/Core/Process.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/PHPStan/Core/ImmutableTraitRule.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Support/SyncEntityFuzzyResolver.php
  src/Toolkit/Sync/SyncSerializeRules.php
  src/Toolkit/Sync/SyncStore.php
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/File.php
  src/Toolkit/Utility/Internal/Exporter.php
  src/Toolkit/Utility/Internal/IndentationGuesser.php
  src/Toolkit/Utility/Regex.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/Core/GraphTest.php
  tests/unit/Toolkit/Sli/SliTestCase.php
  tests/unit/Toolkit/Utility/TestTest.php
Due: Cli, Console, Core, PHPDoc, PHPStan, Sync, Utils

Update tools, replace PHP 8.3 with 8.4 in non-matrix workflows
  .github/workflows/ci.yml
  .github/workflows/documentation.yml
  .phive/phars.xml
  scripts/run-tests.sh
  tools/composer-require-checker
  tools/php-cs-fixer
Due: none

Update apigen
  tools/apigen/composer.lock
Due: none

Run PHPStan on every PHP version in CI workflow
  .github/workflows/ci.yml
  scripts/run-tests.sh
Due: none

Enable parallel processing in php-cs-fixer config
  .php-cs-fixer.dist.php
Due: none

Add experimental PHP 8.5 support to CI workflow and `run-tests.sh`
  .gitattributes
  .github/workflows/ci.yml
  phpstan-baseline-8.5.neon
  scripts/run-tests.sh
Due: none

Fix issues reported by PHPStan running on PHP 8.5
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Core/Concern/ImmutableTrait.php
  src/Toolkit/Core/Reflection/ClassReflection.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Utility/Internal/Copier.php
  src/Toolkit/Utility/Internal/Exporter.php
  src/Toolkit/Utility/Test.php
  tests/fixtures/Toolkit/Cli/Command/TestOptions.php
  tests/phpstan-conditional.php
Due: Cli, Core, Sli, Utils

Fix PHP 8.5 compatibility issues
  composer.json
  composer.lock
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Http/HttpUtil.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilTest.php
  tests/unit/Toolkit/Utility/TestTest.php
Due: Cli, Http

Adopt latest `lkrms/dice` for PHP 8.5 compatibility fixes
  composer.json
  composer.lock
Due: none

Add PHP 8.5 tokens
  .php-cs-fixer.dist.php
  src/Toolkit/Sli/bootstrap.php
Due: Sli

Release v0.99.81
  CHANGELOG.md
Due: none
