Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Utility: Optionally honour umask in `File::create()` and `createDir()`
  src/Toolkit/Utility/File.php
  tests/unit/Toolkit/Utility/FileTest.php
Due: Utils

Release v0.99.70
  CHANGELOG.md
Due: none

Utility: Apply umask by default in `File::create()` and `createDir()`
  src/Toolkit/Utility/File.php
Due: Utils

Utility: Add `File::rename()` and `symlink()`
  src/Toolkit/Utility/File.php
Due: Utils

Utility: Review `Debug`, `Format`, `Regex`, exceptions, internal classes
  src/Toolkit/Utility/Debug.php
  src/Toolkit/Utility/Env.php
  src/Toolkit/Utility/Exception/AbstractUtilityException.php
  src/Toolkit/Utility/Exception/PcreErrorException.php
  src/Toolkit/Utility/Format.php
  src/Toolkit/Utility/Get.php
  src/Toolkit/Utility/Internal/NamedType.php
  src/Toolkit/Utility/Regex.php
  src/Toolkit/Utility/Test.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/Utility/FormatTest.php
  tests/unit/Toolkit/Utility/RegexTest.php
Due: Utils

Adopt `Regex::quote()`
  src/Toolkit/Core/ErrorHandler.php
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Utility/Get.php
  src/Toolkit/Utility/Str.php
Due: Core, Sli, Utils

Release v0.99.71
  CHANGELOG.md
Due: none

Utility: Update `README.md`
  src/Toolkit/Utility/Get.php
  src/Toolkit/Utility/Json.php
  src/Toolkit/Utility/README.md
  src/Toolkit/Utility/Test.php
Due: Utils

Utility: Review `Json`
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Curler/CurlerHarRecorder.php
  src/Toolkit/Http/FormData.php
  src/Toolkit/Http/HttpStream.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  src/Toolkit/Sli/Command/AbstractCommand.php
  src/Toolkit/Sync/Command/AbstractSyncCommand.php
  src/Toolkit/Sync/SyncStore.php
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/Format.php
  src/Toolkit/Utility/Json.php
  tests/fixtures/Toolkit/Cli/Command/TestOptions.php
  tests/unit/Toolkit/Cli/CliApplicationTest.php
  tests/unit/Toolkit/Curler/CurlerHarRecorderTest.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/FormDataTest.php
  tests/unit/Toolkit/Utility/ArrTest.php
  tests/unit/Toolkit/Utility/FormatTest.php
Due: Collections, Container, Curler, Http, Sli, Sync, Utils

Utility: Review `Get`
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Utility/Get.php
  src/Toolkit/Utility/Internal/Copier.php
  src/Toolkit/Utility/Internal/Exporter.php
  src/Toolkit/Utility/Reflect.php
  src/Toolkit/Utility/Regex.php
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/Sync/Command/GetSyncEntityTest.php
  tests/unit/Toolkit/Sync/Command/SendHttpSyncProviderRequestTest.php
  tests/unit/Toolkit/Utility/Get/GetTest.php
  tests/unit/Toolkit/Utility/Reflect/ReflectTest.php
  tests/unit/Toolkit/Utility/RegexTest.php
Due: Sli, Utils

Utility: Review `Inflect`
  src/Toolkit/Utility/Inflect.php
Due: Utils

PHPStan: Fix PHPUnit test issues
  composer.json
  composer.lock
  phpstan.neon.dist
  phpunit.xml.dist
  src/Toolkit/PHPStan/Core/Rules/HasMutatorReadWritePropertiesExtension.php
  tests/bootstrap.php
  tests/unit/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRuleFailures.php
  tests/unit/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRuleTest.php
  tests/unit/Toolkit/PHPStan/PHPStanTestCaseTrait.php
  tests/unit/Toolkit/PHPStan/ReturnTypeExtensionTestCase.php
  tests/unit/Toolkit/PHPStan/RuleTestCase.php
  tests/unit/Toolkit/PHPStan/Utility/Rules/GetCoalesceRuleFailures.php
  tests/unit/Toolkit/PHPStan/Utility/Rules/GetCoalesceRuleTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrExtendReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrExtendReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrFlattenReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrFlattenReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrWhereNotEmptyReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrWhereNotEmptyReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrWhereNotNullReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrWhereNotNullReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/GetCoalesceReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/Type/GetCoalesceReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/StrCoalesceReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/Type/StrCoalesceReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/UtilityReturnTypeExtensionTest.php
Due: PHPStan

Utility: Review `Package`
  src/Toolkit/Utility/Package.php
  tests/unit/Toolkit/Utility/PackageTest.php
Due: Utils

Utility: Review `Reflect`
  src/Toolkit/Utility/Reflect.php
Due: Utils

Utility: Review `Sys`
  src/Toolkit/Utility/Sys.php
Due: Utils

Utility: Review `Test`
  src/Toolkit/Utility/Test.php
Due: Utils

CI: Always run workflow on push to address gaps in Codecov's data
  .github/workflows/ci.yml
Due: none

Update `README.md`, adding a preliminary component diagram
  README.md
  images/components.svg
Due: none

Cli: Reimplement failure when running as root (added in 912c04f5)
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Utility/Sys.php
Due: Cli, Utils

Cli: Fix issue where `getVersionString()` may include Git ref twice
  src/Toolkit/Cli/CliApplication.php
Due: Cli

Release v0.99.72
  CHANGELOG.md
Due: none

Utility: Implement `Str::mergeLists()` in separate class
  src/Toolkit/Utility/Internal/ListMerger.php
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/Utility/StrTest.php
Due: Utils

Utility: Review `Str`
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/Utility/Regex.php
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/TestUtil.php
  tests/unit/Toolkit/Utility/StrTest.php
Due: PHPDoc, Utils

Utility: Review `Env`
  src/Toolkit/Utility/Env.php
Due: Utils

Utility: Update `README.md`
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/README.md
Due: Utils

Utility: Finalise component review
  src/Toolkit/Http/FormData.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/Date.php
  tests/unit/Toolkit/Utility/ArrTest.php
  tests/unit/Toolkit/Utility/DateTest.php
Due: Http, Sync, Utils

Release v0.99.73
  CHANGELOG.md
Due: none

Utility: Fix regression in `Str::expandLeadingTabs()`
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/Utility/StrTest.php
Due: Utils

Release v0.99.74
  CHANGELOG.md
Due: none

Utility: Add `Inflect::list()`
  src/Toolkit/Utility/Inflect.php
  tests/unit/Toolkit/Utility/InflectTest.php
Due: Utils

Core: Review `AbstractFacade`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Core/AbstractFacade.php
  src/Toolkit/Core/Concern/HasUnderlyingService.php
  src/Toolkit/Core/Facade/App.php
  src/Toolkit/Core/Facade/Cache.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Core/Facade/Sync.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  tests/fixtures/Toolkit/Core/AbstractFacade/MyBrokenFacade.php
  tests/fixtures/Toolkit/Core/AbstractFacade/MyInterfaceFacade.php
  tests/unit/Toolkit/Core/AbstractFacadeTest.php
Due: Core, Sli

Cache: Update documentation, improve TTL handling
  src/Toolkit/Cache/CacheCopyFailedException.php
  src/Toolkit/Cache/CacheStore.php
  src/Toolkit/Cache/README.md
  src/Toolkit/Cache/composer.json
  src/Toolkit/Contract/Cache/CacheCopyFailedExceptionInterface.php
  src/Toolkit/Contract/Cache/CacheExceptionInterface.php
  src/Toolkit/Contract/Cache/CacheInterface.php
  src/Toolkit/Core/Facade/Cache.php
  tests/unit/Toolkit/Cache/CacheStoreTest.php
Due: Cache, Contracts, Core

Sync: Extend `ClassReflection` from `Reflection` classes
  src/Toolkit/Sync/Reflection/SyncEntityReflection.php
  src/Toolkit/Sync/Reflection/SyncProviderReflection.php
Due: Sync

Core: Review `Providable`
  src/Toolkit/Contract/Core/Entity/Providable.php
  src/Toolkit/Contract/Core/Entity/ProviderEntityInterface.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/AbstractSyncProvider.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php
  tests/unit/Toolkit/Sync/Support/DeferredEntityTest.php
Due: Contracts, Core, Sync

Core: Review remaining `Entity` contracts
  src/Toolkit/Contract/Core/Entity/Extensible.php
  src/Toolkit/Contract/Core/Entity/Readable.php
  src/Toolkit/Contract/Core/Entity/Writable.php
Due: Contracts

Core: Review exceptions
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Console/ConsoleWriter.php
  src/Toolkit/Contract/Core/Exception/ExceptionInterface.php
  src/Toolkit/Contract/Core/Exception/MultipleErrorExceptionInterface.php
  src/Toolkit/Core/Concern/ExceptionTrait.php
  src/Toolkit/Core/Concern/MultipleErrorExceptionTrait.php
  src/Toolkit/Core/Exception/MethodNotImplementedException.php
  tests/unit/Toolkit/Core/AbstractExceptionTest.php
  tests/unit/Toolkit/Core/AbstractMultipleErrorExceptionTest.php
Due: Cli, Console, Contracts, Core

Sync: Rename `Reflection` classes for consistency
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/AbstractSyncProvider.php
  src/Toolkit/Sync/Command/AbstractSyncCommand.php
  src/Toolkit/Sync/Reflection/SyncEntityReflection.php
  src/Toolkit/Sync/Reflection/SyncProviderReflection.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Sync/SyncUtil.php
  tests/unit/Toolkit/Sync/Support/SyncIntrospectorTest.php
Due: Sync

Core: Rearrange exceptions
  src/Toolkit/Cli/Exception/CliInvalidArgumentsException.php
  src/Toolkit/Cli/Exception/CliUnknownValueException.php
  src/Toolkit/Container/Exception/ArgumentsNotUsedException.php
  src/Toolkit/Container/Exception/InvalidServiceException.php
  src/Toolkit/Container/Exception/ServiceNotFoundException.php
  src/Toolkit/Core/Exception/Exception.php
  src/Toolkit/Core/Exception/ExceptionTrait.php
  src/Toolkit/Core/Exception/InvalidConfigurationException.php
  src/Toolkit/Core/Exception/MultipleErrorException.php
  src/Toolkit/Core/Exception/MultipleErrorExceptionTrait.php
  src/Toolkit/Core/Exception/ProcessException.php
  src/Toolkit/Curler/Exception/AbstractRequestException.php
  src/Toolkit/Http/Exception/AbstractHttpException.php
  src/Toolkit/Http/OAuth2/OAuth2Exception.php
  src/Toolkit/Sync/Exception/AbstractSyncException.php
  tests/unit/Toolkit/Core/Exception/ExceptionTest.php
  tests/unit/Toolkit/Core/Exception/MultipleErrorExceptionTest.php
Due: Cli, Container, Core, Curler, Http, Sync

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
