Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Console: Rename `ConsoleTargetTypeFlag` to `HasTargetFlag`
  scripts/generate.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Contract/Console/HasTargetFlag.php
  src/Toolkit/Core/Facade/Console.php
Due: Contracts, Core

Console: Review `HasMessageType`, `HasTargetFlag`
  src/Toolkit/Contract/Console/HasMessageType.php
  src/Toolkit/Contract/Console/HasMessageTypes.php
  src/Toolkit/Contract/Console/HasTargetFlag.php
Due: Contracts

Update `mockoon-cli`
  tools/mockoon-cli/package-lock.json
  tools/mockoon-cli/package.json
Due: none

Console: Rearrange `ConsoleInterface` methods before refactoring
  src/Toolkit/Contract/Console/ConsoleInterface.php
Due: Contracts

Console: Review `ConsoleInterface` and reimplement as needed
  docs/Console.md
  scripts/delete-covers.php
  scripts/generate.php
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliHelpStyle.php
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/Format/ConsoleFormatter.php
  src/Toolkit/Console/README.md
  src/Toolkit/Container/Application.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  tests/3rdparty/Toolkit/PsrLog/LoggerTest.php
Due: Cli, Console, Container, Contracts, Core, Sync

Console: Review target interfaces and reimplement as needed
  src/Toolkit/Console/Target/ConsoleStreamTarget.php
  src/Toolkit/Console/Target/StreamTarget.php
  src/Toolkit/Contract/Console/Target/HasPrefix.php
  src/Toolkit/Contract/Console/Target/StreamTargetInterface.php
  src/Toolkit/Contract/Console/Target/TargetInterface.php
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Testing/Console/MockTarget.php
Due: Console, Contracts, Sli, Sync

Console: Rename `Format` interfaces before refactoring
  src/Toolkit/Cli/CliHelpStyle.php
  src/Toolkit/Console/Format/ConsoleFormat.php
  src/Toolkit/Console/Format/ConsoleFormatter.php
  src/Toolkit/Console/Format/ConsoleFormatterFactory.php
  src/Toolkit/Console/Format/ConsoleLoopbackFormat.php
  src/Toolkit/Console/Format/ConsoleManPageFormat.php
  src/Toolkit/Console/Format/ConsoleMarkdownFormat.php
  src/Toolkit/Console/Format/ConsoleMessageAttributes.php
  src/Toolkit/Console/Format/ConsoleMessageFormat.php
  src/Toolkit/Console/Format/ConsoleTagAttributes.php
  src/Toolkit/Console/Format/ConsoleTagFormats.php
  src/Toolkit/Contract/Cli/CliHelpStyleInterface.php
  src/Toolkit/Contract/Console/Format/FormatInterface.php
  src/Toolkit/Contract/Console/Format/FormatterInterface.php
  src/Toolkit/Contract/Console/Format/MessageAttributesInterface.php
  src/Toolkit/Contract/Console/Format/MessageFormatInterface.php
  src/Toolkit/Contract/Console/Format/TagAttributesInterface.php
  src/Toolkit/Contract/Console/Target/TargetInterface.php
  src/Toolkit/Testing/Console/MockTarget.php
Due: Cli, Console, Contracts

Console: Review `ConsoleTag`
  src/Toolkit/Console/Format/ConsoleFormat.php
  src/Toolkit/Console/Format/ConsoleFormatter.php
  src/Toolkit/Console/Format/ConsoleLoopbackFormat.php
  src/Toolkit/Console/Format/ConsoleManPageFormat.php
  src/Toolkit/Console/Format/ConsoleMarkdownFormat.php
  src/Toolkit/Console/Format/ConsoleTagAttributes.php
  src/Toolkit/Console/Format/ConsoleTagFormats.php
  src/Toolkit/Console/Target/ConsolePrefixTarget.php
  src/Toolkit/Console/Target/ConsoleStreamTarget.php
  src/Toolkit/Contract/Console/Format/ConsoleTag.php
  src/Toolkit/Contract/Console/Format/FormatInterface.php
  src/Toolkit/Contract/Console/Format/FormatterInterface.php
  src/Toolkit/Contract/Console/Format/TagAttributesInterface.php
Due: Console, Contracts

Console: Rename `ConsoleTag` to `HasTag`
  src/Toolkit/Contract/Console/Format/FormatInterface.php
  src/Toolkit/Contract/Console/Format/FormatterInterface.php
  src/Toolkit/Contract/Console/Format/HasTag.php
  src/Toolkit/Contract/Console/Format/TagAttributesInterface.php
Due: Contracts

Console: Review `Format` interfaces and reimplement as needed
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Console/Format/ConsoleFormatter.php
  src/Toolkit/Console/Format/ConsoleTagFormats.php
  src/Toolkit/Contract/Console/Format/FormatterInterface.php
Due: Cli, Console, Contracts

Console: Review `Format` interfaces and reimplement as needed
  src/Toolkit/Console/Format/ConsoleFormat.php
  src/Toolkit/Console/Format/ConsoleLoopbackFormat.php
  src/Toolkit/Console/Format/ConsoleManPageFormat.php
  src/Toolkit/Console/Format/ConsoleMarkdownFormat.php
  src/Toolkit/Console/Format/ConsoleTagFormats.php
  src/Toolkit/Contract/Console/Format/FormatInterface.php
Due: Console, Contracts

Console: Review `Format` interfaces and reimplement as needed
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/Format/ConsoleFormatter.php
  src/Toolkit/Contract/Console/Format/FormatterInterface.php
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: Console, Contracts

Console: Review `Format` interfaces
  docs/Console.md
  src/Toolkit/Console/Format/ConsoleFormat.php
  src/Toolkit/Console/Format/ConsoleFormatter.php
  src/Toolkit/Console/Format/ConsoleLoopbackFormat.php
  src/Toolkit/Console/Format/ConsoleManPageFormat.php
  src/Toolkit/Console/Format/ConsoleMarkdownFormat.php
  src/Toolkit/Console/Format/ConsoleMessageFormat.php
  src/Toolkit/Console/Format/ConsoleTagFormats.php
  src/Toolkit/Contract/Console/Format/FormatInterface.php
  src/Toolkit/Contract/Console/Format/FormatterInterface.php
  src/Toolkit/Contract/Console/Format/MessageFormatInterface.php
  tests/unit/Toolkit/Console/ConsoleFormatterTest.php
Due: Console, Contracts

Console: Review `Format` interfaces and reimplement as needed
  src/Toolkit/Console/Format/ConsoleFormat.php
  src/Toolkit/Console/Format/ConsoleLoopbackFormat.php
  src/Toolkit/Console/Format/ConsoleManPageFormat.php
  src/Toolkit/Console/Format/ConsoleMarkdownFormat.php
  src/Toolkit/Console/Format/ConsoleMessageAttributes.php
  src/Toolkit/Console/Format/ConsoleMessageFormat.php
  src/Toolkit/Console/Format/ConsoleTagAttributes.php
  src/Toolkit/Console/Format/ConsoleTagFormats.php
  src/Toolkit/Contract/Console/Format/MessageAttributesInterface.php
  src/Toolkit/Contract/Console/Format/TagAttributesInterface.php
Due: Console, Contracts

Console: Review `Format` interfaces
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Console/Format/ConsoleFormatter.php
  src/Toolkit/Console/Format/ConsoleTagFormats.php
  src/Toolkit/Contract/Console/Format/FormatterInterface.php
Due: Cli, Console, Contracts

Console: Rearrange methods in `FormatterInterface`
  src/Toolkit/Contract/Console/Format/FormatterInterface.php
Due: Contracts

Console: Improve test coverage
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: none

Console: Rename `Format` classes
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliHelpStyle.php
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/Format/AbstractFormat.php
  src/Toolkit/Console/Format/ConsoleTagFormatFactory.php
  src/Toolkit/Console/Format/Formatter.php
  src/Toolkit/Console/Format/LoopbackFormat.php
  src/Toolkit/Console/Format/ManPageFormat.php
  src/Toolkit/Console/Format/MarkdownFormat.php
  src/Toolkit/Console/Format/MessageAttributes.php
  src/Toolkit/Console/Format/MessageFormat.php
  src/Toolkit/Console/Format/MessageFormats.php
  src/Toolkit/Console/Format/TagAttributes.php
  src/Toolkit/Console/Format/TagFormats.php
  src/Toolkit/Console/Format/TtyFormat.php
  src/Toolkit/Console/Target/ConsoleStreamTarget.php
  src/Toolkit/Console/Target/ConsoleTarget.php
  src/Toolkit/Testing/Console/MockTarget.php
  tests/3rdparty/Toolkit/PsrLog/LoggerTest.php
  tests/legacy/console
  tests/unit/Toolkit/Console/ConsoleFormatterTest.php
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: Cli, Console

Console: Review `Format` classes
  docs/Console.md
  src/Toolkit/Console/Format/AbstractFormat.php
  src/Toolkit/Console/Format/ConsoleFormat.php
  src/Toolkit/Console/Format/ConsoleFormatter.php
  src/Toolkit/Console/Format/ConsoleMessageFormat.php
  src/Toolkit/Console/Format/ConsoleMessageFormats.php
  src/Toolkit/Console/Format/ConsoleTagFormats.php
  src/Toolkit/Console/Format/EncloseAndReplaceFormatTrait.php
  src/Toolkit/Console/Format/NullFormat.php
  src/Toolkit/Console/Format/NullMessageFormat.php
  src/Toolkit/Console/Target/ConsoleStreamTarget.php
  src/Toolkit/Console/Target/ConsoleTarget.php
  src/Toolkit/Contract/Console/Format/FormatInterface.php
Due: Console, Contracts

Console: Rename `Target` classes
  src/Toolkit/Console/Target/AbstractStreamTarget.php
  src/Toolkit/Console/Target/AbstractTarget.php
  src/Toolkit/Console/Target/AbstractTargetWithPrefix.php
  src/Toolkit/Console/Target/AnalogTarget.php
  src/Toolkit/Console/Target/LoggerTarget.php
  src/Toolkit/Console/Target/StreamTarget.php
Due: Console

Console: Review `Format` classes
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Console/Format/AbstractFormat.php
  src/Toolkit/Console/Format/ConsoleFormatterFactory.php
  src/Toolkit/Console/Format/ConsoleTagFormatFactory.php
  src/Toolkit/Console/Format/EncloseAndReplaceFormatTrait.php
  src/Toolkit/Console/Format/EncloseAndReplaceTrait.php
  src/Toolkit/Console/Format/EncloseTrait.php
  src/Toolkit/Console/Format/Formatter.php
  src/Toolkit/Console/Format/IndentCodeBlockTrait.php
  src/Toolkit/Console/Format/LoopbackFormat.php
  src/Toolkit/Console/Format/ManPageFormat.php
  src/Toolkit/Console/Format/MarkdownFormat.php
  src/Toolkit/Console/Format/MessageFormat.php
  src/Toolkit/Console/Format/MessageFormats.php
  src/Toolkit/Console/Format/NullFormat.php
  src/Toolkit/Console/Format/NullMessageFormat.php
  src/Toolkit/Console/Format/TagFormats.php
  src/Toolkit/Console/Format/TtyFormat.php
  src/Toolkit/Contract/Console/Format/MessageFormatInterface.php
  tests/unit/Toolkit/Console/ConsoleFormatterTest.php
Due: Cli, Console, Contracts

Console: Review abstract `Target` classes
  src/Toolkit/Console/Target/AbstractStreamTarget.php
  src/Toolkit/Console/Target/AbstractTargetWithPrefix.php
  src/Toolkit/Console/Target/StreamTarget.php
Due: Console

Update PHP CS Fixer configuration and apply
  .php-cs-fixer.dist.php
  tests/unit/Toolkit/Utility/Get/GetTest.php
Due: none

Console: Rearrange methods in `StreamTarget`
  src/Toolkit/Console/Target/StreamTarget.php
Due: Console

Console: Review `Target` classes
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/ConsoleLogger.php
  src/Toolkit/Console/Format/Formatter.php
  src/Toolkit/Console/Target/AnalogTarget.php
  src/Toolkit/Console/Target/LoggerTarget.php
  src/Toolkit/Console/Target/StreamTarget.php
  src/Toolkit/Container/Application.php
Due: Console, Container

Console: Improve test coverage and fix minor issues
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/Format/AbstractFormat.php
  src/Toolkit/Core/Facade/Facade.php
  tests/unit/Toolkit/Console/ConsoleFormatterTest.php
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: Console, Core

Console: Improve test coverage and `StreamTarget` extensibility
  src/Toolkit/Console/Target/StreamTarget.php
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: Console

Testing: Update `MockTarget` for consistency with `StreamTarget`
  src/Toolkit/Testing/Console/MockTarget.php
Due: none

Console: Fix issue where `$msg2` is not indented when prefix width is 2
  src/Toolkit/Console/Console.php
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: Console

Console: Improve test coverage
  tests/unit/Toolkit/Console/ConsoleTest.php
  tests/unit/Toolkit/TestCase.php
Due: none

Console: Rewrite `Console` for compactness, clarity and consistency
  src/Toolkit/Console/Console.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: Console, Contracts

Console: Update documentation to describe new default behaviour
  docs/Console.md
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/README.md
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Core/Facade/Console.php
Due: Console, Contracts, Core

Console: Review `ConsoleLogger`
  src/Toolkit/Console/ConsoleLogger.php
  tests/3rdparty/Toolkit/PsrLog/LoggerTest.php
Due: Console

Console: Refactor `Formatter`
  docs/Console.md
  scripts/check-coverage.php
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliHelpStyle.php
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/ConsoleUtil.php
  src/Toolkit/Console/Format/Formatter.php
  src/Toolkit/Console/Format/MarkdownFormat.php
  src/Toolkit/Console/HasConsoleRegex.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Core/Facade/Console.php
  tests/unit/Toolkit/Console/ConsoleFormatterTest.php
  tests/unit/Toolkit/Console/ConsoleTest.php
  tests/unit/Toolkit/Sync/Command/CheckSyncProviderHeartbeatTest.php
  tests/unit/Toolkit/Sync/Command/GetSyncEntityTest.php
Due: Cli, Console, Contracts, Core

Update dependencies and tools, fix issues reported by latest PHPStan
  .phive/phars.xml
  composer.lock
  phpstan.neon.dist
  src/Toolkit/Core/Legacy/IntrospectionClass.php
  src/Toolkit/Curler/CurlerHarRecorder.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  tests/unit/Toolkit/Container/ContainerTest.php
  tests/unit/Toolkit/Core/PipelineTest.php
  tools/apigen/composer.lock
  tools/php-cs-fixer
  tools/pretty-php
Due: Core, Curler, Http, Sli, Sync

Update dependencies and tools, fix issues reported by latest PHPStan
  .phive/phars.xml
  composer.lock
  src/Toolkit/Core/Legacy/IntrospectionClass.php
  src/Toolkit/Curler/CurlerHarRecorder.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/Container/ContainerTest.php
  tests/unit/Toolkit/Core/PipelineTest.php
  tools/apigen/composer.lock
  tools/php-cs-fixer
  tools/pretty-php
Due: Core, Curler, Http, Sli, Sync

Container: Improve application API
  src/Toolkit/Container/Application.php
  src/Toolkit/Contract/Container/ApplicationInterface.php
  src/Toolkit/Sync/Command/AbstractSyncCommand.php
  tests/unit/Toolkit/Container/ApplicationTest.php
  tests/unit/Toolkit/Sync/Command/CheckSyncProviderHeartbeatTest.php
  tests/unit/Toolkit/Sync/Command/GetSyncEntityTest.php
  tests/unit/Toolkit/Sync/Command/SendHttpSyncProviderRequestTest.php
Due: Container, Contracts, Sync

Container: Add tests
  tests/unit/Toolkit/Container/ApplicationTest.php
Due: none

Remove legacy tests
  .prettyphp
  tests/legacy/Support/http_server
  tests/legacy/Support/token_extractor
  tests/legacy/Template/tgettable
  tests/legacy/console
  tests/legacy/env
  tests/legacy/file
  tests/legacy/sql
Due: none

Http: Review exceptions
  src/Toolkit/Contract/Http/Exception/HttpException.php
  src/Toolkit/Contract/Http/Exception/InvalidHeaderException.php
  src/Toolkit/Contract/Http/Exception/StreamEncapsulationException.php
  src/Toolkit/Contract/Http/Exception/StreamException.php
  src/Toolkit/Http/Exception/HttpException.php
  src/Toolkit/Http/Exception/InvalidHeaderException.php
  src/Toolkit/Http/Exception/StreamEncapsulationException.php
  src/Toolkit/Http/Exception/StreamException.php
Due: Contracts, Http

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
