Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Utility: Review `Arr`
  src/Toolkit/Utility/Arr.php
  tests/unit/Toolkit/Core/ConfigurationManagerTest.php
  tests/unit/Toolkit/Utility/ArrTest.php
Due: Utils

Sync: Refactor context interfaces and classes
  docs/Sync.md
  src/Toolkit/Contract/Core/ProviderContextInterface.php
  src/Toolkit/Contract/Sync/SyncContextInterface.php
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Core/ProviderContext.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/AbstractSyncProvider.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Support/SyncContext.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Sync/SyncStore.php
  tests/unit/Toolkit/Sync/Support/SyncContextTest.php
Due: Contracts, Core, Sync

Sync: Refactor context interfaces and classes
  docs/Sync.md
  src/Toolkit/Contract/Core/ProviderContextInterface.php
  src/Toolkit/Contract/Core/ProviderInterface.php
  src/Toolkit/Contract/Sync/SyncContextInterface.php
  src/Toolkit/Contract/Sync/SyncProviderInterface.php
  src/Toolkit/Core/AbstractProvider.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
  src/Toolkit/Core/ProviderContext.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/AbstractSyncProvider.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Reflection/ReflectionSyncProvider.php
  src/Toolkit/Sync/Support/SyncContext.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  tests/unit/Toolkit/Sync/Support/SyncContextTest.php
  tests/unit/Toolkit/Sync/Support/SyncEntityProviderTest.php
Due: Contracts, Core, Sync

Core: Rename `ArrayMapperFlag` to `ArrayMapperInterface`
  src/Toolkit/Contract/Core/ArrayMapperInterface.php
  src/Toolkit/Contract/Core/Pipeline/BasePipelineInterface.php
  src/Toolkit/Core/ArrayMapper.php
  src/Toolkit/Core/Pipeline.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinitionBuilder.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinitionBuilder.php
  tests/unit/Toolkit/Core/ArrayMapperTest.php
  tests/unit/Toolkit/Core/PipelineTest.php
Due: Contracts, Core, Sync

Core: Review `ArrayMapperInterface` and refactor `ArrayMapper`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Contract/Core/ArrayMapperInterface.php
  src/Toolkit/Core/ArrayMapper.php
  src/Toolkit/Core/Pipeline.php
  tests/unit/Toolkit/Core/ArrayMapperTest.php
Due: Contracts, Core

Core: Review entity interfaces
  docs/Entities.md
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Contract/Core/Cardinality.php
  src/Toolkit/Contract/Core/Entity/Constructible.php
  src/Toolkit/Contract/Core/Entity/Extensible.php
  src/Toolkit/Contract/Core/Entity/Readable.php
  src/Toolkit/Contract/Core/Entity/Relatable.php
  src/Toolkit/Contract/Core/Entity/Temporal.php
  src/Toolkit/Contract/Core/Entity/Treeable.php
  src/Toolkit/Contract/Core/Entity/Writable.php
  src/Toolkit/Contract/Core/Hierarchical.php
  src/Toolkit/Core/Concern/ExtensibleTrait.php
  src/Toolkit/Core/Concern/HasReadableProperties.php
  src/Toolkit/Core/Concern/HasWritableProperties.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
  src/Toolkit/Core/Concern/TreeableTrait.php
  src/Toolkit/Core/IntrospectionClass.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  tests/fixtures/Toolkit/Core/Introspector/A.php
  tests/fixtures/Toolkit/Sync/Entity/Album.php
  tests/fixtures/Toolkit/Sync/Entity/Comment.php
  tests/fixtures/Toolkit/Sync/Entity/Photo.php
  tests/fixtures/Toolkit/Sync/Entity/Post.php
  tests/fixtures/Toolkit/Sync/Entity/Task.php
  tests/fixtures/Toolkit/Sync/Entity/User.php
Due: Contracts, Core, Sli, Sync

Core: Review entity interfaces, add `Flushable`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Contract/Core/Entity/Constructible.php
  src/Toolkit/Contract/Core/Entity/EntityInterface.php
  src/Toolkit/Contract/Core/Entity/Normalisable.php
  src/Toolkit/Contract/Core/Entity/NormaliserFactory.php
  src/Toolkit/Contract/Core/Flushable.php
  src/Toolkit/Contract/Core/NormaliserFlag.php
  src/Toolkit/Contract/Core/Provider/Providable.php
  src/Toolkit/Core/AbstractStreamWrapper.php
  src/Toolkit/Core/ArrayMapper.php
  src/Toolkit/Core/Concern/ConstructibleTrait.php
  src/Toolkit/Core/Concern/ExtensibleTrait.php
  src/Toolkit/Core/Concern/HasNormaliser.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
  src/Toolkit/Core/IntrospectionClass.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Sync/SyncSerializeRules.php
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/stubs/ValueError.php
  tests/fixtures/Toolkit/Core/Introspector/A.php
  tests/fixtures/Toolkit/Core/Introspector/ResolvableA.php
  tests/fixtures/Toolkit/Core/Introspector/ResolvableB.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/Core/ArrayMapperTest.php
  tests/unit/Toolkit/Core/Concern/ConstructibleTrait/ConstructibleTraitTest.php
  tests/unit/Toolkit/Utility/RegexTest.php
Due: Cli, Contracts, Core, Sli, Sync, Utils

Core: Consolidate property read/write code, fix bugs, improve coverage
  src/Toolkit/Core/Concern/ExtensibleTrait.php
  src/Toolkit/Core/Concern/HasReadableProperties.php
  src/Toolkit/Core/Concern/HasWritableProperties.php
  src/Toolkit/Core/Internal/ReadPropertyTrait.php
  src/Toolkit/Core/Internal/WritePropertyTrait.php
  src/Toolkit/Core/IntrospectionClass.php
Due: Core

Utility: Review `Str`
  src/Toolkit/Console/ConsoleFormatter.php
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Http/HttpHeadersInterface.php
  src/Toolkit/Contract/Http/HttpMessageInterface.php
  src/Toolkit/Http/HasHttpHeaders.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/Utility/StrTest.php
Due: Console, Contracts, Http, Utils

Utility: Review `Str`
  src/Toolkit/Sync/Support/SyncEntityFuzzyResolver.php
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/Utility/StrTest.php
Due: Sync, Utils

Release v0.99.55
  CHANGELOG.md
Due: none

Utility: Improve deep copy implementation
  src/Toolkit/Utility/Get.php
  tests/unit/Toolkit/Utility/Get/GetTest.php
Due: Utils

Utility: Add and adopt `ShouldNotHappenException`
  src/Toolkit/Utility/Exception/ShouldNotHappenException.php
  src/Toolkit/Utility/Package.php
Due: Utils

Sli: Move `TokenExtractor`
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
Due: Sli

Sli: Refactor `TokenExtractor`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
Due: Sli

Sli: Add `TokenExtractor` support classes
  .php-cs-fixer.dist.php
  composer.json
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Sli/Internal/GenericToken.php
  src/Toolkit/Sli/Internal/NavigableToken.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
  src/Toolkit/Sli/bootstrap.php
  src/Toolkit/Sli/composer.json
  tests/unit/Toolkit/Sli/Internal/NavigableTokenTest.php
Due: Sli

Polyfill: Improve newline handling in `PhpToken`
  src/Toolkit/Polyfill/PhpToken.php
  tests/unit/Toolkit/Polyfill/PhpTokenTestCase.php
Due: Polyfills

Progress commit
  src/Toolkit/Sli/Command/Analyse/AnalyseMembers.php
Due: Sli

Sli: Refactor `TokenExtractor`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
Due: Sli

Sli: Add `TokenExtractor` support classes
  .php-cs-fixer.dist.php
  composer.json
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  phpunit.xml.dist
  src/Toolkit/Sli/Internal/GenericToken.php
  src/Toolkit/Sli/Internal/NavigableToken.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
  src/Toolkit/Sli/bootstrap.php
  src/Toolkit/Sli/composer.json
  tests/unit/Toolkit/Sli/Internal/NavigableTokenTest.php
Due: Sli

Update tools
  .phive/phars.xml
  tools/pretty-php
Due: none

Utility: Add `File::getIdentifier()`
  src/Toolkit/Utility/File.php
  tests/unit/Toolkit/Utility/FileTest.php
Due: Utils

Http: Add missing test namespaces
  tests/unit/Toolkit/Http/HttpFactoryTest.php
  tests/unit/Toolkit/Http/OAuth2/AccessTokenTest.php
Due: none

Sli: Build out support classes
  src/Toolkit/Sli/Internal/NavigableToken.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
  tests/unit/Toolkit/Sli/Internal/NavigableTokenTest.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
  tests/unit/Toolkit/Sli/SliTestCase.php
Due: Sli

Sli: Don't create detached copies of `NavigableToken`
  src/Toolkit/Sli/Internal/NavigableToken.php
  tests/unit/Toolkit/Sli/Internal/NavigableTokenTest.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
  tests/unit/Toolkit/Sli/SliTestCase.php
Due: Sli

Sli: Review `TokenExtractor`
  src/Toolkit/Sli/Internal/NavigableToken.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
  tests/unit/Toolkit/Sli/Internal/NavigableTokenTest.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
Due: Sli

Sli: Improve code coverage
  src/Toolkit/Sli/Internal/GenericToken.php
  src/Toolkit/Utility/Get.php
  tests/unit/Toolkit/Sli/Internal/NavigableTokenTest.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
Due: Sli, Utils

PHPDoc: Clean up `PHPDocUtil`
  src/Toolkit/PHPDoc/PHPDocUtil.php
Due: PHPDoc

Sli: Return class/interface/trait/enum extractors from `TokenExtractor`
  src/Toolkit/Sli/Internal/TokenExtractor.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
Due: Sli

Sli: Add member-level extractors to `TokenExtractor`
  src/Toolkit/Sli/Internal/NavigableToken.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
  tests/unit/Toolkit/Sli/SliTestCase.php
Due: Sli

Polyfill: Improve identifier handling in `PhpToken`
  src/Toolkit/Polyfill/PhpToken.php
  tests/unit/Toolkit/Polyfill/PhpTokenTestCase.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
Due: Polyfills

Update dependencies, fix issues reported by PHPStan
  composer.lock
  src/Toolkit/Sync/Support/DeferredEntity.php
  src/Toolkit/Utility/Exception/PcreErrorException.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
Due: Sync, Utils

Utility: Add `Reflect::getPrototype()`
  src/Toolkit/Utility/Reflect.php
Due: Utils

Adjust order of tests in `run-tests.sh`
  scripts/run-tests.sh
Due: none

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
