Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Fix issue with non-UTF-8 characters in PHPUnit data set names
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
Due: none

Finalise `Collection`, incl. improving test coverage and adding README
  src/Toolkit/Collection/ListCollectionTrait.php
  src/Toolkit/Collection/README.md
  src/Toolkit/Collection/ReadOnlyArrayAccessTrait.php
  src/Toolkit/Collection/composer.json
  tests/fixtures/Toolkit/Collection/TypedCollection/MyClass.php
  tests/fixtures/Toolkit/Collection/TypedCollection/MyCollection.php
  tests/fixtures/Toolkit/Collection/TypedList/MyClass.php
  tests/fixtures/Toolkit/Collection/TypedList/MyList.php
  tests/unit/Toolkit/Collection/CollectionTest.php
  tests/unit/Toolkit/Collection/ListCollectionTest.php
  tests/unit/Toolkit/Collection/MyComparableClass.php
Due: Collections

Collection: Vary callback signatures by mode for PHPStan users
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Collection/CollectionTrait.php
  src/Toolkit/Collection/ListCollection.php
  src/Toolkit/Collection/ListCollectionTrait.php
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
  src/Toolkit/Contract/Collection/CollectionInterface.php
  src/Toolkit/Http/HttpHeaders.php
  tests/fixtures/Toolkit/Core/Concern/HasMutator/MyImmutableClass.php
  tests/unit/Toolkit/Collection/ListCollectionTest.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
Due: Collections, Contracts, Http

Collection: Fix unreleased regression
  src/Toolkit/Collection/CollectionTrait.php
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
Due: Collections

Release v0.99.64
  CHANGELOG.md
Due: none

Update tools
  .phive/phars.xml
  tools/php-cs-fixer
  tools/pretty-php
Due: none

Update formatting
  .prettyphp
  scripts/generate.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Console/ConsoleWriter.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
  src/Toolkit/Core/Concern/TreeableTrait.php
  src/Toolkit/Core/ErrorHandler.php
  src/Toolkit/Core/IntrospectionClass.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Db/DbConnector.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Iterator/RecursiveFilesystemIterator.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncProvider.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Support/SyncContext.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Utility/Get.php
  tests/unit/Toolkit/Core/PipelineTest.php
Due: Cli, Console, Core, Db, Http, Iterators, Sli, Sync, Utils

Update `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Due: none

Utility: Sort constants passed to `Get::code()` to fix replacement bug
  src/Toolkit/Utility/Get.php
Due: Utils

Utility: Return `non-empty-string` values from `Reflect`
  src/Toolkit/Utility/Reflect.php
Due: Utils

Collection: Add and implement `isEmpty()`, add PHPStan assertions
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
  src/Toolkit/Contract/Collection/CollectionInterface.php
Due: Collections, Contracts

Utility: Add support for `ReflectionConstant` to `Reflect::getNames()`
  src/Toolkit/Utility/Reflect.php
  tests/phpstan-conditional.php
Due: Utils

Release v0.99.65
  CHANGELOG.md
Due: none

Update tools and formatting
  .phive/phars.xml
  src/Toolkit/Utility/Get.php
  tests/unit/Toolkit/Http/HttpRequestTest.php
  tools/apigen/composer.lock
  tools/mockoon-cli/package-lock.json
  tools/mockoon-cli/package.json
  tools/pretty-php
Due: Utils

Core: Review `Chainable` interface and implementations
  src/Toolkit/Contract/Core/Chainable.php
  src/Toolkit/Core/Concern/HasChainableMethods.php
  src/Toolkit/Core/Facade/App.php
  tests/unit/Toolkit/Core/Concern/HasChainableMethods/HasChainableMethodsTest.php
Due: Contracts, Core

Update dependencies
  composer.lock
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Http/FormData.php
  tests/phpstan-conditional.php
Due: Http

Cli: Don't let applications run as root by default
  src/Toolkit/Cli/CliApplication.php
Due: Cli

Sli: Standardise default builder description
  scripts/generate.php
  src/Toolkit/Cli/CliOptionBuilder.php
  src/Toolkit/Curler/CurlerBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Sync/Db/DbSyncDefinitionBuilder.php
  src/Toolkit/Sync/Http/HttpSyncDefinitionBuilder.php
  src/Toolkit/Sync/SyncErrorBuilder.php
  src/Toolkit/Sync/SyncSerializeRulesBuilder.php
Due: Cli, Curler, Sli, Sync

CI: Adopt explicit ubuntu runner versions in GitHub Actions
  .github/workflows/build-splitsh-lite.yml
  .github/workflows/ci.yml
  .github/workflows/documentation.yml
  .github/workflows/gc.yml
  .github/workflows/split.yml
  src/Toolkit/Cache/.github/workflows/close-pr.yml
  src/Toolkit/Cli/.github/workflows/close-pr.yml
  src/Toolkit/Collection/.github/workflows/close-pr.yml
  src/Toolkit/Console/.github/workflows/close-pr.yml
  src/Toolkit/Container/.github/workflows/close-pr.yml
  src/Toolkit/Contract/.github/workflows/close-pr.yml
  src/Toolkit/Core/.github/workflows/close-pr.yml
  src/Toolkit/Curler/.github/workflows/close-pr.yml
  src/Toolkit/Db/.github/workflows/close-pr.yml
  src/Toolkit/Http/.github/workflows/close-pr.yml
  src/Toolkit/Iterator/.github/workflows/close-pr.yml
  src/Toolkit/PHPDoc/.github/workflows/close-pr.yml
  src/Toolkit/PHPStan/.github/workflows/close-pr.yml
  src/Toolkit/Polyfill/.github/workflows/close-pr.yml
  src/Toolkit/Sli/.github/workflows/close-pr.yml
  src/Toolkit/Sync/.github/workflows/close-pr.yml
  src/Toolkit/Utility/.github/workflows/close-pr.yml
Due: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Release v0.99.66
  CHANGELOG.md
Due: none

Sli: Generate sync providers that return `iterable<array-key,TEntity>`
  src/Toolkit/Sli/Command/Generate/GenerateSyncProvider.php
  tests/fixtures/Toolkit/Sync/Entity/Provider/AlbumProvider.php
  tests/fixtures/Toolkit/Sync/Entity/Provider/CollidesProvider.php
  tests/fixtures/Toolkit/Sync/Entity/Provider/CommentProvider.php
  tests/fixtures/Toolkit/Sync/Entity/Provider/PhotoProvider.php
  tests/fixtures/Toolkit/Sync/Entity/Provider/PostProvider.php
  tests/fixtures/Toolkit/Sync/Entity/Provider/TaskProvider.php
  tests/fixtures/Toolkit/Sync/Entity/Provider/UnimplementedProvider.php
  tests/fixtures/Toolkit/Sync/Entity/Provider/UserProvider.php
  tests/fixtures/Toolkit/Sync/External/Entity/Provider/CollidesProvider.php
  tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php
  tests/fixtures/Toolkit/Sync/Provider/MockProvider.php
Due: Sli

Release v0.99.67
  CHANGELOG.md
Due: none

Remove unnecessary `@method` tag from `JsonPlaceholderApi`
  tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php
Due: none

Adopt `Reflect::getConstants()` in `generate.php`
  scripts/generate.php
Due: none

Sync: Improve handling of entities bound to custom subclasses
  src/Toolkit/Sync/Reflection/ReflectionSyncProvider.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Sync/SyncUtil.php
Due: Sync

Update dependencies
  composer.lock
Due: none

PHPStan: Add `HasMutatorReadWritePropertiesExtension`
  phpstan.neon.dist
  src/Toolkit/PHPStan/Core/Rules/HasMutatorReadWritePropertiesExtension.php
  src/Toolkit/PHPStan/phpstan.extension.neon
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/unit/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRuleTest.php
Due: PHPStan

Update tools
  .phive/phars.xml
  tools/apigen/composer.lock
  tools/mockoon-cli/package-lock.json
  tools/php-cs-fixer
  tools/pretty-php
Due: none

Release v0.99.68
  CHANGELOG.md
Due: none

Utility: Rearrange methods in `FileTest` to match `File`
  tests/unit/Toolkit/Utility/FileTest.php
Due: none

Utility: Clean up `FileTest`
  tests/unit/Toolkit/Utility/FileTest.php
Due: none

Utility: Review `File`
  src/Toolkit/Utility/File.php
  src/Toolkit/Utility/Get.php
  tests/unit/Toolkit/Utility/FileTest.php
Due: Utils

Utility: Rework filesystem tests for Windows
  tests/unit/Toolkit/Utility/FileTest.php
Due: none

Update `.php-cs-fixer.dist.php` and apply
  .php-cs-fixer.dist.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Core/Concern/HasReadableProperties.php
  src/Toolkit/Core/Concern/HasWritableProperties.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
  src/Toolkit/Core/IntrospectionClass.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Core/IntrospectorKeyTargets.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Utility/Get.php
Due: Cli, Core, Sli, Utils

Update tools, formatting and derived assets
  .phive/phars.xml
  tests/fixtures/Toolkit/Core/Introspector/B.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
  tools/php-cs-fixer
  tools/pretty-php
Due: none

Release v0.99.69
  CHANGELOG.md
Due: none

Polyfill: Review `PhpToken`
  .php-cs-fixer.dist.php
  composer.json
  src/Toolkit/Polyfill/PhpToken.php
  src/Toolkit/Polyfill/bootstrap.php
  src/Toolkit/Polyfill/composer.json
  src/Toolkit/Sli/bootstrap.php
  tests/unit/Toolkit/Polyfill/PhpTokenTestCase.php
Due: Polyfills, Sli

Polyfill: Add `README.md` and `LICENSE`
  src/Toolkit/Polyfill/LICENSE
  src/Toolkit/Polyfill/README.md
Due: Polyfills

Update dependencies
  composer.lock
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/ConstantData.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
  src/Toolkit/Utility/Reflect.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilTest.php
  tests/unit/Toolkit/Utility/Reflect/ReflectTest.php
Due: PHPDoc, Sli, Utils

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
