Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Core: Clean up `MultipleErrorExceptionTrait::getMetadata()`
  src/Toolkit/Core/Concern/MultipleErrorExceptionTrait.php
Due: Core

Container: Reorder `Application` methods for clarity (no code changes)
  src/Toolkit/Container/Application.php
Due: Container

Container: Improve test coverage
  tests/unit/Toolkit/Container/ApplicationTest.php
  tests/unit/Toolkit/Container/ContainerTest.php
  tests/unit/Toolkit/Curler/CurlerHttpArchiveRecorderTest.php
  tests/unit/Toolkit/Sync/Support/SyncPipelineArgumentTest.php
Due: none

Container: Add `ApplicationInterface::exportHar()`, and related changes
  docs/App.md
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Container/Application.php
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Container/ApplicationInterface.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Core/AbstractFacade.php
  src/Toolkit/Core/Facade/App.php
  src/Toolkit/Core/MetricCollector.php
  tests/unit/Toolkit/Container/ApplicationTest.php
  tests/unit/Toolkit/Container/ContainerTest.php
  tests/unit/Toolkit/Core/MetricCollectorTest.php
Due: Container, Contracts, Core

Curler: Add recording test to `CurlerHttpArchiveRecorderTest`
  tests/unit/Toolkit/Curler/CurlerHttpArchiveRecorderTest.php
Due: none

Curler: Improve code coverage
  src/Toolkit/Curler/CurlerHttpArchiveRecorder.php
Due: Curler

Release v0.99.46
  CHANGELOG.md
Due: none

Http: Fix incorrect use of bitwise OR in `HttpHeaders` `if` block
  src/Toolkit/Http/HttpHeaders.php
Due: Http

Console: Adopt "^ " instead of "? " as the default warning prefix
  docs/Console.md
  src/Toolkit/Console/ConsoleFormatter.php
  src/Toolkit/Contract/Console/ConsoleWriterInterface.php
  src/Toolkit/Core/Facade/Console.php
Due: Console, Contracts, Core

Curler: Review for release
  scripts/generate.php
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerBuilder.php
  src/Toolkit/Curler/CurlerFile.php
  src/Toolkit/Curler/CurlerPage.php
  src/Toolkit/Curler/Pager/HasEntitySelector.php
  src/Toolkit/Curler/Pager/LinkPager.php
  src/Toolkit/Curler/Pager/ODataPager.php
  src/Toolkit/Curler/Pager/QueryPager.php
  src/Toolkit/Http/Http.php
  tests/unit/Toolkit/Curler/CurlerTest.php
Due: Contracts, Curler, Http

Curler: Rename `CurlerHttpArchiveRecorder` to `CurlerHarRecorder`
  src/Toolkit/Container/Application.php
  src/Toolkit/Curler/CurlerHarRecorder.php
  tests/unit/Toolkit/Curler/CurlerHarRecorderTest.php
Due: Container, Curler

Curler: Fix issues where `Curler` response cache is missed
  src/Toolkit/Curler/Curler.php
  tests/unit/Toolkit/Curler/CurlerTest.php
Due: Curler

Curler: Throw `TooManyRedirectsException` if `MaxRedirects` is exceeded
  src/Toolkit/Contract/Curler/Exception/HttpErrorExceptionInterface.php
  src/Toolkit/Contract/Curler/Exception/ResponseExceptionInterface.php
  src/Toolkit/Contract/Curler/Exception/TooManyRedirectsExceptionInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Exception/TooManyRedirectsException.php
Due: Contracts, Curler

Release v0.99.47
  CHANGELOG.md
Due: none

Http: Fix `OAuth2Client` issue where a stale JWKS may not be refreshed
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php
Due: Http

Curler: Add optional `$event` parameter to `CurlerHarRecorder::start()`
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerHarRecorder.php
  src/Toolkit/Curler/LICENSE
  src/Toolkit/Curler/README.md
Due: Curler

Utility: Update `README.md`
  src/Toolkit/Utility/README.md
Due: Utils

Container: Improve HAR export handling
  src/Toolkit/Container/Application.php
  src/Toolkit/Contract/Container/ApplicationInterface.php
  src/Toolkit/Contract/Http/HttpHeadersInterface.php
  src/Toolkit/Http/HttpHeaders.php
  tests/unit/Toolkit/Container/ApplicationTest.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/HttpTestCase.php
Due: Container, Contracts, Http

Release v0.99.48
  CHANGELOG.md
Due: none

Curler: Simplify exception interfaces and add base exceptions to API
  src/Toolkit/Contract/Curler/Exception/HttpErrorExceptionInterface.php
  src/Toolkit/Curler/Exception/AbstractRequestException.php
  src/Toolkit/Curler/Exception/AbstractResponseException.php
  src/Toolkit/Curler/Exception/HttpErrorException.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
Due: Contracts, Curler, Sync

Container: Add missing `salient/curler` suggestion to `composer.json`
  src/Toolkit/Container/composer.json
Due: Container

Sync: Consolidate CLI commands and rename
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Sli/sli
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Sync/Command/SendHttpSyncProviderRequest.php
  tests/unit/Toolkit/Sync/Command/GetSyncEntityTest.php
Due: Sli, Sync

Http: Ignore `Connection:` header in tests, add missing assertion
  src/Toolkit/Contract/Http/HttpHeader.php
  src/Toolkit/Http/Http.php
  tests/unit/Toolkit/HttpTestCase.php
Due: Contracts, Http

Curler: Refine pagination API
  src/Toolkit/Contract/Curler/CurlerPageInterface.php
  src/Toolkit/Contract/Curler/CurlerPageRequestInterface.php
  src/Toolkit/Contract/Curler/CurlerPagerInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerPage.php
  src/Toolkit/Curler/CurlerPageRequest.php
  src/Toolkit/Curler/Pager/LinkPager.php
  src/Toolkit/Curler/Pager/ODataPager.php
  src/Toolkit/Curler/Pager/QueryPager.php
  tests/unit/Toolkit/Curler/CurlerTest.php
Due: Contracts, Curler

Sync: Refactor `SendHttpSyncProviderRequest` for consistency
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Sync/Command/AbstractSyncCommand.php
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Sync/Command/SendHttpSyncProviderRequest.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php
  tests/fixtures/Toolkit/Sync/Provider/MockoonPager.php
Due: Sync

Polyfill: Add abstract `StreamWrapper` class and associated interfaces
  src/Toolkit/Polyfill/StreamWrapper/CreatesDirectories.php
  src/Toolkit/Polyfill/StreamWrapper/HasDirectoryHandles.php
  src/Toolkit/Polyfill/StreamWrapper/HasFileLocking.php
  src/Toolkit/Polyfill/StreamWrapper/RemovesDirectories.php
  src/Toolkit/Polyfill/StreamWrapper/RemovesFiles.php
  src/Toolkit/Polyfill/StreamWrapper/RenamesFiles.php
  src/Toolkit/Polyfill/StreamWrapper/StreamWrapper.php
  src/Toolkit/Polyfill/StreamWrapper/StreamWrapperInterface.php
  tests/unit/Toolkit/MockStream.php
  tests/unit/Toolkit/Polyfill/StreamWrapper/StreamWrapperTest.php
Due: Polyfills

Sync: Add initial tests for `SendHttpSyncProviderRequest`
  src/Toolkit/Sync/Command/SendHttpSyncProviderRequest.php
  tests/unit/Toolkit/Cli/CliApplicationTest.php
  tests/unit/Toolkit/Sync/Command/CheckSyncProviderHeartbeatTest.php
  tests/unit/Toolkit/Sync/Command/GetSyncEntityTest.php
  tests/unit/Toolkit/Sync/Command/SendHttpSyncProviderRequestTest.php
  tests/unit/Toolkit/Sync/Command/SyncCommandTestCase.php
  tests/unit/Toolkit/TestCase.php
Due: Sync

Consolidate and rearrange stream wrapper code
  src/Toolkit/Contract/Polyfill/FilesystemStreamWrapperInterface.php
  src/Toolkit/Contract/Polyfill/StreamWrapper.php
  src/Toolkit/Contract/Polyfill/StreamWrapperInterface.php
  src/Toolkit/Core/AbstractStreamWrapper.php
  src/Toolkit/Polyfill/StreamWrapper/CreatesDirectories.php
  src/Toolkit/Polyfill/StreamWrapper/HasDirectoryHandles.php
  src/Toolkit/Polyfill/StreamWrapper/HasFileLocking.php
  src/Toolkit/Polyfill/StreamWrapper/RemovesDirectories.php
  src/Toolkit/Polyfill/StreamWrapper/RemovesFiles.php
  src/Toolkit/Polyfill/StreamWrapper/RenamesFiles.php
  tests/unit/Toolkit/Core/AbstractStreamWrapperTest.php
  tests/unit/Toolkit/MockStream.php
Due: Contracts, Core, Polyfills

Testing: Add component
  codecov.yml
  composer.json
  composer.lock
  scripts/split.sh
  src/Toolkit/Testing/composer.json
Due: none

Console: Move `MockTarget` to Testing component and review
  src/Toolkit/Console/Exception/ConsoleInvalidTargetException.php
  src/Toolkit/Console/Target/StreamTarget.php
  src/Toolkit/Testing/Console/MockTarget.php
  tests/3rdparty/Toolkit/PsrLog/LoggerTest.php
  tests/unit/Toolkit/Cli/CliApplicationTest.php
  tests/unit/Toolkit/CommandTestCase.php
  tests/unit/Toolkit/Console/ConsoleWriterTest.php
  tests/unit/Toolkit/Core/AbstractMultipleErrorExceptionTest.php
Due: Console

Testing: Add `MockPhpStream` from unit tests
  src/Toolkit/Testing/Core/MockPhpStream.php
  tests/unit/Toolkit/Core/AbstractStreamWrapperTest.php
Due: none

Testing: Improve `MockPhpStream`
  src/Toolkit/Core/AbstractStreamWrapper.php
  src/Toolkit/Testing/Core/MockPhpStream.php
  src/Toolkit/Testing/composer.json
  tests/unit/Toolkit/Core/AbstractStreamWrapperTest.php
Due: Core

Release v0.99.49
  CHANGELOG.md
Due: none

Update tools
  .phive/phars.xml
  tools/apigen/composer.lock
  tools/mockoon-cli/package-lock.json
  tools/mockoon-cli/package.json
  tools/pretty-php
Due: none

Update dependencies
  composer.lock
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
Due: none

Contract: Simplify stream wrappers to two abstract classes
  src/Toolkit/Contract/Polyfill/FilesystemStreamWrapper.php
  src/Toolkit/Contract/Polyfill/StreamWrapper.php
  src/Toolkit/Contract/Polyfill/StreamWrapperInterface.php
Due: Contracts

Contract: Finalise stream wrappers
  src/Toolkit/Contract/Polyfill/FilesystemStreamWrapper.php
  src/Toolkit/Contract/Polyfill/StreamWrapper.php
Due: Contracts

Cache: Review cache store interface and implementation
  src/Toolkit/Cache/CacheStore.php
  src/Toolkit/Cache/LICENSE
  src/Toolkit/Cache/README.md
  src/Toolkit/Contract/Cache/CacheStoreInterface.php
  src/Toolkit/Core/AbstractStore.php
  src/Toolkit/Core/Facade/Cache.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  src/Toolkit/Sync/Db/DbSyncProvider.php
  src/Toolkit/Sync/Http/HttpSyncProvider.php
  tests/unit/Toolkit/Cache/CacheStoreTest.php
  tests/unit/Toolkit/Curler/CurlerTest.php
Due: Cache, Contracts, Core, Http, Sync

Cache: Rename `CacheStoreInterface` to `CacheInterface`
  scripts/generate.php
  src/Toolkit/Cache/CacheStore.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Cache/CacheInterface.php
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Core/Facade/Cache.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerBuilder.php
Due: Cache, Container, Contracts, Core, Curler

Release v0.99.50
  CHANGELOG.md
Due: none

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
