Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Exclude stubs from API documentation
  tools/apigen/apigen.neon
Due: none

Update tools
  .phive/phars.xml
  tools/apigen/composer.lock
  tools/mockoon-cli/package-lock.json
  tools/php-cs-fixer
  tools/pretty-php
Due: none

Update `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Due: none

Update php-cs-fixer configuration
  .php-cs-fixer.dist.php
Due: none

Move `Graph` to `Core` ahead of refactoring
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Core/Graph.php
  tests/unit/Toolkit/Core/GraphTest.php
Due: Core

Review `Graph`, add and implement `GraphInterface`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Contract/Core/GraphInterface.php
  src/Toolkit/Core/Graph.php
  tests/unit/Toolkit/Core/GraphTest.php
Due: Contracts, Core

Add Intelephense `@disregard` annotations
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Container/Container.php
  src/Toolkit/Core/Concern/HasUnderlyingService.php
  src/Toolkit/Core/ConfigurationManager.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/HttpStream.php
  src/Toolkit/Iterator/GraphIterator.php
  src/Toolkit/Iterator/MapIterator.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sync/Support/DeferredEntity.php
  src/Toolkit/Sync/Support/SyncIntrospectionClass.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Utility/File.php
  tests/fixtures/Toolkit/Core/Process/cat.php
Due: Cli, Container, Core, Curler, Http, Iterators, Sli, Sync, Utils

Http: Add `Http::applyToQuery()`
  src/Toolkit/Http/Http.php
  src/Toolkit/Http/Uri.php
  tests/unit/Toolkit/Http/HttpTest.php
Due: Http

Core: Add more `Graph` tests
  tests/unit/Toolkit/Core/GraphTest.php
Due: none

Release v0.99.41
  CHANGELOG.md
Due: none

Utility: update `README.md`
  docs/Env.md
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/Date.php
  src/Toolkit/Utility/Debug.php
  src/Toolkit/Utility/Env.php
  src/Toolkit/Utility/Format.php
  src/Toolkit/Utility/Inflect.php
  src/Toolkit/Utility/Json.php
  src/Toolkit/Utility/README.md
  src/Toolkit/Utility/Regex.php
  src/Toolkit/Utility/Sys.php
Due: Utils

Utility: Add optional `$nullEmpty` parameter to `Arr::trim()`
  src/Toolkit/Utility/Arr.php
  tests/unit/Toolkit/Utility/ArrTest.php
Due: Utils

Cli: Add tests for Markdown usage information +/- man page extensions
  tests/fixtures/Toolkit/Cli/Command/TestOptions.php
  tests/unit/Toolkit/Cli/CliApplicationTest.php
Due: none

Cli: Fall back to defaults when `_man` or `_md` receive empty arguments
  src/Toolkit/Cli/CliApplication.php
Due: Cli

Console: Fix inconsistent newline handling in `ConsoleFormatter`
  src/Toolkit/Console/ConsoleFormatter.php
Due: Console

Release v0.99.42
  CHANGELOG.md
Due: none

Fix implicit nullability deprecation notice on PHP 8.4
  .php-cs-fixer.dist.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  src/Toolkit/Sync/Support/SyncEntityFuzzyResolver.php
  src/Toolkit/Utility/Regex.php
  tests/fixtures/Toolkit/Utility/Reflect/MyClassWithDnfTypes.php
  tests/unit/Toolkit/Utility/Reflect/ReflectTest.php
Due: Http, Sync, Utils

Release v0.99.43
  CHANGELOG.md
Due: none

Add PHPStan extension for `Arr::flatten()`
  phpstan.neon.dist
  src/Toolkit/PHPStan/Type/Core/ArrFlattenReturnTypeExtension.php
  src/Toolkit/PHPStan/phpstan.extension.neon
  src/Toolkit/Utility/Arr.php
  tests/fixtures/Toolkit/PHPStan/Type/Core/ArrFlattenReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/Utility/ArrTest.php
Due: PHPStan, Utils

Move PHPStan extensions and tests to consistent namespaces
  phpstan.neon.dist
  src/Toolkit/PHPStan/Utility/Rules/GetCoalesceRule.php
  src/Toolkit/PHPStan/Utility/Type/ArrExtendReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/Type/ArrFlattenReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/Type/ArrWhereNotEmptyReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/Type/ArrWhereNotNullReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/Type/GetCoalesceReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/Type/StrCoalesceReturnTypeExtension.php
  src/Toolkit/PHPStan/phpstan.extension.neon
  tests/fixtures/Toolkit/PHPStan/Utility/Rules/GetCoalesceRuleFailures.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/ArrExtendReturnTypeExtensionAssertions.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/ArrFlattenReturnTypeExtensionAssertions.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/ArrWhereNotEmptyReturnTypeExtensionAssertions.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/ArrWhereNotNullReturnTypeExtensionAssertions.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/GetCoalesceReturnTypeExtensionAssertions.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/StrCoalesceReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/ReturnTypeExtensionTestCase.php
  tests/unit/Toolkit/PHPStan/Type/Core/ArrExtendReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Type/Core/ArrWhereNotEmptyReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Type/Core/ArrWhereNotNullReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Type/Core/GetCoalesceReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Type/Core/StrCoalesceReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Rules/GetCoalesceRuleTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrExtendReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrWhereNotEmptyReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrWhereNotNullReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/GetCoalesceReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/StrCoalesceReturnTypeExtensionTest.php
Due: PHPStan

Add missing PHPStan unit test
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrFlattenReturnTypeExtensionTest.php
Due: none

Release v0.99.44
  CHANGELOG.md
Due: none

Sync: Fix `HttpSyncDefinition` bugs
  src/Toolkit/Sync/HttpSyncDefinition.php
Due: Sync

Sync: Move `Http`- and `Db`-specific classes to their own namespaces
  .gitattributes
  scripts/generate.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sli/Command/Http/SendHttpRequest.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinitionBuilder.php
  src/Toolkit/Sync/Db/DbSyncProvider.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinitionBuilder.php
  src/Toolkit/Sync/Http/HttpSyncProvider.php
  tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php
  tests/fixtures/Toolkit/Sync/Provider/MockProvider.php
Due: Sli, Sync

Utility: Add `$trim` arguments to `Format::list()` and `Format::array()`
  src/Toolkit/Utility/Format.php
  tests/unit/Toolkit/Utility/FormatTest.php
Due: Utils

Sync: Rename exception files before refactoring
  src/Toolkit/Sync/Exception/FilterPolicyViolationException.php
  src/Toolkit/Sync/Exception/HeartbeatCheckFailedException.php
  src/Toolkit/Sync/Exception/InvalidFilterException.php
  src/Toolkit/Sync/Exception/InvalidFilterSignatureException.php
  src/Toolkit/Sync/Exception/UnreachableBackendException.php
Due: Sync

Sync: Review exceptions and clean up
  src/Toolkit/Contract/Sync/Exception/HeartbeatCheckFailedExceptionInterface.php
  src/Toolkit/Contract/Sync/Exception/SyncOperationNotImplementedExceptionInterface.php
  src/Toolkit/Contract/Sync/Exception/UnreachableBackendExceptionInterface.php
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Command/GetSyncEntities.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncProvider.php
  src/Toolkit/Sync/Exception/AbstractSyncException.php
  src/Toolkit/Sync/Exception/FilterPolicyViolationException.php
  src/Toolkit/Sync/Exception/HeartbeatCheckFailedException.php
  src/Toolkit/Sync/Exception/InvalidFilterException.php
  src/Toolkit/Sync/Exception/InvalidFilterSignatureException.php
  src/Toolkit/Sync/Exception/SyncEntityNotFoundException.php
  src/Toolkit/Sync/Exception/SyncEntityRecursionException.php
  src/Toolkit/Sync/Exception/SyncInvalidContextException.php
  src/Toolkit/Sync/Exception/SyncInvalidEntityException.php
  src/Toolkit/Sync/Exception/SyncInvalidEntitySourceException.php
  src/Toolkit/Sync/Exception/SyncInvalidRequestException.php
  src/Toolkit/Sync/Exception/SyncOperationNotImplementedException.php
  src/Toolkit/Sync/Exception/SyncStoreException.php
  src/Toolkit/Sync/Exception/UnreachableBackendException.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncProvider.php
  src/Toolkit/Sync/Support/SyncContext.php
  src/Toolkit/Sync/Support/SyncEntityResolver.php
  src/Toolkit/Sync/SyncStore.php
  tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php
  tests/unit/Toolkit/Sync/AbstractSyncEntityTest.php
  tests/unit/Toolkit/Sync/Command/GetSyncEntitiesTest.php
  tests/unit/Toolkit/Sync/Support/SyncContextTest.php
Due: Contracts, Sync

Release v0.99.45
  CHANGELOG.md
Due: none

Remove unnecessary member-level `@api` tags
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliOption.php
Due: Cli

Clean up URI query manipulation methods in `Http` and `Curler`
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Pager/LinkPager.php
  src/Toolkit/Curler/Pager/QueryPager.php
  src/Toolkit/Http/Http.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpTest.php
Due: Contracts, Curler, Http

Curler: Add, implement and dispatch request and response events
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Curler/Event/CurlEventInterface.php
  src/Toolkit/Contract/Curler/Event/CurlRequestEventInterface.php
  src/Toolkit/Contract/Curler/Event/CurlResponseEventInterface.php
  src/Toolkit/Contract/Curler/Event/CurlerEventInterface.php
  src/Toolkit/Contract/Curler/Event/ResponseCacheHitEventInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Event/AbstractCurlEvent.php
  src/Toolkit/Curler/Event/AbstractCurlerEvent.php
  src/Toolkit/Curler/Event/CurlRequestEvent.php
  src/Toolkit/Curler/Event/CurlResponseEvent.php
  src/Toolkit/Curler/Event/ResponseCacheHitEvent.php
Due: Contracts, Curler

Curler: Add missing `@api` tags
  src/Toolkit/Contract/Curler/CurlerPageInterface.php
  src/Toolkit/Contract/Curler/CurlerPagerInterface.php
Due: Contracts

Move `PHPDocUtility` tests from `ReflectTest` to `PHPDocUtilityTest`
  tests/fixtures/Toolkit/Reflection/MyBaseClass.php
  tests/fixtures/Toolkit/Reflection/MyBaseInterface.php
  tests/fixtures/Toolkit/Reflection/MyBaseTrait.php
  tests/fixtures/Toolkit/Reflection/MyClass.php
  tests/fixtures/Toolkit/Reflection/MyClassWithDnfTypes.php
  tests/fixtures/Toolkit/Reflection/MyClassWithUnionsAndIntersections.php
  tests/fixtures/Toolkit/Reflection/MyDict.php
  tests/fixtures/Toolkit/Reflection/MyEnum.php
  tests/fixtures/Toolkit/Reflection/MyInterface.php
  tests/fixtures/Toolkit/Reflection/MyOtherInterface.php
  tests/fixtures/Toolkit/Reflection/MyReusedTrait.php
  tests/fixtures/Toolkit/Reflection/MySubclass.php
  tests/fixtures/Toolkit/Reflection/MyTrait.php
  tests/fixtures/Toolkit/Reflection/MyUndocumentedClass.php
  tests/fixtures/Toolkit/Reflection/callbacksWithDnfTypes.php
  tests/fixtures/Toolkit/Reflection/callbacksWithUnionsAndIntersections.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilityTest.php
  tests/unit/Toolkit/TestCase.php
  tests/unit/Toolkit/Utility/ArrTest.php
  tests/unit/Toolkit/Utility/Reflect/ReflectTest.php
Due: none

Update tools
  .phive/phars.xml
  tools/php-cs-fixer
  tools/pretty-php
Due: none

Review constructors
  docs/Builders.md
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Cli/Exception/CliInvalidArgumentsException.php
  src/Toolkit/Core/Concern/ExceptionTrait.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Event/AbstractCurlEvent.php
  src/Toolkit/Curler/Event/CurlRequestEvent.php
  src/Toolkit/Curler/Event/CurlResponseEvent.php
  src/Toolkit/Curler/Event/ResponseCacheHitEvent.php
  src/Toolkit/Sync/Support/SyncIntrospectionClass.php
  src/Toolkit/Sync/SyncError.php
  src/Toolkit/Sync/SyncSerializeRules.php
Due: Cli, Core, Curler, Sync

File: In `File::maybeOpen()`, always set `$uri` if null
  src/Toolkit/Utility/File.php
Due: Utils

Http: Build out `jsonSerialize()` methods for HAR 1.2 compliance
  src/Toolkit/Contract/Http/HttpHeader.php
  src/Toolkit/Contract/Http/HttpMessageInterface.php
  src/Toolkit/Contract/Http/HttpRequestInterface.php
  src/Toolkit/Contract/Http/HttpResponseInterface.php
  src/Toolkit/Http/AbstractHttpMessage.php
  src/Toolkit/Http/HttpRequest.php
  src/Toolkit/Http/HttpResponse.php
  tests/unit/Toolkit/Http/HttpRequestTest.php
Due: Contracts, Http

Curler: Add `CurlerHttpArchiveRecorder`, and related changes
  src/Toolkit/Curler/CurlerFile.php
  src/Toolkit/Curler/CurlerHttpArchiveRecorder.php
  src/Toolkit/Curler/Exception/AbstractRequestException.php
  src/Toolkit/Curler/Exception/AbstractResponseException.php
  src/Toolkit/Curler/Exception/NetworkException.php
  src/Toolkit/Curler/Exception/RequestException.php
  tests/unit/Toolkit/Curler/CurlerHttpArchiveRecorderTest.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/HttpTestCase.php
Due: Curler

Curler: Add and implement exception interfaces
  src/Toolkit/Contract/Curler/Exception/CurlErrorExceptionInterface.php
  src/Toolkit/Contract/Curler/Exception/CurlerExceptionInterface.php
  src/Toolkit/Contract/Curler/Exception/HttpErrorExceptionInterface.php
  src/Toolkit/Contract/Curler/Exception/RequestExceptionInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Exception/AbstractRequestException.php
  src/Toolkit/Curler/Exception/AbstractResponseException.php
  src/Toolkit/Curler/Exception/CurlErrorException.php
  src/Toolkit/Curler/Exception/HttpErrorException.php
  src/Toolkit/Curler/Exception/NetworkException.php
  src/Toolkit/Curler/Exception/RequestException.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncProvider.php
  tests/unit/Toolkit/Curler/CurlerTest.php
Due: Contracts, Curler, Sync

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
