Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

CI: Adopt `lkrms/check-ci-runs`
  .github/workflows/check-ci-runs.yml
  .github/workflows/ci.yml
Due: none

Update `README.md`, workflows for consistency with other projects
  .github/workflows/documentation.yml
  README.md
Due: none

Update tools
  .phive/phars.xml
  tools/changelog
Due: none

Curler: Accept and return request objects in `replaceQuery()`
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/Http.php
  src/Toolkit/Http/HttpFactory.php
  tests/unit/Toolkit/Http/HttpFactoryTest.php
  tests/unit/Toolkit/Http/HttpTest.php
Due: Contracts, Curler, Http

Curler: Review pagination interfaces for consistency
  src/Toolkit/Contract/Curler/CurlerPageInterface.php
  src/Toolkit/Contract/Curler/CurlerPageRequestInterface.php
  src/Toolkit/Contract/Curler/CurlerPagerInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerPage.php
  src/Toolkit/Curler/CurlerPageRequest.php
Due: Contracts, Curler

Sync: Improve support for `Curler`'s "always paginate" option
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinitionBuilder.php
  src/Toolkit/Sync/Http/HttpSyncProvider.php
Due: Curler, Sync

Curler: Add `TPage` template to `CurlerPagerInterface::getPage()`
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Curler/CurlerPagerInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Pager/LinkPager.php
  src/Toolkit/Curler/Pager/ODataPager.php
  src/Toolkit/Curler/Pager/QueryPager.php
  tests/fixtures/Toolkit/Sync/Provider/MockoonPager.php
Due: Contracts, Curler

Core: In `HasImmutableProperties`, require implementation of `Immutable`
  src/Toolkit/Console/Concept/ConsoleStreamTarget.php
  src/Toolkit/Console/ConsoleFormatter.php
  src/Toolkit/Console/Support/ConsoleLoopbackFormat.php
  src/Toolkit/Console/Support/ConsoleManPageFormat.php
  src/Toolkit/Console/Support/ConsoleMarkdownFormat.php
  src/Toolkit/Console/Support/ConsoleTagFormats.php
  src/Toolkit/Contract/Console/ConsoleFormatterInterface.php
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Core/Concern/HasImmutableProperties.php
  tests/fixtures/Toolkit/Core/Concern/HasImmutableProperties/MyImmutableClass.php
Due: Console, Contracts, Core

Core: Review `HasMutator` methods
  src/Toolkit/Cli/CliHelpStyle.php
  src/Toolkit/Collection/ImmutableCollectionTrait.php
  src/Toolkit/Collection/ImmutableListTrait.php
  src/Toolkit/Console/ConsoleFormatter.php
  src/Toolkit/Console/Support/ConsoleMessageAttributes.php
  src/Toolkit/Console/Support/ConsoleTagFormats.php
  src/Toolkit/Core/Concern/HasMutator.php
  src/Toolkit/Core/Pipeline.php
  src/Toolkit/Core/ProviderContext.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/AbstractHttpMessage.php
  src/Toolkit/Http/HasHttpHeaders.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Http/HttpMultipartStreamPart.php
  src/Toolkit/Http/HttpRequest.php
  src/Toolkit/Http/HttpResponse.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Http/HttpServerRequest.php
  src/Toolkit/Http/Uri.php
  src/Toolkit/PHPDoc/Tag/AbstractTag.php
  src/Toolkit/PHPDoc/Tag/TemplateTag.php
  src/Toolkit/PHPDoc/Tag/VarTag.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Support/SyncContext.php
  src/Toolkit/Sync/SyncError.php
  src/Toolkit/Sync/SyncSerializeRules.php
  tests/fixtures/Toolkit/Core/Concern/HasMutator/MyImmutableClass.php
  tests/unit/Toolkit/Core/Concern/HasMutatorTest.php
Due: Cli, Collections, Console, Core, Curler, Http, PHPDoc, Sync

Core: Rename `HasImmutableProperties` to `HasMutator`
  src/Toolkit/Cli/CliHelpStyle.php
  src/Toolkit/Collection/ImmutableCollectionTrait.php
  src/Toolkit/Collection/ImmutableListTrait.php
  src/Toolkit/Console/ConsoleFormatter.php
  src/Toolkit/Console/Support/ConsoleMessageAttributes.php
  src/Toolkit/Console/Support/ConsoleTagFormats.php
  src/Toolkit/Core/Concern/HasMutator.php
  src/Toolkit/Core/Pipeline.php
  src/Toolkit/Core/ProviderContext.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/AbstractHttpMessage.php
  src/Toolkit/Http/HasHttpHeaders.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Http/HttpMultipartStreamPart.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Http/Uri.php
  src/Toolkit/PHPDoc/Tag/AbstractTag.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/SyncError.php
  src/Toolkit/Sync/SyncSerializeRules.php
  tests/fixtures/Toolkit/Core/Concern/HasMutator/MyImmutableClass.php
  tests/unit/Toolkit/Core/Concern/HasMutatorTest.php
Due: Cli, Collections, Console, Core, Curler, Http, PHPDoc, Sync

PHPStan: Add `TypesAssignedByHasMutatorRule` and fix issues reported
  phpstan.neon.dist
  src/Toolkit/Console/Support/ConsoleTagFormats.php
  src/Toolkit/Core/Pipeline.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Http/HttpServerRequest.php
  src/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRule.php
  src/Toolkit/PHPStan/phpstan.extension.neon
  tests/bootstrap.php
  tests/fixtures/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRuleFailures.php
  tests/unit/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRuleTest.php
Due: Console, Core, Curler, Http, PHPStan

PHPStan: Ignore dynamic properties in `TypesAssignedByHasMutatorRule`
  src/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRule.php
Due: PHPStan

PHPStan: Improve code coverage
  src/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRule.php
  src/Toolkit/PHPStan/Utility/Type/ArrFlattenReturnTypeExtension.php
Due: PHPStan

Release v0.99.51
  CHANGELOG.md
Due: none

Sync: Add `--har` option to Cli commands
  src/Toolkit/Sync/Command/AbstractSyncCommand.php
  src/Toolkit/Sync/Command/CheckSyncProviderHeartbeat.php
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Sync/Command/SendHttpSyncProviderRequest.php
  tests/unit/Toolkit/Sync/Command/CheckSyncProviderHeartbeatTest.php
  tests/unit/Toolkit/Sync/Command/GetSyncEntityTest.php
  tests/unit/Toolkit/Sync/Command/SendHttpSyncProviderRequestTest.php
Due: Sync

Sli: Rename command methods for consistency with `Sync` commands
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncProvider.php
  src/Toolkit/Sli/Command/Generate/GenerateTests.php
Due: Sli

Cli: Add `CliApplicationInterface::reportVersion()`
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Contract/Cli/CliApplicationInterface.php
  tests/unit/Toolkit/Cli/CliApplicationTest.php
Due: Cli, Contracts

Release v0.99.52
  CHANGELOG.md
Due: none

Update CI workflow
  .github/workflows/ci.yml
Due: none

Cli: Add `CliApplicationInterface::getVersionString()`
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Contract/Cli/CliApplicationInterface.php
  src/Toolkit/Utility/Package.php
  tests/unit/Toolkit/Cli/CliApplicationTest.php
  tests/unit/Toolkit/Utility/PackageTest.php
Due: Cli, Contracts, Utils

Utility: Review `Str`, improve `iterable` support in `Arr`
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Core/Concern/HasNormaliser.php
  src/Toolkit/Core/ProviderContext.php
  src/Toolkit/Http/HttpMultipartStreamPart.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncProvider.php
  src/Toolkit/Sli/Command/Generate/GenerateTests.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Command/AbstractSyncCommand.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Support/SyncContext.php
  src/Toolkit/Sync/Support/SyncIntrospectionClass.php
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/README.md
  src/Toolkit/Utility/Regex.php
  src/Toolkit/Utility/Str.php
  src/Toolkit/Utility/Test.php
  tests/fixtures/Toolkit/Core/Introspector/ResolvableA.php
  tests/fixtures/Toolkit/Core/Introspector/ResolvableB.php
  tests/unit/Toolkit/Utility/StrTest.php
  tests/unit/Toolkit/Utility/TestTest.php
Due: Cli, Core, Http, Sli, Sync, Utils

Standardise string literal syntax in documentation
  src/Toolkit/Contract/Sync/SyncEntityInterface.php
  src/Toolkit/Utility/Exception/InvalidArgumentTypeException.php
Due: Contracts, Utils

PHPDoc: Fix trait-related bugs
  src/Toolkit/PHPDoc/PHPDocUtility.php
  tests/fixtures/Toolkit/Reflection/MyBaseTrait.php
  tests/fixtures/Toolkit/Reflection/MyOneLineClass.php
  tests/fixtures/Toolkit/Reflection/MyTraitAdaptationClass.php
  tests/fixtures/Toolkit/Reflection/MyTraitAdaptationInterface.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilityTest.php
Due: PHPDoc

Utility: Update documentation, fix bug in `Str::expandLeadingTabs()`
  src/Toolkit/Utility/Get.php
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/Utility/StrTest.php
Due: Utils

Release v0.99.53
  CHANGELOG.md
Due: none

PHPDoc: Remove unnecessary calls to `getName()` in `PHPDocUtility`
  src/Toolkit/PHPDoc/PHPDocUtility.php
Due: PHPDoc

Add `@disregard` tag to `generate.php` for Intelephense
  scripts/generate.php
Due: none

Container: Improve `Application::exportHar()`
  src/Toolkit/Container/Application.php
  tests/unit/Toolkit/Container/ApplicationTest.php
Due: Container

Sync: Rename "class resolvers" to "namespace helpers"
  docs/Sync.md
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Container/Application.php
  src/Toolkit/Contract/Container/ApplicationInterface.php
  src/Toolkit/Contract/Sync/SyncNamespaceHelperInterface.php
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Core/Facade/Sync.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncProvider.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Sync/Support/SyncIntrospectionClass.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Sync/SyncStore.php
  tests/fixtures/Toolkit/Sync/SyncNamespaceHelper.php
  tests/unit/Toolkit/Sync/Support/SyncIntrospectorTest.php
Due: Container, Contracts, Core, Sli, Sync

Sync: Review `SyncStoreInterface` and implement changes in `SyncStore`
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Core/Facade/Sync.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Sync/Support/DeferredEntity.php
  src/Toolkit/Sync/Support/DeferredRelationship.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Sync/SyncStore.php
  src/Toolkit/Sync/SyncUtil.php
  tests/unit/Toolkit/Sync/SyncStoreTest.php
Due: Contracts, Core, Sync

Sync: Improve test coverage
  src/Toolkit/Contract/Sync/SyncNamespaceHelperInterface.php
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Sync/SyncStore.php
  tests/unit/Toolkit/Sync/SyncStoreTest.php
  tests/unit/Toolkit/Sync/SyncTestCase.php
Due: Contracts, Sync

Sync: continue interface review
  src/Toolkit/Contract/Sync/DeferralPolicy.php
  src/Toolkit/Contract/Sync/DeferredEntityInterface.php
  src/Toolkit/Contract/Sync/EntitySource.php
  src/Toolkit/Contract/Sync/EntityState.php
  src/Toolkit/Contract/Sync/ErrorType.php
  src/Toolkit/Contract/Sync/FilterPolicy.php
  src/Toolkit/Contract/Sync/HydrationPolicy.php
  src/Toolkit/Contract/Sync/LinkType.php
  src/Toolkit/Contract/Sync/SyncEntityInterface.php
  src/Toolkit/Contract/Sync/SyncErrorInterface.php
  src/Toolkit/Contract/Sync/SyncOperation.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinitionBuilder.php
  src/Toolkit/Sync/Exception/SyncInvalidEntitySourceException.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinitionBuilder.php
  src/Toolkit/Sync/Support/DeferredEntity.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  src/Toolkit/Sync/SyncError.php
  src/Toolkit/Sync/SyncErrorBuilder.php
  src/Toolkit/Sync/SyncStore.php
Due: Contracts, Sync

Rename utility classes for consistency with `SyncUtil`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Pager/LinkPager.php
  src/Toolkit/Http/AbstractHttpMessage.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Http/HttpMultipartStream.php
  src/Toolkit/Http/HttpRequest.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Sli/Command/Generate/GenerateTests.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilTest.php
  tests/unit/Toolkit/TestUtil.php
  tests/unit/Toolkit/http-client.php
  tests/unit/Toolkit/http-server.php
Due: Curler, Http, PHPDoc, Sli

Release v0.99.54
  CHANGELOG.md
Due: none

Contract: Add `Instantiable` and require facade services to implement it
  src/Toolkit/Contract/Cache/CacheInterface.php
  src/Toolkit/Contract/Console/ConsoleWriterInterface.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Contract/Core/FacadeInterface.php
  src/Toolkit/Contract/Core/Instantiable.php
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Core/AbstractFacade.php
  src/Toolkit/Core/AbstractStore.php
  src/Toolkit/Core/ConfigurationManager.php
  src/Toolkit/Core/ErrorHandler.php
  src/Toolkit/Core/EventDispatcher.php
  src/Toolkit/Core/MetricCollector.php
  tests/fixtures/Toolkit/Core/AbstractFacade/MyServiceClass.php
  tests/fixtures/Toolkit/Core/AbstractFacade/MyServiceInterface.php
Due: Contracts, Core

Sync: Add `ReflectionSyncEntity` and `ReflectionSyncProvider`
  src/Toolkit/Contract/Sync/SyncEntityInterface.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncProvider.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Reflection/ReflectionSyncEntity.php
  src/Toolkit/Sync/Reflection/ReflectionSyncProvider.php
  src/Toolkit/Sync/Reflection/SyncReflectionTrait.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Sync/Support/SyncIntrospectionClass.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Sync/SyncUtil.php
  tests/unit/Toolkit/Sync/Support/SyncIntrospectorTest.php
Due: Contracts, Sli, Sync

Sync: Expand `Sync.md`, use native `int` type for operation parameters
  docs/Sync.md
  src/Toolkit/Contract/Sync/SyncContextInterface.php
  src/Toolkit/Contract/Sync/SyncDefinitionInterface.php
  src/Toolkit/Contract/Sync/SyncEntityProviderInterface.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Exception/InvalidFilterSignatureException.php
  src/Toolkit/Sync/Exception/SyncInvalidEntitySourceException.php
  src/Toolkit/Sync/Exception/SyncOperationNotImplementedException.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Support/SyncContext.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Sync/Support/SyncPipelineArgument.php
  tests/unit/Toolkit/Sync/Support/SyncPipelineArgumentTest.php
Due: Contracts, Sync

Sync: Adopt new classes and remove dead `SyncIntrospector` code
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/AbstractSyncProvider.php
  src/Toolkit/Sync/Command/AbstractSyncCommand.php
  src/Toolkit/Sync/Support/SyncIntrospectionClass.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  tests/unit/Toolkit/Sync/Support/SyncIntrospectorTest.php
Due: Sync

Sync: Rename namespace helper methods for consistency (again)
  src/Toolkit/Contract/Sync/SyncNamespaceHelperInterface.php
  src/Toolkit/Sync/SyncUtil.php
  tests/fixtures/Toolkit/Sync/SyncNamespaceHelper.php
Due: Contracts, Sync

Reorder methods in sync / provider context interfaces and classes
  src/Toolkit/Contract/Core/ProviderContextInterface.php
  src/Toolkit/Contract/Sync/SyncContextInterface.php
  src/Toolkit/Core/ProviderContext.php
  src/Toolkit/Sync/Support/SyncContext.php
Due: Contracts, Core, Sync

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
