Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Utility: Add constant-related methods to `Reflect`
  src/Toolkit/Core/AbstractCatalog.php
  src/Toolkit/Core/AbstractEnumeration.php
  src/Toolkit/Utility/Reflect.php
  tests/unit/Toolkit/Utility/Reflect/ReflectTest.php
Due: Core, Utils

Convert fully-qualified names to imports to simplify dependency review
  src/Toolkit/Contract/Core/StoppableEventInterface.php
  src/Toolkit/Core/AbstractException.php
  src/Toolkit/Core/Exception/MethodNotImplementedException.php
  src/Toolkit/Utility/Exception/AbstractUtilityException.php
  src/Toolkit/Utility/Exception/InvalidArgumentTypeException.php
  tests/unit/Toolkit/TestCase.php
  tests/unit/Toolkit/Utility/FormatTest.php
Due: Contracts, Core, Utils

Container: Move files before refactoring
  src/Toolkit/Container/Exception/ArgumentsNotUsedException.php
  src/Toolkit/Container/Exception/InvalidServiceException.php
  src/Toolkit/Container/Exception/ServiceNotFoundException.php
  src/Toolkit/Contract/Container/ServiceLifetime.php
Due: Container, Contracts

Container: Decouple contracts from container component
  src/Toolkit/Container/Container.php
  src/Toolkit/Container/Exception/AbstractContainerException.php
  src/Toolkit/Container/Exception/ArgumentsNotUsedException.php
  src/Toolkit/Container/Exception/InvalidServiceException.php
  src/Toolkit/Container/Exception/ServiceNotFoundException.php
  src/Toolkit/Contract/Container/ArgumentsNotUsedExceptionInterface.php
  src/Toolkit/Contract/Container/ContainerExceptionInterface.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Contract/Container/InvalidServiceExceptionInterface.php
  src/Toolkit/Contract/Container/ServiceLifetime.php
  src/Toolkit/Contract/Container/ServiceNotFoundExceptionInterface.php
  src/Toolkit/Core/Facade/App.php
  tests/unit/Toolkit/Container/ContainerTest.php
Due: Container, Contracts, Core

Contract: Add and adopt `BuilderInterface`
  src/Toolkit/Contract/Core/Buildable.php
  src/Toolkit/Contract/Core/BuilderInterface.php
  src/Toolkit/Core/AbstractBuilder.php
  src/Toolkit/Core/Concern/HasBuilder.php
Due: Contracts, Core

Sync: Continue decoupling contracts from sync component
  src/Toolkit/Contract/Sync/DeferralPolicy.php
  src/Toolkit/Contract/Sync/DeferredEntityInterface.php
  src/Toolkit/Contract/Sync/DeferredRelationshipInterface.php
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Core/Facade/Sync.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Support/DeferredEntity.php
  src/Toolkit/Sync/Support/DeferredRelationship.php
  src/Toolkit/Sync/SyncStore.php
Due: Contracts, Core, Sync

Sync: Decouple contracts from sync component
  src/Toolkit/Contract/Sync/SyncErrorCollectionInterface.php
  src/Toolkit/Contract/Sync/SyncErrorInterface.php
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Core/Facade/Sync.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  src/Toolkit/Sync/SyncError.php
  src/Toolkit/Sync/SyncErrorBuilder.php
  src/Toolkit/Sync/SyncStore.php
Due: Contracts, Core, Sync

Contract: Remove references to other packages from documentation
  src/Toolkit/Contract/Cli/CliCommandNodeInterface.php
  src/Toolkit/Contract/Cli/CliOptionValueType.php
  src/Toolkit/Contract/Container/ApplicationInterface.php
  src/Toolkit/Contract/Core/ArrayMapperFlag.php
  src/Toolkit/Contract/Core/TextComparisonAlgorithm.php
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Sync/SyncContextInterface.php
  src/Toolkit/Contract/composer.json
  src/Toolkit/Sync/Support/SyncContext.php
Due: Contracts, Sync

Contract: Add and adopt `MethodNotImplementedException` and others
  src/Toolkit/Contract/Core/MethodNotImplementedExceptionInterface.php
  src/Toolkit/Contract/Core/ProviderInterface.php
  src/Toolkit/Contract/Sync/Exception/FilterPolicyViolationExceptionInterface.php
  src/Toolkit/Contract/Sync/Exception/InvalidFilterExceptionInterface.php
  src/Toolkit/Contract/Sync/Exception/InvalidFilterSignatureExceptionInterface.php
  src/Toolkit/Contract/Sync/Exception/SyncEntityNotFoundExceptionInterface.php
  src/Toolkit/Contract/Sync/Exception/SyncEntityRecursionExceptionInterface.php
  src/Toolkit/Contract/Sync/Exception/SyncExceptionInterface.php
  src/Toolkit/Contract/Sync/FilterPolicy.php
  src/Toolkit/Contract/Sync/SyncContextInterface.php
  src/Toolkit/Contract/Sync/SyncEntityInterface.php
  src/Toolkit/Core/Exception/MethodNotImplementedException.php
  src/Toolkit/Sync/Exception/AbstractSyncException.php
  src/Toolkit/Sync/Exception/SyncEntityNotFoundException.php
  src/Toolkit/Sync/Exception/SyncEntityRecursionException.php
  src/Toolkit/Sync/Exception/SyncFilterPolicyViolationException.php
  src/Toolkit/Sync/Exception/SyncInvalidFilterException.php
  src/Toolkit/Sync/Exception/SyncInvalidFilterSignatureException.php
Due: Contracts, Core, Sync

Move PHPStan extension config file to PHPStan component
  .gitattributes
  composer.json
  composer.lock
  phpstan.neon.dist
  src/Toolkit/PHPStan/composer.json
  src/Toolkit/PHPStan/phpstan.extension.neon
  tests/unit/Toolkit/PHPStan/Type/ReturnTypeExtensionTestCase.php
Due: PHPStan

Normalise `composer.json` files
  src/Toolkit/Sli/composer.json
Due: Sli

Move `bootstrap.php` to Db component, update config files
  .php-cs-fixer.dist.php
  .prettyphp
  composer.json
  phpstan.neon.dist
  src/Toolkit/Db/bootstrap.php
  src/Toolkit/Db/composer.json
Due: Db

Check for previous CI runs with the same tree
  .ci-pathspec
  .gitattributes
  .github/workflows/check-ci-runs.yml
  .github/workflows/ci.yml
Due: none

Core: Add `Chainable::withEach()` and implement in `HasChainableMethods`
  src/Toolkit/Contract/Core/Chainable.php
  src/Toolkit/Core/Concern/HasChainableMethods.php
  src/Toolkit/Core/Facade/App.php
  tests/unit/Toolkit/Core/Concern/HasChainableMethods/HasChainableMethodsTest.php
Due: Contracts, Core

Release v0.99.35
  CHANGELOG.md
Due: none

Console: Fix issue where progress spinner does not change state
  src/Toolkit/Console/ConsoleFormatter.php
  tests/unit/Toolkit/Console/ConsoleWriterTest.php
Due: Console

Release v0.99.36
  CHANGELOG.md
Due: none

Add `Stringable` stub to `Contract` and `Utility` components
  src/Toolkit/Contract/composer.json
  src/Toolkit/Contract/stubs/Stringable.php
  src/Toolkit/Utility/composer.json
  src/Toolkit/Utility/stubs/Stringable.php
Due: Contracts, Utils

Exclude stubs from test coverage
  phpunit.xml.dist
Due: none

Move `/stubs` to `/tests/stubs`
  .ci-pathspec
  .gitattributes
  .php-cs-fixer.dist.php
  .prettyphp
  composer.json
  phpstan.neon.dist
  tests/stubs/ADOConnection.stub
  tests/stubs/ADORecordSet.stub
  tests/stubs/CurlHandle.php
  tests/stubs/DateException.php
  tests/stubs/DateMalformedIntervalStringException.php
  tests/stubs/UnitEnum.php
Due: none

Review stubs for economy
  src/Toolkit/Contract/stubs/Stringable.php
  src/Toolkit/Polyfill/stubs/PhpToken.php
  src/Toolkit/Polyfill/stubs/Stringable.php
  src/Toolkit/Utility/stubs/Stringable.php
  tests/stubs/CurlHandle.php
  tests/stubs/DateException.php
  tests/stubs/DateMalformedIntervalStringException.php
  tests/stubs/UnitEnum.php
Due: Contracts, Polyfills, Utils

Add GitHub workflows to close PRs opened in read-only repos
  src/Toolkit/Cache/.gitattributes
  src/Toolkit/Cache/.github/workflows/close-pr.yml
  src/Toolkit/Cli/.gitattributes
  src/Toolkit/Cli/.github/workflows/close-pr.yml
  src/Toolkit/Collection/.gitattributes
  src/Toolkit/Collection/.github/workflows/close-pr.yml
  src/Toolkit/Console/.gitattributes
  src/Toolkit/Console/.github/workflows/close-pr.yml
  src/Toolkit/Container/.gitattributes
  src/Toolkit/Container/.github/workflows/close-pr.yml
  src/Toolkit/Contract/.gitattributes
  src/Toolkit/Contract/.github/workflows/close-pr.yml
  src/Toolkit/Core/.gitattributes
  src/Toolkit/Core/.github/workflows/close-pr.yml
  src/Toolkit/Curler/.gitattributes
  src/Toolkit/Curler/.github/workflows/close-pr.yml
  src/Toolkit/Db/.gitattributes
  src/Toolkit/Db/.github/workflows/close-pr.yml
  src/Toolkit/Http/.gitattributes
  src/Toolkit/Http/.github/workflows/close-pr.yml
  src/Toolkit/Iterator/.gitattributes
  src/Toolkit/Iterator/.github/workflows/close-pr.yml
  src/Toolkit/PHPDoc/.gitattributes
  src/Toolkit/PHPDoc/.github/workflows/close-pr.yml
  src/Toolkit/PHPStan/.gitattributes
  src/Toolkit/PHPStan/.github/workflows/close-pr.yml
  src/Toolkit/Polyfill/.gitattributes
  src/Toolkit/Polyfill/.github/workflows/close-pr.yml
  src/Toolkit/Sli/.gitattributes
  src/Toolkit/Sli/.github/workflows/close-pr.yml
  src/Toolkit/Sync/.gitattributes
  src/Toolkit/Sync/.github/workflows/close-pr.yml
  src/Toolkit/Utility/.gitattributes
  src/Toolkit/Utility/.github/workflows/close-pr.yml
Due: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Utility: Review `Arr`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  scripts/generate.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Console/ConsoleWriter.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Core/Concern/MultipleErrorExceptionTrait.php
  src/Toolkit/Core/ConfigurationManager.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Pager/HasEntitySelector.php
  src/Toolkit/Curler/Pager/LinkPager.php
  src/Toolkit/Curler/Pager/QueryPager.php
  src/Toolkit/Http/HttpResponse.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sync/Command/GetSyncEntities.php
  src/Toolkit/Sync/SyncSerializeRules.php
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/Package.php
  tests/unit/Toolkit/Http/UriTest.php
  tests/unit/Toolkit/Utility/ArrTest.php
Due: Cli, Console, Container, Core, Curler, Http, Sli, Sync, Utils

Utility: Review `DateTest`
  src/Toolkit/Utility/Date.php
  tests/unit/Toolkit/Utility/DateTest.php
Due: Utils

Utility: Review `Debug`, `Env`, events, exceptions
  src/Toolkit/Utility/Debug.php
  src/Toolkit/Utility/Env.php
  src/Toolkit/Utility/Event/PackageDataReceivedEvent.php
  src/Toolkit/Utility/Exception/PcreErrorException.php
Due: Utils

Utility: Review `File`
  scripts/delete-covers.php
  scripts/generate.php
  src/Toolkit/Console/ConsoleWriter.php
  src/Toolkit/Sli/Command/AbstractCommand.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Utility/File.php
  src/Toolkit/Utility/Sys.php
  src/Toolkit/Utility/composer.json
  tests/unit/Toolkit/Utility/FileTest.php
Due: Console, Sli, Utils

generate.php: Don't re-download data files unless `--online` is given
  scripts/generate.php
Due: none

Release v0.99.37
  CHANGELOG.md
Due: none

Remove support for psr/simple-cache=^3 to fix return type compatibility
  composer.json
  composer.lock
  src/Toolkit/Cache/composer.json
  src/Toolkit/Contract/composer.json
Due: Cache, Contracts

Update dependencies
  composer.lock
  tests/3rdparty/Toolkit/Psr7Test/UriTest.php
Due: none

Sync: Fix `pipelineFrom()` and `pipelineTo()` return types
  src/Toolkit/Sync/AbstractSyncProvider.php
Due: Sync

Release v0.99.38
  CHANGELOG.md
Due: none

Cache: Add and implement `CacheStoreInterface::close()`
  src/Toolkit/Cache/CacheStore.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Contract/Cache/CacheStoreInterface.php
  src/Toolkit/Core/AbstractStore.php
  src/Toolkit/Core/Facade/Cache.php
  src/Toolkit/Sync/SyncStore.php
Due: Cache, Container, Contracts, Core, Sync

Http: Fix cache handling bugs in `OAuth2Client`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Http/OAuth2/OAuth2Client.php
Due: Http

Release v0.99.39
  CHANGELOG.md
Due: none

Sli: Add `getDateProperties()` to sync entities with date properties
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
Due: Sli

Core: Remove unused `ProviderContextAwareInterface::requireContext()`
  src/Toolkit/Contract/Core/ProviderContextAwareInterface.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
Due: Contracts, Core

Console: Review `message()`, `messageOnce()` parameters for consistency
  docs/Console.md
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Console/ConsoleLogger.php
  src/Toolkit/Console/ConsoleWriter.php
  src/Toolkit/Contract/Console/ConsoleWriterInterface.php
  src/Toolkit/Core/Concern/MultipleErrorExceptionTrait.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php
  tests/unit/Toolkit/Sync/Command/CheckSyncProviderHeartbeatTest.php
Due: Cli, Console, Contracts, Core, Sync

Release v0.99.40
  CHANGELOG.md
Due: none

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
