Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Core: Adopt less verbose exception interface names
  src/Toolkit/Console/ConsoleWriter.php
  src/Toolkit/Contract/Core/Entity/Constructible.php
  src/Toolkit/Contract/Core/Entity/Providable.php
  src/Toolkit/Contract/Core/Exception/Exception.php
  src/Toolkit/Contract/Core/Exception/InvalidDataException.php
  src/Toolkit/Contract/Core/Exception/MethodNotImplementedException.php
  src/Toolkit/Contract/Core/Exception/MultipleErrorException.php
  src/Toolkit/Contract/Core/Provider/ProviderInterface.php
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Core/ErrorHandler.php
  src/Toolkit/Core/Exception/Exception.php
  src/Toolkit/Core/Exception/ExceptionTrait.php
  src/Toolkit/Core/Exception/InvalidDataException.php
  src/Toolkit/Core/Exception/MethodNotImplementedException.php
  src/Toolkit/Core/Exception/MultipleErrorException.php
  src/Toolkit/Core/Exception/MultipleErrorExceptionTrait.php
  src/Toolkit/Sync/SyncStore.php
Due: Console, Contracts, Core, Sync

Core: Remove superfluous "Base class for runtime exceptions" summaries
  src/Toolkit/Core/Exception/Exception.php
  src/Toolkit/Core/Exception/MultipleErrorException.php
Due: Core

Contract: Review `Catalog` interfaces
  src/Toolkit/Contract/Catalog/EscapeSequence.php
  src/Toolkit/Contract/Catalog/FileDescriptor.php
  src/Toolkit/Contract/Catalog/ListConformity.php
  src/Toolkit/Contract/Catalog/MessageLevel.php
  src/Toolkit/Contract/Catalog/MessageLevelGroup.php
  src/Toolkit/Contract/Catalog/TextComparisonAlgorithm.php
  src/Toolkit/Contract/Catalog/TextComparisonFlag.php
Due: Contracts

Core: Review contracts
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Console/ConsoleWriter.php
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Cli/CliCommandInterface.php
  src/Toolkit/Contract/Core/Entity/Serializable.php
  src/Toolkit/Contract/Core/Entity/SerializeRulesInterface.php
  src/Toolkit/Contract/Core/Event/StoppableEventInterface.php
  src/Toolkit/Contract/Core/Facade/FacadeAwareInterface.php
  src/Toolkit/Contract/Core/Facade/FacadeInterface.php
  src/Toolkit/Contract/Core/GraphInterface.php
  src/Toolkit/Contract/Core/HasJsonSchema.php
  src/Toolkit/Contract/Core/NormaliserFlag.php
  src/Toolkit/Contract/Sync/SyncEntityInterface.php
  src/Toolkit/Contract/Sync/SyncSerializeRulesInterface.php
  src/Toolkit/Core/AbstractFacade.php
  src/Toolkit/Core/AbstractStore.php
  src/Toolkit/Core/Concern/HasFacade.php
  src/Toolkit/Core/Concern/StoppableEventTrait.php
  src/Toolkit/Core/Concern/UnloadsFacades.php
  src/Toolkit/Core/ErrorHandler.php
  src/Toolkit/Core/Graph.php
  src/Toolkit/Core/IntrospectionClass.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/SyncSerializeRules.php
  tests/fixtures/Toolkit/Core/AbstractFacade/MyHasFacadeClass.php
  tests/fixtures/Toolkit/Core/AbstractFacade/MyUnloadsFacadesClass.php
Due: Cli, Console, Container, Contracts, Core, Sync

Core: Review `SerializeRulesInterface`
  src/Toolkit/Contract/Core/Entity/SerializeRulesInterface.php
  src/Toolkit/Contract/Sync/SyncSerializeRulesInterface.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Sync/SyncSerializeRules.php
  src/Toolkit/Sync/SyncSerializeRulesBuilder.php
Due: Contracts, Core, Sync

Core: Rearrange event-related classes
  scripts/generate.php
  src/Toolkit/Core/AbstractFacade.php
  src/Toolkit/Core/Event/EventDispatcher.php
  src/Toolkit/Core/Event/StoppableEventTrait.php
  src/Toolkit/Core/Facade/Event.php
  tests/unit/Toolkit/Core/EventDispatcher/EventDispatcherTest.php
Due: Core

Core: Review `StoppableEventInterface` and `StoppableEventTrait`
  src/Toolkit/Contract/Core/Event/StoppableEventInterface.php
  src/Toolkit/Core/Event/StoppableEventTrait.php
Due: Contracts, Core

Core: Review facade-related contracts
  src/Toolkit/Console/ConsoleWriter.php
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Core/Facade/FacadeAwareInterface.php
  src/Toolkit/Contract/Core/Facade/FacadeInterface.php
  src/Toolkit/Core/AbstractStore.php
  src/Toolkit/Core/Concern/HasFacade.php
  src/Toolkit/Core/Concern/UnloadsFacades.php
  src/Toolkit/Core/ErrorHandler.php
  tests/fixtures/Toolkit/Core/AbstractFacade/MyHasFacadeClass.php
  tests/fixtures/Toolkit/Core/AbstractFacade/MyUnloadsFacadesClass.php
Due: Console, Container, Contracts, Core

Core: Review provider interfaces
  src/Toolkit/Contract/Core/Provider/ProviderAwareInterface.php
  src/Toolkit/Contract/Core/Provider/ProviderContextInterface.php
  src/Toolkit/Contract/Core/Provider/ProviderInterface.php
  src/Toolkit/Core/AbstractProvider.php
Due: Contracts, Core

Core: Review pipeline interfaces
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Contract/Core/Pipeline/ArrayMapperInterface.php
  src/Toolkit/Contract/Core/Pipeline/BasePipelineInterface.php
  src/Toolkit/Contract/Core/Pipeline/EntityPipelineInterface.php
  src/Toolkit/Contract/Core/Pipeline/PayloadPipelineInterface.php
  src/Toolkit/Contract/Core/Pipeline/PipeInterface.php
  src/Toolkit/Contract/Core/Pipeline/PipelineInterface.php
  src/Toolkit/Contract/Core/Pipeline/StreamPipelineInterface.php
  src/Toolkit/Core/ArrayMapper.php
  src/Toolkit/Core/Pipeline.php
  src/Toolkit/Sync/AbstractSyncProvider.php
  tests/unit/Toolkit/Core/ArrayMapperTest.php
  tests/unit/Toolkit/Core/PipelineTest.php
Due: Contracts, Core, Sync

Core: Review builders
  src/Toolkit/Contract/Core/Buildable.php
  src/Toolkit/Contract/Core/BuilderInterface.php
  src/Toolkit/Core/AbstractBuilder.php
  src/Toolkit/Core/Concern/HasBuilder.php
  src/Toolkit/Core/Reflection/ClassReflection.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  tests/unit/Toolkit/Cli/CliOptionBuilderTest.php
  tests/unit/Toolkit/Sync/AbstractSyncEntityTest.php
  tests/unit/Toolkit/Sync/SyncSerializeRulesTest.php
Due: Contracts, Core, Sli

Core: Finalise builder review
  docs/Builders.md
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Contract/Core/BuilderInterface.php
  src/Toolkit/Core/Concern/BuildableTrait.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/SyncError.php
  src/Toolkit/Sync/SyncSerializeRules.php
Due: Cli, Contracts, Core, Curler, Sync

Core: Review `FacadeAwareTrait` and `FacadeAwareInstanceTrait`
  src/Toolkit/Core/Concern/FacadeAwareInstanceTrait.php
  src/Toolkit/Core/Concern/FacadeAwareTrait.php
Due: Core

Core: Continue review
  docs/Entities.md
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Contract/Core/Comparable.php
  src/Toolkit/Contract/Core/DateFormatterInterface.php
  src/Toolkit/Contract/Core/DateParserInterface.php
  src/Toolkit/Contract/Core/Entity/Treeable.php
  src/Toolkit/Contract/Core/HasId.php
  src/Toolkit/Contract/Core/HasJsonSchema.php
  src/Toolkit/Contract/Core/Hierarchical.php
  src/Toolkit/Contract/Core/Jsonable.php
  src/Toolkit/Contract/Core/Unloadable.php
  src/Toolkit/Core/Concern/ChainableTrait.php
  src/Toolkit/Core/Concern/ConstructibleTrait.php
  src/Toolkit/Core/Concern/ExtensibleTrait.php
  src/Toolkit/Core/Concern/FacadeAwareInstanceTrait.php
  src/Toolkit/Core/Concern/FacadeAwareTrait.php
  src/Toolkit/Core/Concern/ImmutableTrait.php
  src/Toolkit/Core/Concern/NormalisableTrait.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
  src/Toolkit/Core/Concern/ReadableProtectedPropertiesTrait.php
  src/Toolkit/Core/Concern/ReadableTrait.php
  src/Toolkit/Core/Concern/TreeableTrait.php
  src/Toolkit/Core/Concern/WritableTrait.php
  src/Toolkit/Core/DateFormatParser.php
  src/Toolkit/Core/DateFormatter.php
  src/Toolkit/Core/DateParser.php
  src/Toolkit/Core/DotNetDateParser.php
  src/Toolkit/Core/Internal/StoreState.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Utility/Date.php
  tests/unit/Toolkit/Core/DateParserTest.php
  tests/unit/Toolkit/Core/DotNetDateParserTest.php
Due: Cli, Contracts, Core, Sync, Utils

Update `README.md`
  README.md
Due: none

Fix issue with unit tests where facades are not always cleaned up
  tests/unit/Toolkit/Cli/CliApplicationTest.php
  tests/unit/Toolkit/CommandTestCase.php
  tests/unit/Toolkit/Container/ApplicationTest.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/TestCase.php
  tests/unit/Toolkit/Utility/PackageTest.php
Due: none

Core: Review `ErrorHandler`
  src/Toolkit/Core/ErrorHandler.php
  src/Toolkit/Core/Facade/Err.php
Due: Core

Core: Add missing `int<1,max>` type to tab size in `Indentation`
  src/Toolkit/Core/Indentation.php
Due: Core

Move `Indentation` from `Core` to `Utility`
  src/Toolkit/Utility/Support/Indentation.php
  tests/unit/Toolkit/Utility/Support/IndentationTest.php
Due: Utils

Utility: Refactor `Indentation::from()` into `File::getIndentation()`
  src/Toolkit/Utility/File.php
  src/Toolkit/Utility/Internal/IndentationGuesser.php
  src/Toolkit/Utility/Support/Indentation.php
  tests/unit/Toolkit/Utility/FileTest.php
  tests/unit/Toolkit/Utility/Support/IndentationTest.php
Due: Utils

Core: Review `EventDispatcher`
  scripts/generate.php
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Core/Event/EventDispatcherInterface.php
  src/Toolkit/Contract/Core/Event/EventListenerProviderInterface.php
  src/Toolkit/Core/Event/EventDispatcher.php
  src/Toolkit/Core/Facade/Event.php
Due: Container, Contracts, Core

Core: Review `Provider` classes
  src/Toolkit/Core/Provider/AbstractEntity.php
  src/Toolkit/Core/Provider/AbstractProvider.php
  src/Toolkit/Core/Provider/ProviderContext.php
  src/Toolkit/Sync/AbstractSyncProvider.php
  tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php
  tests/fixtures/Toolkit/Sync/Provider/MockProvider.php
Due: Core, Sync

Core: Continue code review
  src/Toolkit/Core/ArrayMapper.php
  src/Toolkit/Core/ConfigurationManager.php
  src/Toolkit/Core/Facade/Config.php
  src/Toolkit/Core/Facade/Profile.php
  src/Toolkit/Core/Graph.php
  src/Toolkit/Core/MetricCollector.php
  tests/unit/Toolkit/Core/ConfigurationManagerTest.php
  tests/unit/Toolkit/Core/GraphTest.php
  tests/unit/Toolkit/Core/MetricCollectorTest.php
Due: Core

Core: Review `Pipeline`
  src/Toolkit/Core/Pipeline.php
Due: Core

Move `SqlQuery` from `Core` to `Db`
  src/Toolkit/Db/SqlQuery.php
  src/Toolkit/Sync/Db/DbSyncProvider.php
Due: Db, Sync

Core: Review `Store`
  src/Toolkit/Core/Internal/StoreState.php
  src/Toolkit/Core/Store.php
Due: Core

Core: Rearrange `Process` methods before review
  src/Toolkit/Core/Process.php
Due: Core

Core: Review `Process`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Core/Exception/ProcessDidNotTerminateException.php
  src/Toolkit/Core/Exception/ProcessException.php
  src/Toolkit/Core/Process.php
  src/Toolkit/Utility/File.php
  tests/unit/Toolkit/Core/ProcessTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
Due: Core, Utils

Core: Review constructors, tag legacy `Introspector` classes `@internal`
  src/Toolkit/Core/ConfigurationManager.php
  src/Toolkit/Core/ErrorHandler.php
  src/Toolkit/Core/Exception/ExceptionTrait.php
  src/Toolkit/Core/Exception/MethodNotImplementedException.php
  src/Toolkit/Core/Exception/MultipleErrorExceptionTrait.php
  src/Toolkit/Core/Exception/ProcessException.php
  src/Toolkit/Core/IntrospectionClass.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Core/IntrospectorKeyTargets.php
  src/Toolkit/Core/MetricCollector.php
  src/Toolkit/Core/Provider/AbstractProvider.php
  src/Toolkit/Core/Provider/ProviderContext.php
  src/Toolkit/Core/Reflection/MethodReflection.php
  src/Toolkit/Core/StreamWrapper.php
Due: Core

Core: Update facades
  scripts/generate.php
  src/Toolkit/Core/Facade/Cache.php
  src/Toolkit/Core/Facade/Err.php
  src/Toolkit/Core/Facade/Event.php
Due: Core

Utility: Review constructors
  src/Toolkit/Utility/Event/PackageDataReceivedEvent.php
  src/Toolkit/Utility/Exception/PcreErrorException.php
  src/Toolkit/Utility/Exception/UtilityException.php
  src/Toolkit/Utility/Support/Indentation.php
Due: Utils

Core: Add invalid property checks to `ClassReflection`
  src/Toolkit/Core/Reflection/ClassReflection.php
  tests/unit/Toolkit/Core/Reflection/ClassReflectionTest.php
Due: Core

Core: Adopt `ClassReflection` instead of `Introspector` where possible
  src/Toolkit/Contract/Sync/SyncEntityInterface.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Core/Provider/AbstractEntity.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Sync/SyncSerializeRules.php
  tests/unit/Toolkit/Core/IntrospectorTest.php
Due: Contracts, Core, Sli, Sync

Core: Move introspector classes to `Legacy` namespace
  src/Toolkit/Core/Concern/ConstructibleTrait.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
  src/Toolkit/Core/Internal/ReadPropertyTrait.php
  src/Toolkit/Core/Internal/WritePropertyTrait.php
  src/Toolkit/Core/Legacy/IntrospectionClass.php
  src/Toolkit/Core/Legacy/Introspector.php
  src/Toolkit/Core/Legacy/IntrospectorKeyTargets.php
  src/Toolkit/Sync/Support/SyncIntrospectionClass.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  tests/unit/Toolkit/Core/Legacy/IntrospectorTest.php
Due: Core, Sync

Core: Move unit tests to namespaces that match units under test
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  tests/phpstan-conditional.php
  tests/unit/Toolkit/Contract/Catalog/TextComparisonFlagTest.php
  tests/unit/Toolkit/Core/Event/EventDispatcherTest.php
  tests/unit/Toolkit/Core/Event/listenerWithDnfType.php
  tests/unit/Toolkit/Core/Event/listenerWithIntersectionType.php
Due: none

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
