Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Utility: Fix inconsistent `Str::escapeMarkdown()` output with CRLF input
  src/Toolkit/Utility/Str.php
Due: Utils

PHPDoc: Improve inheritance, make `PHPDoc` stringable
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilTest.php
Due: PHPDoc

Core: Add `handlePropertyChanged()` to the `HasMutator` trait
  src/Toolkit/Core/Concern/HasMutator.php
Due: Core

Sli: Improve `AnalyseClass` command
  src/Toolkit/Sli/Command/AnalyseClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/unit/Toolkit/Sli/Command/AnalyseClassTest.php
Due: Sli

Fix `ci.yml` dependency issue
  .github/workflows/ci.yml
Due: none

PHPDoc: allow inheritors to customise behaviour via protected constants
  src/Toolkit/PHPDoc/PHPDoc.php
Due: PHPDoc

PHPDoc: Improve template inheritance, simplify `PHPDoc` state handling
  src/Toolkit/PHPDoc/PHPDoc.php
Due: PHPDoc

PHPDoc: Add `PHPDoc::fromTags()` and `flatten()` to facilitate testing
  src/Toolkit/PHPDoc/PHPDoc.php
Due: PHPDoc

PHPDoc: Add support for `@method` tags
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/Tag/MethodParam.php
  src/Toolkit/PHPDoc/Tag/MethodTag.php
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
Due: PHPDoc

Release v0.99.60
  CHANGELOG.md
Due: none

PHPStan: Check property visibility in `HasMutator` rule
  phpstan.neon.dist
  src/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRule.php
  tests/fixtures/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRuleFailures.php
  tests/unit/Toolkit/PHPStan/Core/Rules/TypesAssignedByHasMutatorRuleTest.php
Due: PHPStan

PHPDoc: Build out `PHPDoc`, add tests
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocRegex.php
  src/Toolkit/PHPDoc/Tag/GenericTag.php
  src/Toolkit/PHPDoc/Tag/MethodParam.php
  src/Toolkit/PHPDoc/Tag/MethodTag.php
  src/Toolkit/PHPDoc/Tag/PropertyTag.php
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
Due: PHPDoc

PHPDoc: Improve error handling, clean up
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/PHPDoc/Tag/ErrorTag.php
  src/Toolkit/PHPDoc/Tag/TemplateTag.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
Due: PHPDoc, Sli

Sli: Catch and report PHPDoc errors in `AnalyseClass`
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/ConstantData.php
  src/Toolkit/Sli/Internal/Data/HasPHPDoc.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
Due: Sli

Console: Simplify `ConsoleWriter::exception()` output
  src/Toolkit/Console/ConsoleWriter.php
Due: Console

Sli: Add PHPDoc descriptions to `AnalyseClass` output
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/ConstantData.php
  src/Toolkit/Sli/Internal/Data/HasPHPDoc.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
  tests/unit/Toolkit/Sli/Command/AnalyseClassTest.php
Due: Sli

Sli: Add "magic" properties and methods to `AnalyseClass` output
  .php-cs-fixer.dist.php
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyBaseClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyInterface.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output3.md
  tests/unit/Toolkit/Sli/Command/AnalyseClassTest.php
Due: Sli

Update php-cs-fixer configuration and apply
  .php-cs-fixer.dist.php
  src/Toolkit/Core/Concern/HasUnderlyingService.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Utility/Env.php
  src/Toolkit/Utility/File.php
  src/Toolkit/Utility/Regex.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyBaseClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/unit/Toolkit/Sli/SliTestCase.php
Due: Core, Sync, Utils

Sli: Suppress inherited summaries and descriptions in `AnalyseClass`
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/ConstantData.php
  src/Toolkit/Sli/Internal/Data/HasPHPDoc.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
Due: Sli

Sli: Improve Markdown output from `AnalyseClass`
  src/Toolkit/Sli/Command/AnalyseClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
Due: Sli

PHPDoc: Improve parsing and inheritance, review
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/PHPDoc/Tag/AbstractTag.php
  src/Toolkit/PHPDoc/Tag/ErrorTag.php
  src/Toolkit/PHPDoc/Tag/GenericTag.php
  src/Toolkit/PHPDoc/Tag/MethodParam.php
  src/Toolkit/PHPDoc/Tag/MethodTag.php
  src/Toolkit/PHPDoc/Tag/ParamTag.php
  src/Toolkit/PHPDoc/Tag/PropertyTag.php
  src/Toolkit/PHPDoc/Tag/ReturnTag.php
  src/Toolkit/PHPDoc/Tag/TemplateTag.php
  src/Toolkit/PHPDoc/Tag/VarTag.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/ConstantData.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilTest.php
Due: PHPDoc, Sli

Sli: Propagate imports to `PHPDoc` for type expansion in `AnalyseClass`
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/ConstantData.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/NamespaceData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
Due: Sli

PHPDoc: Allow classes to inherit select tags from traits
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyInterface.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyTrait.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output3.md
  tests/unit/Toolkit/PHPDoc/PHPDocUtilTest.php
Due: PHPDoc

Release v0.99.61
  CHANGELOG.md
Due: none

Update tools
  tools/apigen/composer.lock
  tools/mockoon-cli/package-lock.json
  tools/mockoon-cli/package.json
Due: none

Update dependencies
  composer.lock
Due: none

Release v0.99.62
  CHANGELOG.md
Due: none

Update `phpstan-conditional.php` for consistency with other projects
  tests/phpstan-conditional.php
Due: none

Update tools
  .phive/phars.xml
  tools/pretty-php
Due: none

Update formatting
  src/Toolkit/Console/Support/ConsoleMessageFormat.php
  src/Toolkit/Core/AbstractFacade.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Core/Process.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Reflection/ReflectionSyncProvider.php
  src/Toolkit/Sync/Support/SyncContext.php
  src/Toolkit/Sync/Support/SyncEntityFuzzyResolver.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Utility/File.php
  src/Toolkit/Utility/Reflect.php
Due: Console, Core, Curler, Http, PHPDoc, Sli, Sync, Utils

Update `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Due: none

Adopt PHPStan 2.0
  composer.json
  composer.lock
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  phpstan.neon.dist
  src/Toolkit/PHPStan/Utility/Type/ArrExtendReturnTypeExtension.php
  src/Toolkit/PHPStan/composer.json
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/ArrExtendReturnTypeExtensionAssertions.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/ArrFlattenReturnTypeExtensionAssertions.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/ArrWhereNotEmptyReturnTypeExtensionAssertions.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/ArrWhereNotNullReturnTypeExtensionAssertions.php
Due: PHPStan, Sync

Fix issues reported by PHPStan
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Console/ConsoleFormatter.php
  src/Toolkit/Contract/Sync/SyncDefinitionInterface.php
  src/Toolkit/Contract/Sync/SyncStoreInterface.php
  src/Toolkit/Core/Concern/HasFacade.php
  src/Toolkit/Core/Concern/MultipleErrorExceptionTrait.php
  src/Toolkit/Core/IntrospectionClass.php
  src/Toolkit/Core/Introspector.php
  src/Toolkit/Core/SqlQuery.php
  src/Toolkit/PHPStan/Utility/Type/StrCoalesceReturnTypeExtension.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sli/Command/Generate/GenerateTests.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinitionBuilder.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinitionBuilder.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Sync/SyncStore.php
  src/Toolkit/Utility/Exception/PcreErrorException.php
  src/Toolkit/Utility/Get.php
  src/Toolkit/Utility/Inflect.php
  src/Toolkit/Utility/Regex.php
  src/Toolkit/Utility/Str.php
  tests/fixtures/Toolkit/PHPStan/Utility/Type/StrCoalesceReturnTypeExtensionAssertions.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/Utility/InflectTest.php
  tests/unit/Toolkit/Utility/StrTest.php
Due: Cli, Console, Contracts, Core, PHPStan, Sli, Sync, Utils

Update `scripts/extract-phpdoc-parser-tests.php`
  scripts/extract-phpdoc-parser-tests.php
Due: none

Release v0.99.63
  CHANGELOG.md
Due: none

Improve PHP 8.4 support
  scripts/run-tests.sh
  src/Toolkit/Core/ErrorHandler.php
  src/Toolkit/Core/Facade/Err.php
  src/Toolkit/Utility/Debug.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/HttpTestCase.php
Due: Core, Utils

Collection: Rename files before refactoring
  src/Toolkit/Collection/ListCollectionTrait.php
  src/Toolkit/Collection/ReadOnlyArrayAccessTrait.php
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
  tests/unit/Toolkit/Collection/CollectionTest.php
  tests/unit/Toolkit/Collection/ListCollectionTest.php
Due: Collections

Collection: Refactor for consistency and simplicity
  src/Toolkit/Collection/AbstractTypedCollection.php
  src/Toolkit/Collection/AbstractTypedList.php
  src/Toolkit/Collection/Collection.php
  src/Toolkit/Collection/CollectionTrait.php
  src/Toolkit/Collection/ImmutableCollection.php
  src/Toolkit/Collection/ImmutableCollectionTrait.php
  src/Toolkit/Collection/ImmutableListCollection.php
  src/Toolkit/Collection/ImmutableListTrait.php
  src/Toolkit/Collection/ListCollection.php
  src/Toolkit/Collection/ListCollectionTrait.php
  src/Toolkit/Collection/ReadOnlyArrayAccessTrait.php
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
  src/Toolkit/Contract/Collection/CollectionInterface.php
  src/Toolkit/Contract/Collection/ListInterface.php
  src/Toolkit/Contract/Http/HttpHeadersInterface.php
  src/Toolkit/Core/ConfigurationManager.php
  src/Toolkit/Http/HasHttpHeaders.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  tests/fixtures/Toolkit/Collection/TypedCollection/MyCollection.php
  tests/fixtures/Toolkit/Collection/TypedList/MyList.php
  tests/fixtures/Toolkit/Core/Concern/HasMutator/MyImmutableClass.php
  tests/unit/Toolkit/Collection/CollectionTest.php
  tests/unit/Toolkit/Collection/ListCollectionTest.php
  tests/unit/Toolkit/Core/ConfigurationManagerTest.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
Due: Collections, Contracts, Core, Http, Sync

Update CI workflow for PHP 8.4 and latest Codecov updates
  .github/workflows/ci.yml
Due: none

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
