Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Contract: Rename interfaces in `Catalog` namespace
  src/Toolkit/Console/Concept/ConsoleStreamTarget.php
  src/Toolkit/Console/Support/ConsoleFormat.php
  src/Toolkit/Console/Target/StreamTarget.php
  src/Toolkit/Contract/Catalog/HasAnsiEscapeSequence.php
  src/Toolkit/Contract/Catalog/HasFileDescriptor.php
  src/Toolkit/Core/Process.php
  tests/unit/Toolkit/Core/ProcessTest.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/HttpTestCase.php
Due: Console, Contracts, Core

Contract: Review array key conformity
  src/Toolkit/Contract/Catalog/HasConformity.php
  src/Toolkit/Contract/Core/Entity/Constructible.php
  src/Toolkit/Contract/Core/Entity/Providable.php
  src/Toolkit/Contract/Core/Pipeline/ArrayMapperInterface.php
  src/Toolkit/Contract/Core/Pipeline/BasePipelineInterface.php
  src/Toolkit/Contract/Core/Pipeline/PayloadPipelineInterface.php
  src/Toolkit/Contract/Core/Provider/ProviderContextInterface.php
  src/Toolkit/Contract/Sync/SyncDefinitionInterface.php
  src/Toolkit/Core/ArrayMapper.php
  src/Toolkit/Core/Concern/ConstructibleTrait.php
  src/Toolkit/Core/Concern/ProvidableTrait.php
  src/Toolkit/Core/Pipeline.php
  src/Toolkit/Core/Provider/ProviderContext.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinitionBuilder.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinitionBuilder.php
  tests/unit/Toolkit/Core/ArrayMapperTest.php
  tests/unit/Toolkit/Core/Concern/ConstructibleTrait/ConstructibleTraitTest.php
  tests/unit/Toolkit/Core/PipelineTest.php
Due: Contracts, Core, Sync

Console: Rename classes for brevity before reworking message levels
  docs/Console.md
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  scripts/generate.php
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/ConsoleLogger.php
  src/Toolkit/Console/Support/ConsoleState.php
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Contract/Core/Exception/MultipleErrorException.php
  src/Toolkit/Contract/Sync/SyncErrorCollectionInterface.php
  src/Toolkit/Core/Exception/MultipleErrorExceptionTrait.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/ConstantData.php
  src/Toolkit/Sli/Internal/Data/HasPHPDoc.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/NamespaceData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  tests/3rdparty/Toolkit/PsrLog/LoggerTest.php
  tests/unit/Toolkit/Console/ConsoleTest.php
  tests/unit/Toolkit/Container/ContainerTest.php
Due: Console, Container, Contracts, Core, Sli, Sync

Utility: Review `Arr` for clarity and consistency
  src/Toolkit/Utility/Arr.php
Due: Utils

Utility: Optionally preserve keys in `Arr::pluck()` and `Arr::flatten()`
  src/Toolkit/Utility/Arr.php
  tests/unit/Toolkit/Utility/ArrTest.php
Due: Utils

PHPStan: Update `Arr::flatten()` return type extension
  src/Toolkit/PHPStan/Utility/Type/ArrFlattenReturnTypeExtension.php
  tests/unit/Toolkit/PHPStan/Utility/Type/ArrFlattenReturnTypeExtensionAssertions.php
Due: PHPStan

Utility: Add `Reflect::getDeclaring()` and related methods
  src/Toolkit/Utility/Reflect.php
Due: Utils

PHPDoc: Track context to allow expansion of `static`, `self`, etc.
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/PHPDoc/Tag/AbstractTag.php
  src/Toolkit/PHPDoc/Tag/MethodTag.php
  src/Toolkit/PHPDoc/Tag/ParamTag.php
  src/Toolkit/PHPDoc/Tag/PropertyTag.php
  src/Toolkit/PHPDoc/Tag/ReturnTag.php
  src/Toolkit/PHPDoc/Tag/TemplateTag.php
  src/Toolkit/PHPDoc/Tag/VarTag.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  tests/fixtures/Toolkit/Reflection/MyBackedEnumTrait.php
  tests/fixtures/Toolkit/Reflection/MyBaseClass.php
  tests/fixtures/Toolkit/Reflection/MyBaseInterface.php
  tests/fixtures/Toolkit/Reflection/MyBaseTrait.php
  tests/fixtures/Toolkit/Reflection/MyClass.php
  tests/fixtures/Toolkit/Reflection/MyClassWithTraitWithConstants.php
  tests/fixtures/Toolkit/Reflection/MyInterface.php
  tests/fixtures/Toolkit/Reflection/MyOtherInterface.php
  tests/fixtures/Toolkit/Reflection/MyReusedTrait.php
  tests/fixtures/Toolkit/Reflection/MySubclass.php
  tests/fixtures/Toolkit/Reflection/MyTrait.php
  tests/fixtures/Toolkit/Reflection/MyTraitAdaptationClass.php
  tests/fixtures/Toolkit/Reflection/MyTraitAdaptationInterface.php
  tests/fixtures/Toolkit/Reflection/MyTraitWithConstants.php
  tests/fixtures/Toolkit/Reflection/MyUndocumentedClass.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilTest.php
Due: PHPDoc, Sli

Sli: Refactor `GenerateFacade`
  scripts/generate.php
  src/Toolkit/Core/Facade/App.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncProvider.php
  src/Toolkit/Sli/Command/Generate/GenerateTests.php
  src/Toolkit/Sync/Command/AbstractSyncCommand.php
  tests/unit/Toolkit/Core/Facade/MyClassFacade.php
Due: Core, Sli, Sync

Contract: Review message level groups
  scripts/generate.php
  src/Toolkit/Console/Concept/ConsoleStreamTarget.php
  src/Toolkit/Console/Console.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Contract/Catalog/HasMessageLevels.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Core/Facade/Console.php
  tests/unit/Toolkit/Cli/CliApplicationTest.php
  tests/unit/Toolkit/CommandTestCase.php
  tests/unit/Toolkit/Core/Exception/MultipleErrorExceptionTest.php
Due: Console, Container, Contracts, Core

Contract: Review escape sequences
  src/Toolkit/Console/Concept/ConsoleStreamTarget.php
  src/Toolkit/Console/Support/ConsoleFormat.php
  src/Toolkit/Contract/Catalog/HasEscapeSequence.php
Due: Console, Contracts

Contract: Review file descriptor constant names
  src/Toolkit/Contract/Catalog/HasFileDescriptor.php
  src/Toolkit/Core/Process.php
  tests/unit/Toolkit/Core/ProcessTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/HttpTestCase.php
Due: Contracts, Core

Contract: Review text comparison flags
  src/Toolkit/Contract/Catalog/HasTextComparisonFlag.php
  src/Toolkit/Contract/Catalog/TextComparisonFlag.php
  src/Toolkit/Contract/Sync/SyncEntityProviderInterface.php
  src/Toolkit/Contract/Sync/SyncEntityResolverInterface.php
  src/Toolkit/Sync/AbstractSyncEntity.php
  src/Toolkit/Sync/Support/SyncEntityFuzzyResolver.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Sync/Support/SyncEntityResolver.php
  tests/unit/Toolkit/Contract/Catalog/TextComparisonFlagTest.php
  tests/unit/Toolkit/Sync/Support/SyncEntityResolverTest.php
Due: Contracts, Sync

Contract: Review escape sequences
  src/Toolkit/Console/Concept/ConsoleStreamTarget.php
  src/Toolkit/Console/Support/ConsoleFormat.php
  src/Toolkit/Console/Target/StreamTarget.php
  src/Toolkit/Contract/Catalog/HasEscapeSequence.php
Due: Console, Contracts

Contract: Return `MimeType` to `Http` namespace
  src/Toolkit/Contract/Http/MimeType.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/AbstractHttpMessage.php
  src/Toolkit/Http/HttpMultipartStreamPart.php
  src/Toolkit/Http/HttpRequest.php
  src/Toolkit/Http/HttpUtil.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
Due: Contracts, Curler, Http

Contract: Move interfaces from `Catalog` to top of `Contract` namespace
  scripts/generate.php
  src/Toolkit/Console/Concept/ConsoleStreamTarget.php
  src/Toolkit/Console/Support/ConsoleFormat.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Contract/Core/Entity/Constructible.php
  src/Toolkit/Contract/Core/Entity/Providable.php
  src/Toolkit/Contract/Core/Pipeline/ArrayMapperInterface.php
  src/Toolkit/Contract/Core/Pipeline/BasePipelineInterface.php
  src/Toolkit/Contract/Core/Provider/ProviderContextInterface.php
  src/Toolkit/Contract/HasConformity.php
  src/Toolkit/Contract/HasEscapeSequence.php
  src/Toolkit/Contract/HasFileDescriptor.php
  src/Toolkit/Contract/HasMessageLevel.php
  src/Toolkit/Contract/HasMessageLevels.php
  src/Toolkit/Contract/HasTextComparisonFlag.php
  src/Toolkit/Contract/Sync/SyncDefinitionInterface.php
  src/Toolkit/Contract/Sync/SyncEntityProviderInterface.php
  src/Toolkit/Contract/Sync/SyncEntityResolverInterface.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Core/Process.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  tests/3rdparty/Toolkit/PsrLog/LoggerTest.php
  tests/unit/Toolkit/HttpTestCase.php
Due: Console, Contracts, Core, Sync

Console: Clean up remaining references to "writers"
  src/Toolkit/Console/ConsoleLogger.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Contract/Core/Exception/MultipleErrorException.php
  src/Toolkit/Contract/Sync/SyncErrorCollectionInterface.php
  src/Toolkit/Core/Exception/MultipleErrorExceptionTrait.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: Console, Contracts, Core, Sync

Console: Move `ConsoleState` to `Console.php` and make it uncloneable
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/Support/ConsoleState.php
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: Console

Console: Review message types
  scripts/generate.php
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Console/Concept/ConsoleStreamTarget.php
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/ConsoleFormatter.php
  src/Toolkit/Console/ConsoleLogger.php
  src/Toolkit/Console/Support/ConsoleMessageAttributes.php
  src/Toolkit/Console/Support/ConsoleMessageFormats.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Contract/Console/ConsoleFormatterInterface.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Contract/Console/ConsoleMessageTypeGroup.php
  src/Toolkit/Contract/Console/HasMessageType.php
  src/Toolkit/Core/Exception/MultipleErrorExceptionTrait.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  tests/unit/Toolkit/Contract/Console/ConsoleMessageTypeGroupTest.php
Due: Cli, Console, Container, Contracts, Core, Sync

Console: Review message type groups
  scripts/generate.php
  src/Toolkit/Console/Concept/ConsoleStreamTarget.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Contract/Console/ConsoleMessageTypeGroup.php
  src/Toolkit/Contract/Console/HasMessageTypes.php
  src/Toolkit/Core/Facade/Console.php
  tests/unit/Toolkit/Contract/Console/HasMessageTypesTest.php
Due: Console, Contracts, Core

Update tools, add `composer-require-checker`
  .phive/phars.xml
  tools/composer-require-checker
  tools/mockoon-cli/package-lock.json
  tools/php-cs-fixer
  tools/pretty-php
Due: none

Update dependencies, fix issues reported by latest PHPStan
  composer.lock
  src/Toolkit/Core/Builder.php
  src/Toolkit/Core/Legacy/Introspector.php
  src/Toolkit/Core/Pipeline.php
Due: Core

Release v0.99.75
  CHANGELOG.md
Due: none

Review dependencies of finalised components
  composer.json
  src/Toolkit/Cache/composer.json
  src/Toolkit/Core/composer.json
Due: Cache, Core

Collection: Review component
  src/Toolkit/Collection/Collection.php
  src/Toolkit/Collection/CollectionTrait.php
  src/Toolkit/Collection/ListCollection.php
  src/Toolkit/Collection/ListCollectionTrait.php
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
  src/Toolkit/Contract/Collection/CollectionInterface.php
  src/Toolkit/Http/HttpHeaders.php
  tests/unit/Toolkit/Core/Concern/ImmutableTrait/MyImmutableClass.php
Due: Collections, Contracts, Http

Curler: Add missing `@inheritDoc` tags to event methods
  src/Toolkit/Curler/Event/AbstractCurlEvent.php
  src/Toolkit/Curler/Event/AbstractCurlerEvent.php
  src/Toolkit/Curler/Event/CurlRequestEvent.php
  src/Toolkit/Curler/Event/CurlResponseEvent.php
  src/Toolkit/Curler/Event/ResponseCacheHitEvent.php
Due: Curler

Curler: Rename event abstractions for consistency with exceptions
  src/Toolkit/Container/Application.php
  src/Toolkit/Contract/Curler/Event/CurlEvent.php
  src/Toolkit/Contract/Curler/Event/CurlRequestEvent.php
  src/Toolkit/Contract/Curler/Event/CurlResponseEvent.php
  src/Toolkit/Contract/Curler/Event/CurlerEvent.php
  src/Toolkit/Contract/Curler/Event/ResponseCacheHitEvent.php
  src/Toolkit/Curler/CurlerHarRecorder.php
  src/Toolkit/Curler/Event/CurlEvent.php
  src/Toolkit/Curler/Event/CurlRequestEvent.php
  src/Toolkit/Curler/Event/CurlResponseEvent.php
  src/Toolkit/Curler/Event/CurlerEvent.php
  src/Toolkit/Curler/Event/ResponseCacheHitEvent.php
  tests/unit/Toolkit/Curler/CurlerTest.php
Due: Container, Contracts, Curler

Curler: Refactor for clarity and consistency
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Http/HttpHeadersInterface.php
  src/Toolkit/Contract/Http/HttpMessageInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/HasHttpHeaders.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Http/HttpServer.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
Due: Contracts, Curler, Http

Sli: Add "--constructor" option to "generate builder" command
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
Due: Sli

Curler: Simplify `Curler` API
  scripts/generate.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerBuilder.php
  tests/unit/Toolkit/HttpTestCase.php
Due: Curler

Curler: Fix broken reference in `CurlerPagerInterface` documentation
  src/Toolkit/Contract/Curler/CurlerPagerInterface.php
Due: Contracts

Http: Add and implement (some) exception interfaces
  src/Toolkit/Contract/Http/Exception/HttpException.php
  src/Toolkit/Contract/Http/Exception/InvalidHeaderException.php
  src/Toolkit/Contract/Http/Exception/StreamEncapsulationException.php
  src/Toolkit/Contract/Http/Exception/StreamException.php
  src/Toolkit/Contract/Http/HttpHeadersInterface.php
  src/Toolkit/Http/Exception/HttpException.php
  src/Toolkit/Http/Exception/InvalidHeaderException.php
  src/Toolkit/Http/Exception/StreamEncapsulationException.php
  src/Toolkit/Http/Exception/StreamException.php
  src/Toolkit/Http/HttpServer.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/Http/HttpStreamTest.php
Due: Contracts, Http

Curler: Review `Curler`
  scripts/generate.php
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerBuilder.php
  tests/unit/Toolkit/Curler/CurlerTest.php
Due: Contracts, Curler

Iterator: Review `FluentIteratorInterface` and `FluentIteratorTrait`
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
  src/Toolkit/Contract/Core/Arrayable.php
  src/Toolkit/Contract/Iterator/FluentIteratorInterface.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Iterator/Concern/FluentIteratorTrait.php
  src/Toolkit/Iterator/RecursiveFilesystemIterator.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Support/SyncEntityResolver.php
  src/Toolkit/Utility/Get.php
  tests/unit/Toolkit/Http/FormDataTest.php
  tests/unit/Toolkit/Iterator/IterableIteratorTest.php
  tests/unit/Toolkit/Iterator/RecursiveFilesystemIteratorTest.php
  tests/unit/Toolkit/Utility/Get/GetTest.php
Due: Collections, Contracts, Http, Iterators, Sync, Utils

Iterator: review classes
  src/Toolkit/Iterator/Concern/RecursiveGraphIteratorTrait.php
  src/Toolkit/Iterator/Contract/MutableIterator.php
  src/Toolkit/Iterator/GraphIterator.php
  src/Toolkit/Iterator/IterableIterator.php
  src/Toolkit/Iterator/MapIterator.php
  src/Toolkit/Iterator/MutableGraphIterator.php
  src/Toolkit/Iterator/RecursiveCallbackIterator.php
  src/Toolkit/Iterator/RecursiveGraphIterator.php
  src/Toolkit/Iterator/RecursiveMutableGraphIterator.php
  tests/unit/Toolkit/Iterator/RecursiveCallbackIteratorTest.php
  tests/unit/Toolkit/Iterator/RecursiveMutableGraphIteratorTest.php
Due: Iterators

Iterator: Refactor `RecursiveFilesystemIterator`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  scripts/delete-covers.php
  scripts/generate.php
  src/Toolkit/Core/ConfigurationManager.php
  src/Toolkit/Iterator/RecursiveFilesystemIterator.php
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Utility/File.php
  tests/unit/Toolkit/Iterator/RecursiveFilesystemIteratorTest.php
Due: Core, Iterators, Sli, Utils

Iterator: Rearrange and rename classes for clarity
  src/Toolkit/Iterator/FileIterator.php
  src/Toolkit/Iterator/FluentIteratorTrait.php
  src/Toolkit/Iterator/GraphIterator.php
  src/Toolkit/Iterator/IterableIterator.php
  src/Toolkit/Iterator/RecursiveCallbackIterator.php
  src/Toolkit/Iterator/RecursiveGraphIterator.php
  src/Toolkit/Utility/File.php
  tests/unit/Toolkit/Iterator/FileIterator/FileIteratorTest.php
  tests/unit/Toolkit/Iterator/FileIterator/data/.hidden
  tests/unit/Toolkit/Iterator/FileIterator/data/dir1/.hidden
  tests/unit/Toolkit/Iterator/FileIterator/data/dir1/dir2/.hidden
  tests/unit/Toolkit/Iterator/FileIterator/data/dir1/dir2/file2
  tests/unit/Toolkit/Iterator/FileIterator/data/dir1/dir2/file6.ext
  tests/unit/Toolkit/Iterator/FileIterator/data/dir1/file3
  tests/unit/Toolkit/Iterator/FileIterator/data/dir1/file4.ext
  tests/unit/Toolkit/Iterator/FileIterator/data/dir2/.hidden
  tests/unit/Toolkit/Iterator/FileIterator/data/dir2/dir3/.hidden
  tests/unit/Toolkit/Iterator/FileIterator/data/dir2/dir3/file7
  tests/unit/Toolkit/Iterator/FileIterator/data/dir2/dir3/file8.ext
  tests/unit/Toolkit/Iterator/FileIterator/data/dir2/file5
  tests/unit/Toolkit/Iterator/FileIterator/data/dir2/file6.ext
  tests/unit/Toolkit/Iterator/FileIterator/data/file1
  tests/unit/Toolkit/Iterator/FileIterator/data/file2.ext
Due: Iterators, Utils

Release v0.99.76
  CHANGELOG.md
Due: none

Remove GitHub-only footnote syntax from `README.md` files
  README.md
  src/Toolkit/Cache/README.md
  src/Toolkit/Collection/README.md
  src/Toolkit/Curler/README.md
Due: Cache, Collections, Curler

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
