Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

Utility: Improve trait reflection
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/Utility/Reflect.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilTest.php
  tests/unit/Toolkit/Utility/Reflect/ReflectTest.php
Due: PHPDoc, Utils

PHPStan: Review `ImmutableTrait` extensions
  phpstan.neon.dist
  src/Toolkit/PHPStan/Core/Rules/ImmutableTraitReadWritePropertiesExtension.php
  src/Toolkit/PHPStan/Core/Rules/TypesAssignedByImmutableTraitRule.php
  src/Toolkit/PHPStan/Internal/TraitMethodCall.php
  src/Toolkit/PHPStan/README.md
  src/Toolkit/PHPStan/RuleTrait.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/PHPStan/Core/Rules/TypesAssignedByImmutableTraitRuleFailures.php
  tests/unit/Toolkit/PHPStan/Core/Rules/TypesAssignedByImmutableTraitRuleTest.php
  tests/unit/Toolkit/PHPStan/Utility/Rules/GetCoalesceRuleTest.php
Due: PHPStan

PHPStan: Rename rules for consistency with the classes they apply to
  phpstan.neon.dist
  src/Toolkit/PHPStan/Core/Rules/ImmutableTraitReadWritePropertiesExtension.php
  src/Toolkit/PHPStan/Core/Rules/TypesAssignedByImmutableTraitRule.php
  src/Toolkit/PHPStan/phpstan.extension.neon
  tests/bootstrap.php
  tests/unit/Toolkit/PHPStan/Core/Rules/TypesAssignedByImmutableTraitRuleFailures.php
  tests/unit/Toolkit/PHPStan/Core/Rules/TypesAssignedByImmutableTraitRuleTest.php
Due: PHPStan

PHPStan: Simplify namespace structure, update `README.md`
  phpstan.neon.dist
  src/Toolkit/PHPStan/Core/ImmutableTraitReadWritePropertiesExtension.php
  src/Toolkit/PHPStan/Core/ImmutableTraitRule.php
  src/Toolkit/PHPStan/Internal/RuleTrait.php
  src/Toolkit/PHPStan/README.md
  src/Toolkit/PHPStan/Utility/ArrExtendReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/ArrFlattenReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/ArrWhereNotEmptyReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/ArrWhereNotNullReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/GetCoalesceReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/GetCoalesceRule.php
  src/Toolkit/PHPStan/Utility/StrCoalesceReturnTypeExtension.php
  src/Toolkit/PHPStan/phpstan.extension.neon
  tests/bootstrap.php
  tests/unit/Toolkit/PHPStan/Core/ImmutableTraitRuleFailures.php
  tests/unit/Toolkit/PHPStan/Core/ImmutableTraitRuleTest.php
  tests/unit/Toolkit/PHPStan/Utility/GetCoalesceRuleFailures.php
  tests/unit/Toolkit/PHPStan/Utility/GetCoalesceRuleTest.php
  tests/unit/Toolkit/PHPStan/Utility/Type/UtilityReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/UtilityReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/data/ArrExtendReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/data/ArrFlattenReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/data/ArrWhereNotEmptyReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/data/ArrWhereNotNullReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/data/GetCoalesceReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/data/StrCoalesceReturnTypeExtensionAssertions.php
Due: PHPStan

PHPStan: Review extensions
  src/Toolkit/PHPStan/Internal/ReturnTypeExtensionTrait.php
  src/Toolkit/PHPStan/Utility/ArrWhereNotEmptyReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/ArrWhereNotNullReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/GetCoalesceReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/GetCoalesceRule.php
  src/Toolkit/PHPStan/Utility/StrCoalesceReturnTypeExtension.php
  tests/unit/Toolkit/PHPStan/Utility/GetCoalesceRuleFailures.php
  tests/unit/Toolkit/PHPStan/Utility/data/ArrWhereNotEmptyReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/data/ArrWhereNotNullReturnTypeExtensionAssertions.php
  tests/unit/Toolkit/PHPStan/Utility/data/StrCoalesceReturnTypeExtensionAssertions.php
Due: PHPStan

PHPStan: Review `ArrExtendReturnTypeExtension`
  src/Toolkit/PHPStan/Internal/ArgType.php
  src/Toolkit/PHPStan/Internal/ReturnTypeExtensionTrait.php
  src/Toolkit/PHPStan/Utility/ArrExtendReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/ArrWhereNotEmptyReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/ArrWhereNotNullReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/GetCoalesceReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/StrCoalesceReturnTypeExtension.php
  tests/unit/Toolkit/PHPStan/Utility/data/ArrExtendReturnTypeExtensionAssertions.php
Due: PHPStan

PHPStan: Review `ArrFlattenReturnTypeExtension` for consistency
  phpstan.neon.dist
  src/Toolkit/PHPStan/Internal/ReturnTypeExtensionTrait.php
  src/Toolkit/PHPStan/Utility/ArrFlattenReturnTypeExtension.php
  tests/unit/Toolkit/PHPStan/Core/ImmutableTraitRuleFailures.php
  tests/unit/Toolkit/PHPStan/Core/ImmutableTraitRuleTest.php
  tests/unit/Toolkit/PHPStan/Utility/UtilityReturnTypeExtensionTest.php
  tests/unit/Toolkit/PHPStan/Utility/data/ArrFlattenReturnTypeExtensionAssertions.php
Due: PHPStan

PHPStan: Finalise component review
  README.md
  src/Toolkit/PHPStan/Core/ImmutableTraitReadWritePropertiesExtension.php
  src/Toolkit/PHPStan/Core/ImmutableTraitRule.php
  src/Toolkit/PHPStan/README.md
  src/Toolkit/PHPStan/Utility/ArrExtendReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/ArrFlattenReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/ArrWhereNotEmptyReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/ArrWhereNotNullReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/GetCoalesceReturnTypeExtension.php
  src/Toolkit/PHPStan/Utility/GetCoalesceRule.php
  src/Toolkit/PHPStan/Utility/StrCoalesceReturnTypeExtension.php
Due: PHPStan

Update `.php-cs-fixer.dist.php`
  .php-cs-fixer.dist.php
Due: none

Polyfill: Review tests and `README.md`
  src/Toolkit/Polyfill/README.md
  tests/unit/Toolkit/Polyfill/NativePhpTokenTest.php
  tests/unit/Toolkit/Polyfill/PhpTokenTest.php
  tests/unit/Toolkit/Polyfill/PhpTokenTestCase.php
Due: Polyfills

Testing: Review component, update `README.md`
  src/Toolkit/Testing/Console/MockTarget.php
  src/Toolkit/Testing/README.md
Due: none

Cache: Update `README.md`
  src/Toolkit/Cache/README.md
Due: Cache

Add `check-coverage.php` script
  phpunit.xml.dist
  scripts/check-coverage.php
Due: none

Release v0.99.77
  CHANGELOG.md
Due: none

Container: Rearrange event and exception interfaces
  src/Toolkit/Container/Event/BeforeGlobalContainerSetEvent.php
  src/Toolkit/Container/Exception/ArgumentsNotUsedException.php
  src/Toolkit/Container/Exception/InvalidServiceException.php
  src/Toolkit/Container/Exception/ServiceNotFoundException.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Contract/Container/Event/BeforeGlobalContainerSetEventInterface.php
  src/Toolkit/Contract/Container/Exception/ArgumentsNotUsedExceptionInterface.php
  src/Toolkit/Contract/Container/Exception/ContainerExceptionInterface.php
  src/Toolkit/Contract/Container/Exception/InvalidServiceExceptionInterface.php
  src/Toolkit/Contract/Container/Exception/ServiceNotFoundExceptionInterface.php
  src/Toolkit/Core/Facade/Facade.php
  tests/test-sli
  tests/unit/Toolkit/Container/ContainerTest.php
Due: Container, Contracts, Core

Container: Rename event and exception interfaces for consistency
  src/Toolkit/Container/Event/BeforeGlobalContainerSetEvent.php
  src/Toolkit/Container/Exception/ArgumentsNotUsedException.php
  src/Toolkit/Container/Exception/InvalidServiceException.php
  src/Toolkit/Container/Exception/ServiceNotFoundException.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Contract/Container/Event/BeforeGlobalContainerSetEvent.php
  src/Toolkit/Contract/Container/Exception/ArgumentsNotUsedException.php
  src/Toolkit/Contract/Container/Exception/ContainerException.php
  src/Toolkit/Contract/Container/Exception/InvalidServiceException.php
  src/Toolkit/Contract/Container/Exception/ServiceNotFoundException.php
  src/Toolkit/Core/Facade/Facade.php
  tests/test-sli
  tests/unit/Toolkit/Container/ContainerTest.php
Due: Container, Contracts, Core

Container: Review exceptions
  src/Toolkit/Container/Container.php
  src/Toolkit/Container/Exception/UnusedArgumentsException.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Contract/Container/Exception/ContainerException.php
  src/Toolkit/Contract/Container/Exception/UnusedArgumentsException.php
  tests/unit/Toolkit/Container/ContainerTest.php
Due: Container, Contracts

Container: Review `ContainerInterface`
  composer.json
  composer.lock
  docs/Container.md
  src/Toolkit/Container/Container.php
  src/Toolkit/Container/composer.json
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Core/Facade/App.php
  tests/unit/Toolkit/Container/ContainerTest.php
Due: Container, Contracts, Core

Container: Review `ContainerTest` for full coverage
  .prettyphp
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Core/Facade/App.php
  src/Toolkit/PHPStan/Container/ContainerGetAsRule.php
  src/Toolkit/PHPStan/phpstan.extension.neon
  tests/unit/Toolkit/Container/ContainerTest.php
Due: Container, Contracts, Core, PHPStan

Container: Review `ServiceLifetime`
  docs/Container.md
  scripts/generate.php
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Contract/Container/ServiceLifetime.php
  src/Toolkit/Core/Facade/App.php
  tests/unit/Toolkit/Container/ContainerTest.php
Due: Container, Contracts, Core

Container: Rename `ServiceLifetime` -> `HasServiceLifetime`
  scripts/generate.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Contract/Container/HasServiceLifetime.php
  src/Toolkit/Core/Facade/App.php
Due: Contracts, Core

Container: Review service interfaces and reimplement as needed
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Container/ContainerAwareInterface.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Contract/Container/HasBindings.php
  src/Toolkit/Contract/Container/HasContextualBindings.php
  src/Toolkit/Sync/AbstractSyncProvider.php
  tests/fixtures/Toolkit/Sync/Provider/JsonPlaceholderApi.php
  tests/unit/Toolkit/Container/ContainerTest.php
  tests/unit/Toolkit/Utility/Get/GetTest.php
Due: Container, Contracts, Sync

Container: Review `ContainerTest` for full coverage
  .prettyphp
  phpstan.neon.dist
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Core/Facade/App.php
  src/Toolkit/PHPStan/Container/ContainerRule.php
  src/Toolkit/PHPStan/README.md
  src/Toolkit/PHPStan/phpstan.extension.neon
  tests/bootstrap.php
  tests/unit/Toolkit/Container/ContainerTest.php
  tests/unit/Toolkit/PHPStan/Container/ContainerRuleFailures.php
  tests/unit/Toolkit/PHPStan/Container/ContainerRuleTest.php
Due: Container, Contracts, Core, PHPStan

Container: Review `ApplicationInterface`
  docs/App.md
  docs/Container.md
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Container/Container.php
  src/Toolkit/Contract/Container/ApplicationInterface.php
  src/Toolkit/Contract/Container/ContainerInterface.php
  src/Toolkit/Core/Legacy/Introspector.php
  src/Toolkit/Sync/Command/CheckSyncProviderHeartbeat.php
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Sync/Command/SendHttpSyncProviderRequest.php
  src/Toolkit/Sync/Support/SyncIntrospector.php
  src/Toolkit/Sync/SyncUtil.php
  tests/unit/Toolkit/Container/ContainerTest.php
  tests/unit/Toolkit/Sync/Support/SyncIntrospectorTest.php
Due: Cli, Container, Contracts, Core, Sync

Container: Review service interfaces
  src/Toolkit/Contract/Container/HasServices.php
  src/Toolkit/Contract/Container/ServiceAwareInterface.php
  src/Toolkit/Contract/Container/SingletonInterface.php
Due: Contracts

Container: Review classes
  src/Toolkit/Container/Event/BeforeGlobalContainerSetEvent.php
  src/Toolkit/Container/Event/ContainerEvent.php
Due: Container

Container: Rearrange methods in `ApplicationInterface`
  src/Toolkit/Contract/Container/ApplicationInterface.php
Due: Contracts

Container: Rearrange methods in `Application`
  src/Toolkit/Container/Application.php
Due: Container

Container: Review `ApplicationInterface`
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Contract/Cli/CliApplicationInterface.php
  src/Toolkit/Contract/Container/ApplicationInterface.php
  src/Toolkit/Core/Facade/App.php
  tests/unit/Toolkit/CommandTestCase.php
  tests/unit/Toolkit/Sync/Command/SyncCommandTestCase.php
Due: Cli, Container, Contracts, Core

Container: Review classes
  scripts/generate.php
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Container/Application.php
  src/Toolkit/Container/Event/BeforeGlobalContainerSetEvent.php
  src/Toolkit/Container/Event/ContainerEvent.php
  src/Toolkit/Container/Exception/ContainerException.php
  src/Toolkit/Container/Exception/InvalidServiceException.php
  src/Toolkit/Container/Exception/ServiceNotFoundException.php
  src/Toolkit/Container/Exception/UnusedArgumentsException.php
  src/Toolkit/Container/RequiresContainer.php
  src/Toolkit/Contract/Container/ApplicationInterface.php
Due: Cli, Container, Contracts

Container: Review `Application`
  src/Toolkit/Container/Application.php
  tests/unit/Toolkit/Container/ApplicationTest.php
Due: Container

Container: Review `Container` API
  scripts/check-coverage.php
  src/Toolkit/Container/Container.php
Due: Container

Container: Improve `Application` test coverage
  tests/unit/Toolkit/Container/ApplicationTest.php
Due: none

Customise ApiGen analyzer filter to better represent intended API
  tools/apigen/apigen.neon
  tools/apigen/composer.json
  tools/apigen/composer.lock
  tools/apigen/phpstan.neon.dist
  tools/apigen/src/AnalyzerFilter.php
Due: none

Console: Rearrange classes before refactoring
  docs/Console.md
  src/Toolkit/Cli/CliApplication.php
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliHelpStyle.php
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/Format/ConsoleFormat.php
  src/Toolkit/Console/Format/ConsoleFormatter.php
  src/Toolkit/Console/Format/ConsoleFormatterFactory.php
  src/Toolkit/Console/Format/ConsoleLoopbackFormat.php
  src/Toolkit/Console/Format/ConsoleManPageFormat.php
  src/Toolkit/Console/Format/ConsoleMarkdownFormat.php
  src/Toolkit/Console/Format/ConsoleMessageAttributes.php
  src/Toolkit/Console/Format/ConsoleMessageFormat.php
  src/Toolkit/Console/Format/ConsoleMessageFormats.php
  src/Toolkit/Console/Format/ConsoleTagAttributes.php
  src/Toolkit/Console/Format/ConsoleTagFormatFactory.php
  src/Toolkit/Console/Format/ConsoleTagFormats.php
  src/Toolkit/Console/Target/AnalogTarget.php
  src/Toolkit/Console/Target/ConsolePrefixTarget.php
  src/Toolkit/Console/Target/ConsoleStreamTarget.php
  src/Toolkit/Console/Target/ConsoleTarget.php
  src/Toolkit/Console/Target/LoggerTarget.php
  src/Toolkit/Console/Target/StreamTarget.php
  src/Toolkit/Contract/Cli/CliHelpStyleInterface.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Contract/Console/Format/ConsoleFormatInterface.php
  src/Toolkit/Contract/Console/Format/ConsoleFormatterInterface.php
  src/Toolkit/Contract/Console/Format/ConsoleMessageAttributesInterface.php
  src/Toolkit/Contract/Console/Format/ConsoleMessageFormatInterface.php
  src/Toolkit/Contract/Console/Format/ConsoleTag.php
  src/Toolkit/Contract/Console/Format/ConsoleTagAttributesInterface.php
  src/Toolkit/Contract/Console/Target/ConsoleTargetInterface.php
  src/Toolkit/Contract/Console/Target/ConsoleTargetPrefixInterface.php
  src/Toolkit/Contract/Console/Target/ConsoleTargetStreamInterface.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  src/Toolkit/Testing/Console/MockTarget.php
  tests/3rdparty/Toolkit/PsrLog/LoggerTest.php
  tests/unit/Toolkit/Console/ConsoleFormatterTest.php
  tests/unit/Toolkit/Console/ConsoleTest.php
Due: Cli, Console, Contracts, Core, Sync

Console: Rename interfaces and constants before refactoring
  scripts/generate.php
  src/Toolkit/Console/Console.php
  src/Toolkit/Console/Target/ConsolePrefixTarget.php
  src/Toolkit/Console/Target/ConsoleStreamTarget.php
  src/Toolkit/Console/Target/ConsoleTarget.php
  src/Toolkit/Contract/Console/ConsoleInterface.php
  src/Toolkit/Contract/Console/ConsoleTargetTypeFlag.php
  src/Toolkit/Contract/Console/Target/HasPrefix.php
  src/Toolkit/Contract/Console/Target/StreamTargetInterface.php
  src/Toolkit/Contract/Console/Target/TargetInterface.php
  src/Toolkit/Core/Facade/Console.php
  src/Toolkit/Testing/Console/MockTarget.php
Due: Console, Contracts, Core

Path conditions:
  Cache: any of: src/Toolkit/Cache/**
  Cli: any of: src/Toolkit/Cli/**
  Collections: any of: src/Toolkit/Collection/**
  Console: any of: src/Toolkit/Console/**
  Container: any of: src/Toolkit/Container/**
  Contracts: any of: src/Toolkit/Contract/**
  Core: any of: src/Toolkit/Core/**
  Curler: any of: src/Toolkit/Curler/**
  Db: any of: src/Toolkit/Db/**
  Http: any of: src/Toolkit/Http/**
  Iterators: any of: src/Toolkit/Iterator/**
  PHPDoc: any of: src/Toolkit/PHPDoc/**
  PHPStan: any of: src/Toolkit/PHPStan/**
  Polyfills: any of: src/Toolkit/Polyfill/**
  Sli: any of: src/Toolkit/Sli/**
  Sync: any of: src/Toolkit/Sync/**
  Utils: any of: src/Toolkit/Utility/**
