Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

codecov.yml:

component_management:
  individual_components:
    - component_id: cache
      name: Cache
      paths:
        - "src/Toolkit/Cache/**"
    - component_id: cli
      name: Cli
      paths:
        - "src/Toolkit/Cli/**"
    - component_id: collections
      name: Collections
      paths:
        - "src/Toolkit/Collection/**"
    - component_id: console
      name: Console
      paths:
        - "src/Toolkit/Console/**"
    - component_id: container
      name: Container
      paths:
        - "src/Toolkit/Container/**"
    - component_id: contracts
      name: Contracts
      paths:
        - "src/Toolkit/Contract/**"
    - component_id: core
      name: Core
      paths:
        - "src/Toolkit/Core/**"
    - component_id: curler
      name: Curler
      paths:
        - "src/Toolkit/Curler/**"
    - component_id: db
      name: Db
      paths:
        - "src/Toolkit/Db/**"
    - component_id: http
      name: Http
      paths:
        - "src/Toolkit/Http/**"
    - component_id: iterators
      name: Iterators
      paths:
        - "src/Toolkit/Iterator/**"
    - component_id: phpdoc
      name: PHPDoc
      paths:
        - "src/Toolkit/PHPDoc/**"
    - component_id: phpstan
      name: PHPStan
      paths:
        - "src/Toolkit/PHPStan/**"
    - component_id: polyfills
      name: Polyfills
      paths:
        - "src/Toolkit/Polyfill/**"
    - component_id: sli
      name: Sli
      paths:
        - "src/Toolkit/Sli/**"
    - component_id: sync
      name: Sync
      paths:
        - "src/Toolkit/Sync/**"
    - component_id: utils
      name: Utils
      paths:
        - "src/Toolkit/Utility/**"

comment:
  layout: "condensed_header, condensed_files, condensed_footer, components"

Add `CliUtil` with `getJson()` and consolidate similar methods
  src/Toolkit/Cli/CliUtil.php
  src/Toolkit/Sli/Command/AbstractCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sync/Command/AbstractSyncCommand.php
  src/Toolkit/Sync/Command/SendHttpSyncProviderRequest.php
Due: Cli, Sli, Sync

Http: Review interfaces
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Http/FormDataFlag.php
  src/Toolkit/Contract/Http/HasFormDataFlag.php
  src/Toolkit/Contract/Http/HasMediaType.php
  src/Toolkit/Contract/Http/HasRequestMethod.php
  src/Toolkit/Contract/Http/HttpRequestMethod.php
  src/Toolkit/Contract/Http/Message/HttpMessageInterface.php
  src/Toolkit/Contract/Http/Message/HttpMultipartStreamPartInterface.php
  src/Toolkit/Contract/Http/Message/HttpRequestInterface.php
  src/Toolkit/Contract/Http/MimeType.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerBuilder.php
  src/Toolkit/Http/AbstractHttpMessage.php
  src/Toolkit/Http/FormData.php
  src/Toolkit/Http/HttpMultipartStreamPart.php
  src/Toolkit/Http/HttpRequest.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Http/HttpStream.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sync/Command/SendHttpSyncProviderRequest.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinitionBuilder.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/FormDataTest.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/Http/HttpStreamTest.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
  tests/unit/Toolkit/HttpTestCase.php
  tests/unit/Toolkit/http-client.php
  tests/unit/Toolkit/http-server.php
Due: Contracts, Curler, Http, Sli, Sync

Http: Review `HttpHeadersInterface`
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Http/HasHeaders.php
  src/Toolkit/Contract/Http/HasHttpHeaders.php
  src/Toolkit/Contract/Http/HttpHeadersInterface.php
  src/Toolkit/Contract/Http/HttpMessageInterface.php
  src/Toolkit/Http/HasHttpHeaders.php
Due: Contracts, Http

Http: Move message-related interfaces to `Salient\Contract\Http\Message`
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Curler/CurlerMiddlewareInterface.php
  src/Toolkit/Contract/Curler/CurlerPagerInterface.php
  src/Toolkit/Contract/Curler/Event/CurlResponseEvent.php
  src/Toolkit/Contract/Curler/Event/ResponseCacheHitEvent.php
  src/Toolkit/Contract/Curler/Exception/ResponseException.php
  src/Toolkit/Contract/Http/Message/HttpMessageInterface.php
  src/Toolkit/Contract/Http/Message/HttpMultipartStreamInterface.php
  src/Toolkit/Contract/Http/Message/HttpMultipartStreamPartInterface.php
  src/Toolkit/Contract/Http/Message/HttpRequestInterface.php
  src/Toolkit/Contract/Http/Message/HttpResponseInterface.php
  src/Toolkit/Contract/Http/Message/HttpServerRequestInterface.php
  src/Toolkit/Contract/Http/Message/HttpStreamInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerBuilder.php
  src/Toolkit/Curler/Event/CurlResponseEvent.php
  src/Toolkit/Curler/Event/ResponseCacheHitEvent.php
  src/Toolkit/Curler/Exception/GenericResponseException.php
  src/Toolkit/Curler/Exception/HttpErrorException.php
  src/Toolkit/Curler/Pager/LinkPager.php
  src/Toolkit/Curler/Pager/ODataPager.php
  src/Toolkit/Curler/Pager/QueryPager.php
  src/Toolkit/Http/AbstractHttpMessage.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Http/HttpMultipartStream.php
  src/Toolkit/Http/HttpMultipartStreamPart.php
  src/Toolkit/Http/HttpRequest.php
  src/Toolkit/Http/HttpResponse.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Http/HttpServerRequest.php
  src/Toolkit/Http/HttpStream.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  tests/fixtures/Toolkit/Sync/Provider/MockoonPager.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpMultipartStreamTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/HttpTestCase.php
Due: Contracts, Curler, Http

Http: Review interfaces
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Curler/CurlerPagerInterface.php
  src/Toolkit/Contract/Http/HasHeader.php
  src/Toolkit/Contract/Http/HttpHeader.php
  src/Toolkit/Contract/Http/HttpHeaderGroup.php
  src/Toolkit/Contract/Http/HttpHeadersInterface.php
  src/Toolkit/Contract/Http/Message/HttpMessageInterface.php
  src/Toolkit/Contract/Http/Message/HttpMultipartStreamInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerBuilder.php
  src/Toolkit/Curler/Pager/LinkPager.php
  src/Toolkit/Curler/Pager/ODataPager.php
  src/Toolkit/Http/AbstractHttpMessage.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Http/HttpMultipartStream.php
  src/Toolkit/Http/HttpRequest.php
  src/Toolkit/Http/HttpResponse.php
  src/Toolkit/Http/HttpServer.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/Http/HttpRequestTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/HttpTestCase.php
  tests/unit/Toolkit/TestUtil.php
  tests/unit/Toolkit/http-server.php
Due: Contracts, Curler, Http

Http: Review `UriInterface` and `Uri`
  src/Toolkit/Contract/Http/UriInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/HttpRequest.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Uri.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
  tests/unit/Toolkit/Http/UriTest.php
Due: Contracts, Curler, Http

Http: Review interfaces
  src/Toolkit/Contract/Curler/CurlerInterface.php
  src/Toolkit/Contract/Curler/CurlerPagerInterface.php
  src/Toolkit/Contract/Http/HasFormDataFlag.php
  src/Toolkit/Contract/Http/HasHttpHeader.php
  src/Toolkit/Contract/Http/HasHttpHeaders.php
  src/Toolkit/Contract/Http/HeadersInterface.php
  src/Toolkit/Contract/Http/Message/MessageInterface.php
  src/Toolkit/Contract/Http/Message/MultipartStreamInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerBuilder.php
  src/Toolkit/Http/FormData.php
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Http/HttpStream.php
  src/Toolkit/Http/HttpUtil.php
  tests/unit/Toolkit/Http/FormDataTest.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/Http/HttpRequestTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/Http/HttpStreamTest.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
  tests/unit/Toolkit/HttpTestCase.php
  tests/unit/Toolkit/TestUtil.php
  tests/unit/Toolkit/http-server.php
Due: Contracts, Curler, Http

Http: Rename `HttpRequest.php` before refactoring
  src/Toolkit/Http/AbstractHttpRequest.php
Due: Http

Http: Review `MessageInterface`
  src/Toolkit/Contract/Http/Message/MessageInterface.php
  src/Toolkit/Contract/Http/Message/RequestInterface.php
  src/Toolkit/Contract/Http/Message/ResponseInterface.php
  src/Toolkit/Contract/Http/Message/ServerRequestInterface.php
  src/Toolkit/Http/AbstractHttpMessage.php
  src/Toolkit/Http/AbstractHttpRequest.php
  src/Toolkit/Http/HttpRequest.php
  src/Toolkit/Http/HttpResponse.php
  src/Toolkit/Http/HttpServerRequest.php
  tests/unit/Toolkit/Http/HttpMultipartStreamTest.php
Due: Contracts, Http

Http: Review stream interfaces
  src/Toolkit/Contract/Http/Message/MultipartStreamInterface.php
  src/Toolkit/Contract/Http/Message/StreamInterface.php
  src/Toolkit/Contract/Http/Message/StreamPartInterface.php
  src/Toolkit/Http/HttpMultipartStream.php
  src/Toolkit/Http/HttpMultipartStreamPart.php
  tests/unit/Toolkit/Http/HttpMultipartStreamPartTest.php
  tests/unit/Toolkit/Http/HttpMultipartStreamTest.php
Due: Contracts, Http

Collection: Rename files before refactoring
  src/Toolkit/Collection/DictionaryTrait.php
  src/Toolkit/Contract/Collection/DictionaryInterface.php
Due: Collections, Contracts

Collection: Introduce dictionary interface, class and trait
  src/Toolkit/Collection/CollectionTrait.php
  src/Toolkit/Collection/Dictionary.php
  src/Toolkit/Collection/DictionaryTrait.php
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
  src/Toolkit/Contract/Collection/CollectionInterface.php
  src/Toolkit/Contract/Collection/DictionaryInterface.php
Due: Collections, Contracts

Http: Review `HeadersInterface`
  scripts/check-coverage.php
  src/Toolkit/Contract/Http/HeadersInterface.php
  src/Toolkit/Http/HasHttpHeaders.php
  src/Toolkit/Http/HttpHeaders.php
  src/Toolkit/Http/HttpServer.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/TestUtil.php
Due: Contracts, Http

Http: Review class names
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerFile.php
  src/Toolkit/Curler/CurlerHarRecorder.php
  src/Toolkit/Curler/Exception/GenericRequestException.php
  src/Toolkit/Curler/Pager/ODataPager.php
  src/Toolkit/Http/AbstractMessage.php
  src/Toolkit/Http/AbstractRequest.php
  src/Toolkit/Http/HasInnerHeadersTrait.php
  src/Toolkit/Http/Headers.php
  src/Toolkit/Http/MessageFactory.php
  src/Toolkit/Http/MultipartStream.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  src/Toolkit/Http/Request.php
  src/Toolkit/Http/Response.php
  src/Toolkit/Http/Server.php
  src/Toolkit/Http/ServerRequest.php
  src/Toolkit/Http/ServerRequestUpload.php
  src/Toolkit/Http/Stream.php
  src/Toolkit/Http/StreamPart.php
  src/Toolkit/Sync/Http/HttpSyncProvider.php
  tests/3rdparty/Toolkit/Psr7Test/RequestTest.php
  tests/3rdparty/Toolkit/Psr7Test/ResponseTest.php
  tests/3rdparty/Toolkit/Psr7Test/ServerRequestTest.php
  tests/3rdparty/Toolkit/Psr7Test/StreamTest.php
  tests/3rdparty/Toolkit/Psr7Test/UploadedFileTest.php
  tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpFactoryTest.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/Http/HttpMultipartStreamPartTest.php
  tests/unit/Toolkit/Http/HttpMultipartStreamTest.php
  tests/unit/Toolkit/Http/HttpRequestTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/Http/HttpStreamTest.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
  tests/unit/Toolkit/HttpTestCase.php
  tests/unit/Toolkit/TestUtil.php
  tests/unit/Toolkit/http-server.php
Due: Curler, Http, Sync

Http: Rearrange classes
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/CurlerFile.php
  src/Toolkit/Curler/CurlerHarRecorder.php
  src/Toolkit/Curler/Exception/GenericRequestException.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Internal/FormData.php
  src/Toolkit/Http/Message/AbstractMessage.php
  src/Toolkit/Http/Message/AbstractRequest.php
  src/Toolkit/Http/Message/MessageFactory.php
  src/Toolkit/Http/Message/MultipartStream.php
  src/Toolkit/Http/Message/Request.php
  src/Toolkit/Http/Message/Response.php
  src/Toolkit/Http/Message/ServerRequest.php
  src/Toolkit/Http/Message/ServerRequestUpload.php
  src/Toolkit/Http/Message/Stream.php
  src/Toolkit/Http/Message/StreamPart.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  src/Toolkit/Http/Server/Server.php
  tests/3rdparty/Toolkit/Psr7Test/RequestTest.php
  tests/3rdparty/Toolkit/Psr7Test/ResponseTest.php
  tests/3rdparty/Toolkit/Psr7Test/ServerRequestTest.php
  tests/3rdparty/Toolkit/Psr7Test/StreamTest.php
  tests/3rdparty/Toolkit/Psr7Test/UploadedFileTest.php
  tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/FormDataTest.php
  tests/unit/Toolkit/Http/HttpFactoryTest.php
  tests/unit/Toolkit/Http/HttpMultipartStreamPartTest.php
  tests/unit/Toolkit/Http/HttpMultipartStreamTest.php
  tests/unit/Toolkit/Http/HttpRequestTest.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/Http/HttpStreamTest.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
  tests/unit/Toolkit/http-server.php
Due: Curler, Http

Http: Review `AbstractMessage` and `AbstractRequest`
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Message/AbstractMessage.php
  src/Toolkit/Http/Message/AbstractRequest.php
  src/Toolkit/Http/Server/Server.php
  tests/unit/Toolkit/Http/HttpMultipartStreamTest.php
  tests/unit/Toolkit/Http/HttpRequestTest.php
  tests/unit/Toolkit/Http/Message/ResponseTest.php
  tests/unit/Toolkit/http-client.php
Due: Curler, Http

Http: Rearrange `AbstractMessage` and `AbstractRequest` members
  src/Toolkit/Http/Message/AbstractMessage.php
  src/Toolkit/Http/Message/AbstractRequest.php
Due: Http

Http: Review message classes
  src/Toolkit/Curler/CurlerFile.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Message/AbstractMessage.php
  src/Toolkit/Http/Message/HasBody.php
  src/Toolkit/Http/Message/MessageFactory.php
  src/Toolkit/Http/Message/MultipartStream.php
  src/Toolkit/Http/Message/Request.php
  src/Toolkit/Http/Message/Response.php
  src/Toolkit/Http/Message/ServerRequest.php
  src/Toolkit/Http/Message/ServerRequestUpload.php
  src/Toolkit/Http/Message/Stream.php
  src/Toolkit/Http/Message/StreamPart.php
  tests/phpstan-conditional.php
  tests/unit/Toolkit/Http/HttpMultipartStreamPartTest.php
  tests/unit/Toolkit/Http/HttpStreamTest.php
Due: Curler, Http

Http: Review `HttpUtil`
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Message/AbstractRequest.php
  src/Toolkit/Http/Message/MultipartStream.php
  src/Toolkit/Http/Server/Server.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
Due: Curler, Http

Http: Improve test coverage
  tests/unit/Toolkit/Http/HeadersTest.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
Due: none

Collection: Allow more flexible implementations of `Arrayable`
  src/Toolkit/Collection/ArrayableCollectionTrait.php
  src/Toolkit/Collection/Collection.php
  src/Toolkit/Collection/Dictionary.php
  src/Toolkit/Collection/DictionaryTrait.php
  src/Toolkit/Collection/HasItems.php
  src/Toolkit/Collection/ListCollection.php
  src/Toolkit/Collection/ListCollectionTrait.php
  src/Toolkit/Collection/ReadOnlyCollectionTrait.php
  src/Toolkit/Collection/RecursiveArrayableCollectionTrait.php
  src/Toolkit/Contract/Collection/CollectionInterface.php
  src/Toolkit/Contract/Collection/DictionaryInterface.php
  src/Toolkit/Http/Headers.php
  src/Toolkit/Sync/Support/SyncErrorCollection.php
  src/Toolkit/Sync/SyncStore.php
  tests/unit/Toolkit/Core/Concern/ImmutableTrait/MyImmutableClass.php
Due: Collections, Contracts, Http, Sync

Http: Review `Headers`
  src/Toolkit/Contract/Http/HeadersInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Pager/ODataPager.php
  src/Toolkit/Http/Headers.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Message/Response.php
  src/Toolkit/Http/Server/Server.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpHeadersTest.php
  tests/unit/Toolkit/Http/HttpUtilTest.php
  tests/unit/Toolkit/TestUtil.php
Due: Contracts, Curler, Http

Http: Move regular expressions to dedicated interface
  src/Toolkit/Http/HasHttpRegex.php
  src/Toolkit/Http/Headers.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Message/AbstractRequest.php
  src/Toolkit/Http/Uri.php
  src/Toolkit/Utility/Regex.php
Due: Http, Utils

Http: Rearrange `Headers` before refactoring
  src/Toolkit/Http/Headers.php
Due: Http

Http: Update `FormData` API before renaming
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Internal/FormData.php
  src/Toolkit/Http/Message/Stream.php
  tests/unit/Toolkit/Http/FormDataTest.php
Due: Http

Http: Rearrange methods in `HttpUtil` (no code changes)
  src/Toolkit/Http/HttpUtil.php
Due: Http

Review referenced RFCs for compliance, clarity and currency
  src/Toolkit/Contract/Http/HeadersInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Http/HasHttpRegex.php
  src/Toolkit/Http/Headers.php
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Message/AbstractRequest.php
  src/Toolkit/Http/Message/MultipartStream.php
  src/Toolkit/Http/Server/Server.php
  src/Toolkit/Utility/Get.php
  src/Toolkit/Utility/Regex.php
  tests/unit/Toolkit/Http/HeadersTest.php
  tests/unit/Toolkit/Sync/SyncStoreTest.php
Due: Contracts, Curler, Http, Utils

Http: Review exception classes
  src/Toolkit/Http/Exception/InvalidStreamRequestException.php
  src/Toolkit/Http/Exception/StreamClosedException.php
  src/Toolkit/Http/Exception/StreamDetachedException.php
  src/Toolkit/Http/Exception/StreamInvalidRequestException.php
  src/Toolkit/Http/Exception/UploadFailedException.php
  src/Toolkit/Http/Exception/UploadedFileException.php
  src/Toolkit/Http/Message/MultipartStream.php
  src/Toolkit/Http/Message/ServerRequestUpload.php
  src/Toolkit/Http/Message/Stream.php
  tests/unit/Toolkit/Http/HttpMultipartStreamTest.php
  tests/unit/Toolkit/Http/HttpStreamTest.php
Due: Http

Http: Review `FormDataEncoder`, add initial HTTP documentation
  docs/Benchmarks.md
  docs/Http.md
  src/Toolkit/Http/Internal/FormDataEncoder.php
  tests/unit/Toolkit/Http/Internal/FormDataEncoderTest.php
Due: Http

Http: Rename `FormData` to `FormDataEncoder`
  src/Toolkit/Http/HttpUtil.php
  src/Toolkit/Http/Internal/FormDataEncoder.php
  src/Toolkit/Http/Message/Stream.php
  tests/unit/Toolkit/Http/Internal/FormDataEncoderTest.php
Due: Http

Http: Refactor `Server` for clarity, compliance and consistency
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  src/Toolkit/Http/Server/Server.php
  src/Toolkit/Http/Server/ServerResponse.php
  tests/unit/Toolkit/Http/HttpServerTest.php
  tests/unit/Toolkit/http-server.php
Due: Http

Http: Clean up after recent `Server` changes
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Contract/Http/Exception/InvalidHeaderException.php
  src/Toolkit/Http/Exception/InvalidHeaderException.php
  src/Toolkit/Http/Exception/ServerException.php
  src/Toolkit/Http/Server/Server.php
  src/Toolkit/Http/Server/ServerResponse.php
  tests/unit/Toolkit/Curler/CurlerTest.php
  tests/unit/Toolkit/Http/HttpStreamTest.php
  tests/unit/Toolkit/Http/ServerTest.php
  tests/unit/Toolkit/HttpTestCase.php
  tests/unit/Toolkit/TestUtil.php
  tests/unit/Toolkit/Utility/RegexTest.php
  tests/unit/Toolkit/http-client.php
  tests/unit/Toolkit/http-server.php
Due: Contracts, Http

Update dependencies, fix issues reported by latest PHPStan
  composer.lock
  src/Toolkit/Core/Legacy/IntrospectionClass.php
  src/Toolkit/Core/Reflection/ClassReflection.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/PHPDoc/Tag/AbstractTag.php
  src/Toolkit/Sync/Command/CheckSyncProviderHeartbeat.php
  src/Toolkit/Sync/Command/GetSyncEntity.php
  src/Toolkit/Sync/Command/SendHttpSyncProviderRequest.php
  src/Toolkit/Sync/Support/SyncEntityProvider.php
  src/Toolkit/Utility/Regex.php
  tests/phpstan-conditional.php
Due: Core, Curler, PHPDoc, Sync, Utils

Http: Review credential classes
  src/Toolkit/Contract/Http/CredentialInterface.php
  src/Toolkit/Http/GenericCredential.php
  src/Toolkit/Http/GenericToken.php
  src/Toolkit/Http/OAuth2/OAuth2AccessToken.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php
  tests/unit/Toolkit/Http/HeadersTest.php
  tests/unit/Toolkit/Http/OAuth2/OAuth2AccessTokenTest.php
Due: Contracts, Http

Http: Rename/duplicate credential class files before refactoring
  src/Toolkit/Http/GenericToken.php
  src/Toolkit/Http/OAuth2/OAuth2AccessToken.php
  tests/unit/Toolkit/Http/OAuth2/OAuth2AccessTokenTest.php
Due: Http

Http: Review OAuth 2.0 classes
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  phpstan.neon.dist
  src/Toolkit/Http/OAuth2/HasGrantType.php
  src/Toolkit/Http/OAuth2/HasResponseType.php
  src/Toolkit/Http/OAuth2/OAuth2Client.php
  src/Toolkit/Http/OAuth2/OAuth2Flow.php
  src/Toolkit/Http/OAuth2/OAuth2GrantType.php
  tests/fixtures/Toolkit/Http/OAuth2/OAuth2Client/OAuth2TestClient.php
Due: Http

Curler: pass number of entities retrieved so far to `getPage()`
  src/Toolkit/Contract/Curler/CurlerPagerInterface.php
  src/Toolkit/Curler/Curler.php
  src/Toolkit/Curler/Pager/LinkPager.php
  src/Toolkit/Curler/Pager/ODataPager.php
  src/Toolkit/Curler/Pager/QueryPager.php
  tests/fixtures/Toolkit/Sync/Provider/MockoonPager.php
  tests/unit/Toolkit/Curler/CurlerTest.php
Due: Contracts, Curler

Update dependencies and tools
  .phive/phars.xml
  composer.lock
  src/Toolkit/Contract/Collection/DictionaryInterface.php
  src/Toolkit/Db/DbConnector.php
  src/Toolkit/Sync/AbstractSyncDefinition.php
  src/Toolkit/Sync/Db/DbSyncDefinition.php
  src/Toolkit/Sync/Http/HttpSyncDefinition.php
  src/Toolkit/Sync/Support/SyncEntityFuzzyResolver.php
  src/Toolkit/Utility/Arr.php
  src/Toolkit/Utility/Regex.php
  tools/apigen/composer.lock
  tools/mockoon-cli/package-lock.json
  tools/mockoon-cli/package.json
  tools/php-cs-fixer
  tools/pretty-php
Due: Contracts, Db, Sync, Utils
