Repository salient-labs/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: Cache, Cli, Collections, Console, Container, Contracts, Core, Curler, Db, Http, Iterators, PHPDoc, PHPStan, Polyfills, Sli, Sync, Utils

codecov.yml:

component_management:
  individual_components:
    - component_id: cache
      name: Cache
      paths:
        - "src/Toolkit/Cache/**"
    - component_id: cli
      name: Cli
      paths:
        - "src/Toolkit/Cli/**"
    - component_id: collections
      name: Collections
      paths:
        - "src/Toolkit/Collection/**"
    - component_id: console
      name: Console
      paths:
        - "src/Toolkit/Console/**"
    - component_id: container
      name: Container
      paths:
        - "src/Toolkit/Container/**"
    - component_id: contracts
      name: Contracts
      paths:
        - "src/Toolkit/Contract/**"
    - component_id: core
      name: Core
      paths:
        - "src/Toolkit/Core/**"
    - component_id: curler
      name: Curler
      paths:
        - "src/Toolkit/Curler/**"
    - component_id: db
      name: Db
      paths:
        - "src/Toolkit/Db/**"
    - component_id: http
      name: Http
      paths:
        - "src/Toolkit/Http/**"
    - component_id: iterators
      name: Iterators
      paths:
        - "src/Toolkit/Iterator/**"
    - component_id: phpdoc
      name: PHPDoc
      paths:
        - "src/Toolkit/PHPDoc/**"
    - component_id: phpstan
      name: PHPStan
      paths:
        - "src/Toolkit/PHPStan/**"
    - component_id: polyfills
      name: Polyfills
      paths:
        - "src/Toolkit/Polyfill/**"
    - component_id: sli
      name: Sli
      paths:
        - "src/Toolkit/Sli/**"
    - component_id: sync
      name: Sync
      paths:
        - "src/Toolkit/Sync/**"
    - component_id: utils
      name: Utils
      paths:
        - "src/Toolkit/Utility/**"

comment:
  layout: "condensed_header, condensed_files, condensed_footer, components"

Release v0.99.56
  CHANGELOG.md
Due: none

Update tools
  tools/apigen/composer.lock
  tools/mockoon-cli/package-lock.json
Due: none

Polyfill: Fix line calculation regression in `PhpToken`
  src/Toolkit/Polyfill/PhpToken.php
  tests/unit/Toolkit/Polyfill/PhpTokenTestCase.php
Due: Polyfills

Release v0.99.57
  CHANGELOG.md
Due: none

Standardise names of variables passed to `Regex` `$matches` parameters
  src/Toolkit/Console/ConsoleFormatter.php
  src/Toolkit/Core/IntrospectionClass.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Utility/Env.php
  src/Toolkit/Utility/Get.php
  src/Toolkit/Utility/Inflect.php
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/Utility/RegexTest.php
Due: Console, Core, Sli, Utils

Replace inline fully-qualified identifiers with imports
  src/Toolkit/Http/HttpServer.php
  src/Toolkit/Iterator/Concern/RecursiveGraphIteratorTrait.php
  tests/unit/Toolkit/Http/HttpStreamTest.php
  tests/unit/Toolkit/Utility/RegexTest.php
Due: Http, Iterators

Utility: Update `Arr::split()` return type annotation
  src/Toolkit/Utility/Regex.php
Due: Utils

PHPDoc: Review classes and interfaces
  scripts/extract-phpdoc-parser-tests.php
  src/Toolkit/PHPDoc/Exception/InvalidTagValueException.php
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocRegex.php
  src/Toolkit/PHPDoc/Tag/AbstractTag.php
  src/Toolkit/PHPDoc/Tag/ParamTag.php
  src/Toolkit/PHPDoc/Tag/ReturnTag.php
  src/Toolkit/PHPDoc/Tag/TemplateTag.php
  src/Toolkit/PHPDoc/Tag/VarTag.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
Due: PHPDoc, Sli

Progress commit
  src/Toolkit/Sli/Command/Analyse/AnalyseClass.php
  src/Toolkit/Sli/sli
Due: Sli

PHPDoc: Review classes and interfaces
  scripts/extract-phpdoc-parser-tests.php
  src/Toolkit/PHPDoc/Exception/InvalidTagValueException.php
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocRegex.php
  src/Toolkit/PHPDoc/Tag/AbstractTag.php
  src/Toolkit/PHPDoc/Tag/ParamTag.php
  src/Toolkit/PHPDoc/Tag/ReturnTag.php
  src/Toolkit/PHPDoc/Tag/TemplateTag.php
  src/Toolkit/PHPDoc/Tag/VarTag.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
Due: PHPDoc, Sli, Utils

PHPDoc: Review classes and interfaces
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  scripts/extract-phpdoc-parser-tests.php
  src/Toolkit/PHPDoc/Exception/InvalidTagValueException.php
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocRegex.php
  src/Toolkit/PHPDoc/Tag/AbstractTag.php
  src/Toolkit/PHPDoc/Tag/GenericTag.php
  src/Toolkit/PHPDoc/Tag/ParamTag.php
  src/Toolkit/PHPDoc/Tag/TemplateTag.php
  src/Toolkit/PHPDoc/Tag/VarTag.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  src/Toolkit/Sli/Command/Generate/GenerateFacade.php
  src/Toolkit/Utility/Str.php
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
Due: PHPDoc, Sli, Utils

PHPDoc: Rearrange methods in `PHPDoc`
  src/Toolkit/PHPDoc/PHPDoc.php
Due: PHPDoc

PHPDoc: Review `PHPDoc`
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/PHPDoc/Tag/AbstractTag.php
  src/Toolkit/Sli/Command/Generate/AbstractGenerateCommand.php
Due: PHPDoc, Sli

PHPDoc: Review `PHPDocUtil::normaliseType()`
  src/Toolkit/PHPDoc/PHPDocUtil.php
  tests/unit/Toolkit/PHPDoc/PHPDocTest.php
Due: PHPDoc

PHPDoc: Add `PHPDoc::hasReturn()`
  src/Toolkit/PHPDoc/PHPDoc.php
Due: PHPDoc

PHPDoc: Improve tag inheritance
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/PHPDoc/PHPDocUtil.php
Due: PHPDoc

Utility: Add `Reflect::getTraitMethod()` and `getTraitAliases()`
  src/Toolkit/Utility/Reflect.php
Due: Utils

Utility: Work around unstable `getPrototype()` behaviour in `Reflect`
  src/Toolkit/Utility/Reflect.php
Due: Utils

Sli: Add `AnalyseClass` command
  .gitattributes
  scripts/generate.php
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/NamespaceData.php
  src/Toolkit/Sli/Internal/GenericToken.php
  src/Toolkit/Sli/sli
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyBaseClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyInterface.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyTrait.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
  tests/phpstan-conditional.php
  tests/unit/Toolkit/Sli/Command/AnalyseClassTest.php
Due: Sli

Release v0.99.58
  CHANGELOG.md
Due: none

Update tools
  .phive/phars.xml
  tools/changelog
Due: none

Utility: Add `Reflect::getTraitProperty()` and `getTraitConstant()`
  src/Toolkit/Utility/Reflect.php
Due: Utils

Utility: Allow `Arr::unset()` to remove multiple keys per call
  src/Toolkit/Utility/Arr.php
Due: Utils

Sli: Add traits used, constants and properties to `AnalyseClass` output
  .php-cs-fixer.dist.php
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/ConstantData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
  src/Toolkit/Sli/Internal/NavigableToken.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
  src/Toolkit/Sli/bootstrap.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyBaseClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyInterface.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyTrait.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
  tests/unit/Toolkit/Sli/Command/AnalyseClassTest.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
Due: Sli

PHPDoc: Build out doc comment retrieval methods
  src/Toolkit/PHPDoc/PHPDocUtil.php
  src/Toolkit/Sli/Command/Generate/GenerateBuilder.php
  tests/unit/Toolkit/PHPDoc/PHPDocUtilTest.php
Due: PHPDoc, Sli

Sli: Fix inconsistent JSON output from `AnalyseClass`
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
Due: Sli

Sli: Add optional `private` and `internal` filters to `AnalyseClass`
  src/Toolkit/Sli/Command/AnalyseClass.php
Due: Sli

Sli: Improve Markdown output of `AnalyseClass`
  .gitattributes
  scripts/generate.php
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Utility/Str.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyBaseClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyInterface.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyTrait.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output3.md
  tests/unit/Toolkit/Sli/Command/AnalyseClassTest.php
Due: Sli, Utils

Sli: Fix PHP 7.4 issues
  scripts/generate.php
  src/Toolkit/PHPDoc/PHPDoc.php
  src/Toolkit/Sli/Command/AnalyseClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyBaseClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyClass.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output3.md
  tests/phpstan-conditional.php
Due: PHPDoc, Sli

Release v0.99.59
  CHANGELOG.md
Due: none

Utility: Rename `Str::toMarkdown()` to `escapeMarkdown()` and review
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Utility/Str.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output3.md
  tests/unit/Toolkit/Utility/StrTest.php
Due: Sli, Utils

Utility: Add optional `$strict` parameter to `Arr::unique()` and others
  src/Toolkit/Utility/Arr.php
Due: Utils

Utility: Add assertions to `Test` methods
  src/Toolkit/Utility/Test.php
  tests/unit/Toolkit/Utility/TestTest.php
Due: Utils

PHPDoc: Add `PHPDocUtil::removeTypeNamespaces()`
  src/Toolkit/PHPDoc/PHPDocUtil.php
Due: PHPDoc

Cli: Add new `CliOption` value types
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Cli/CliCommand.php
  src/Toolkit/Cli/CliOption.php
  src/Toolkit/Cli/CliOptionBuilder.php
  src/Toolkit/Contract/Cli/CliOptionValueType.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncEntity.php
  src/Toolkit/Sli/Command/Generate/GenerateSyncProvider.php
  tests/fixtures/Toolkit/Cli/Command/TestOptions.php
  tests/unit/Toolkit/Cli/CliApplicationTest.php
Due: Cli, Contracts, Sli

Core: Review `MetricCollector`
  phpstan-baseline-7.4.neon
  phpstan-baseline-8.3.neon
  src/Toolkit/Contract/Core/Metric.php
  src/Toolkit/Core/Facade/Profile.php
  src/Toolkit/Core/MetricCollector.php
  tests/unit/Toolkit/Core/MetricCollectorTest.php
Due: Contracts, Core

Container: Fix metric reporting regression in `Application`
  src/Toolkit/Container/Application.php
Due: Container

Sli: Fix issues reported by PHPStan on PHP 7.4 and 8.0
  tests/phpstan-conditional.php
  tests/stubs/BackedEnum.php
Due: none

Sli: Use test data provider to generate output, improve error handling
  scripts/generate.php
  tests/unit/Toolkit/Sli/Command/AnalyseClassTest.php
Due: none

Sli: Refactor `AnalyseClass` for clarity and consistency
  src/Toolkit/Sli/Command/AnalyseClass.php
  src/Toolkit/Sli/Internal/Data/ClassData.php
  src/Toolkit/Sli/Internal/Data/ClassDataFactory.php
  src/Toolkit/Sli/Internal/Data/ConstantData.php
  src/Toolkit/Sli/Internal/Data/HasPHPDoc.php
  src/Toolkit/Sli/Internal/Data/HasTemplates.php
  src/Toolkit/Sli/Internal/Data/MemberDataTrait.php
  src/Toolkit/Sli/Internal/Data/MethodData.php
  src/Toolkit/Sli/Internal/Data/NamespaceData.php
  src/Toolkit/Sli/Internal/Data/PropertyData.php
  src/Toolkit/Sli/Internal/TokenExtractor.php
  tests/fixtures/Toolkit/Reflection/MyBackedEnum.php
  tests/fixtures/Toolkit/Reflection/MyBackedEnumTrait.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/MyInterface.php
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output0.json
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output1.csv
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output2.md
  tests/fixtures/Toolkit/Sli/Command/AnalyseClass/output3.md
  tests/unit/Toolkit/Sli/Command/AnalyseClassTest.php
  tests/unit/Toolkit/Sli/Internal/Data/ClassDataTest.php
  tests/unit/Toolkit/Sli/Internal/TokenExtractorTest.php
Due: Sli
